---
import Layout from "../layouts/Layout.astro";
import Carousel from "../components/Carousel.astro";

const {} = Astro.props;
const response = await fetch(`${import.meta.env.PUBLIC_STRAPI_URL}`, {
    method: "POST",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify({
        query: `
        query{
            homePageSection1{
                data{
                    attributes{
                     project_details{
                         data{
                            attributes{
                                title
                                count
                                img_path
                            }
                        }
                    }
                    section_two_title
                    section_two_content
                    meta_title
                    meta_description
                    meta_keywords
                    section_three_title1
                    section_three_title2
                    section_three_content
                    section_three_button1
                    section_three_button2
                    section_four_title
                    section_four_content
                    section_four_button
                    section_four_video
                    section_five_title
                    section_five_content
                    section_five_button
                    section_five_video
                    section_six_title
                    section_six_content
                    section_six_button
                    section_six_video
                    section_seven_title
                    section_seven_content
                    section_seven_button
                    section_eight_title
                    section_eight_content
                    section_eight_button
                    section_metaverse_title
                      metavarse_development_lists{
                        data{
                          attributes {
                            title
                            content
                            image
                          }
                        }
                    }
                    section_metaverse_developmet
                      metavarse_development_service_lists( pagination: { limit: 100 }){
                        data{
                            attributes{
                                image
                          }
                        }
                      }
                      section_metaverse_domain_title
                      metaverse_domain_solutions{
                        data{
                          attributes{
                            text
                            image
                            content
                          }
                        }
                      }
                      section_our_technologies
                      metaverse_our_technologies{
                        data{
                          attributes{
                            image
                          }
                        }
                      }
                      section_why_metaprolane
                      section_metaprolane_description
                      metaverse_why_metaprolanes{
                        data{
                          attributes{
                          image
                            text
                            content
                          }
                        }
                      }
                      metaverse_lists{
                        data{
                          attributes{
                            title
                            content
                          }
                        }
                      }
                      metaverse_faq_title
                      metaverse_faq_lists {
                        data{
                            attributes{
                                title
                                content
                            }
                        }
                      }
                      
                }
            }
        }
    }
        `,
    }),
});
const data = await response.json();

const activeIndex = 1;
---

<!-- <link rel="stylesheet" href="/styles/css/bootstrap-rtl.css"/> --><!-- <link rel="stylesheet" href="/styles/css/bootstrap.css"/> -->
<Layout
    title={data.data.homePageSection1.data.attributes.meta_title}
    description={data.data.homePageSection1.data.attributes.meta_description}
    keywords={data.data.homePageSection1.data.attributes.meta_keywords}
>
    <html lang="en">
        <!-- <div class="home-container industries-page meta-product"> -->
        <link rel="stylesheet" href="/styles/css/retailShowroom.css" />

        <link
            rel="stylesheet"
            href="https://unpkg.com/swiper/swiper-bundle.min.css"
        />
        <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link
            type="text/css"
            rel="stylesheet"
            href="styles/css/style5597.css?ver=5.0"
        />
        <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="styles/css/fontawesome.css" />
        <!-- <link rel="stylesheet" href="assets/css/owl.css"> -->
        <link rel="stylesheet" href="styles/css/lightbox.css" />
        <link rel="stylesheet" href="/styles/blog/css/owl.css" />
        <link rel="stylesheet" href="/styles/css/style.css" />
        <link
            rel="stylesheet"
            href="styles/css/style.css?@#Oneinnt5556341Ones3sd3dfsf45ytg5v1"
        />
        <link rel="stylesheet" href="styles/css/animate.css" />
        <link rel="stylesheet" href="styles/css/style5597.css" />
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
            integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>

        <!-- <script
                is:inline
                src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
            ></script> -->

        <script is:inline>
            document.addEventListener("DOMContentLoaded", function () {
                let currentIndex = 0;
                const slides = document.querySelectorAll(".carousel-item");
                const totalSlides = slides.length;

                document
                    .querySelector(".carousel-control-next")
                    .addEventListener("click", () => {
                        slides[currentIndex].classList.remove("active");
                        currentIndex = (currentIndex + 1) % totalSlides;
                        slides[currentIndex].classList.add("active");
                    });

                document
                    .querySelector(".carousel-control-prev")
                    .addEventListener("click", () => {
                        slides[currentIndex].classList.remove("active");
                        currentIndex =
                            (currentIndex - 1 + totalSlides) % totalSlides;
                        slides[currentIndex].classList.add("active");
                    });
            });

            document.addEventListener("DOMContentLoaded", () => {
                const prevButton = document.querySelector(".slider_nav .prev");
                const nextButton = document.querySelector(".slider_nav .next");
                const items = document.querySelectorAll(".slider_top ul li");
                let currentIndex = 0; // Start from the first item

                function updateCarousel() {
                    items.forEach((item, index) => {
                        item.classList.remove(
                            "prev",
                            "prev2",
                            "active",
                            "next",
                            "next2",
                        );
                    });

                    const prevIndex =
                        (currentIndex - 1 + items.length) % items.length;
                    const nextIndex = (currentIndex + 1) % items.length;
                    const prev2Index =
                        (currentIndex - 2 + items.length) % items.length;
                    const next2Index = (currentIndex + 2) % items.length;

                    items[prev2Index].classList.add("prev2");
                    items[prevIndex].classList.add("prev");
                    items[currentIndex].classList.add("active");
                    items[nextIndex].classList.add("next");
                    items[next2Index].classList.add("next2");
                }

                function nextSlide() {
                    currentIndex = (currentIndex + 1) % items.length;
                    updateCarousel();
                }

                // Automatically advance to the next slide every 5 seconds
                setInterval(nextSlide, 3000);

                updateCarousel(); // Initial call to set the classes
            });

            document.addEventListener("DOMContentLoaded", function () {
                $(".owl-carousel1").owlCarousel({
                    items: 1, // Display one item-row at a time
                    margin: 20, // Space between items
                    loop: true, // Loop through items
                    autoplay: true, // Enable auto-play
                    autoplayTimeout: 3000, // Auto-play interval (in ms)
                    autoplayHoverPause: true, // Pause on hover
                    responsive: {
                        0: {
                            items: 1, // Display one item-row at a time on small screens
                        },
                        600: {
                            items: 3, // Display one item-row at a time on medium screens
                        },
                        800: {
                            items: 2, // Display one item-row at a time on medium screens
                        },
                        1000: {
                            items: 3, // Display one item-row at a time on large screens
                        }
                    },
                });
                $(".owl-carousel2").owlCarousel({
                    items: 1, // Display one item-row at a time
                    margin: 20, // Space between items
                    loop: true, // Loop through items
                    autoplay: true, // Enable auto-play
                    autoplayTimeout: 3000, // Auto-play interval (in ms)
                    autoplayHoverPause: true, // Pause on hover
                    responsive: {
                        0: {
                            items: 1, // Display one item-row at a time on small screens
                        },
                        600: {
                            items: 1, // Display one item-row at a time on medium screens
                        },
                        800: {
                            items: 2, // Display one item-row at a time on medium screens
                        },
                        1000: {
                            items: 3, // Display one item-row at a time on large screens
                        },
                        1200:{
                            items: 3
                        }
                    },
                });
                $(".owl-carousel3").owlCarousel({
                    items: 1, // Display one item-row at a time
                    margin: 20, // Space between items
                    loop: true, // Loop through items
                    autoplay: true, // Enable auto-play
                    autoplayTimeout: 3000, // Auto-play interval (in ms)
                    autoplayHoverPause: true, // Pause on hover
                    responsive: {
                        0: {
                            items: 1, // Display one item-row at a time on small screens
                        },
                        600: {
                            items: 1, // Display one item-row at a time on medium screens
                        },
                        800: {
                            items: 2, // Display one item-row at a time on medium screens
                        },
                        1000: {
                            items: 3, // Display one item-row at a time on large screens
                        },
                        1200:{
                            items: 5
                        }
                    },
                });
            });
        </script>

        <section class="section main-banner" id="top" data-section="section1">
            <video autoplay muted loop id="bg-video">
                <source src="/assets/video/home_banner.mp4" type="video/mp4" />
            </video>
        </section>
        <section class="under-banner-index">
            <div class="container">
                <div class="under-banner-values-section animation-element slide-left">
                    <div class="row">
                        {
                            data.data.homePageSection1.data.attributes.project_details.data.map(
                                (each: any, index: number) => {
                                    return (
                                        <div class="col-lg-3">
                                            <div class="svs-main d-flex count-area-content pluss">
                                                <div class="svs-l">
                                                    <img
                                                        src={
                                                            each.attributes
                                                                .img_path
                                                        }
                                                        alt="icon1"
                                                    />
                                                </div>
                                                <div class="svs-r">
                                                    <h6 class="text-green numbers-top">
                                                        {each.attributes.title}
                                                    </h6>
                                                    <div
                                                        class={`count-digit ${each.attributes.img_path == "/assets/images/icon1.webp" ? "noplus" : "numbers-bot"}`}
                                                    >
                                                        {each.attributes.count}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    );
                                },
                            )
                        }
                    </div>

                    <!-- <div class="col-lg-3">
                        <div class="svs-main d-flex count-area-content pluss">
                            <div class="svs-l">
                                <img
                                    src={data.data.homePageSection1.data
                                        .attributes.project_details.data[1]
                                        .attributes.img_path}
                                    alt="icon2"
                                />
                            </div>
                            <div class="svs-r">
                                <h6 class="text-green numbers-top">
                                    {
                                        data.data.homePageSection1.data
                                            .attributes.project_details.data[1]
                                            .attributes.title
                                    }
                                </h6>
                                <div class="count-digit noplus">
                                    {
                                        data.data.homePageSection1.data
                                            .attributes.project_details.data[1]
                                            .attributes.count
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="svs-main d-flex count-area-content pluss">
                            <div class="svs-l">
                                <img
                                    src="/assets/images/icon4.webp"
                                    alt="icon3"
                                />
                            </div>
                            <div class="svs-r">
                                <h6 class="text-green numbers-top">
                                    Blockchain<br />Experts
                                </h6>
                                <div class="count-digit">250</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="svs-main d-flex count-area-content pluss">
                            <div class="svs-l">
                                <img
                                    src="/assets/images/icon2.webp"
                                    alt="icon4"
                                />
                            </div>
                            <div class="svs-r">
                                <h6 class="text-green numbers-top">
                                    Global<br />Brands
                                </h6>
                                <div class="count-digit">120</div>
                            </div>
                        </div>
                    </div> -->

                    <!-- <div class="under-banner-carousel-section animation-element slide-left">
                        <div class="col-lg-12">
                          <Carousel />
                        </div>
                      </div> -->
                      <section class="under-banner top-section">
                        <div class="container">
                            <div
                                class="under-banner-carousel-section animation-element slide-left in-view"
                            >
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="owl-carousel owl-carousel1  owl-service-item">
                                            <div class="item">
                                                <div class="icon">
                                                    <img
                                                        src="/assets/images/icons1/aiko.png"
                                                        alt="Image icon"
                                                    />
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="icon">
                                                    <img
                                                        src="assets/images/icons1/back-stage2.png"
                                                        alt="Image icon"
                                                    />
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="icon">
                                                    <img
                                                        src="assets/images/icons1/bitcci.png"
                                                        alt="Image icon"
                                                    />
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="icon">
                                                    <img
                                                        src="assets/images/icons1/bitrpive.png"
                                                        alt="Image icon"
                                                    />
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="icon">
                                                    <img
                                                        src="assets/images/icons1/crazy-goat2.png"
                                                        alt="Image icon"
                                                    />
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="icon">
                                                    <img
                                                        src="assets/images/icons1/elysium.png"
                                                        alt="Image icon"
                                                    />
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="icon">
                                                    <img
                                                        src="assets/images/icons1/graphiclink.png"
                                                        alt="Image icon"
                                                    />
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="icon">
                                                    <img
                                                        src="assets/images/icons1/lovely-inu.png"
                                                        alt="Image icon"
                                                    />
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="icon">
                                                    <img
                                                        src="assets/images/icons1/nugen.png"
                                                        alt="Image icon"
                                                    />
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="icon">
                                                    <img
                                                        src="assets/images/icons1/redcab.png"
                                                        alt="Image icon"
                                                    />
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="icon">
                                                    <img
                                                        src="assets/images/icons1/sdc-logo.png"
                                                        alt="Image icon"
                                                    />
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="icon">
                                                    <img
                                                        src="assets/images/icons1/skilchain.png"
                                                        alt="Image icon"
                                                    />
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="icon">
                                                    <img
                                                        src="assets/images/icons1/star-walkers.png"
                                                        alt="Image icon"
                                                    />
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="icon">
                                                    <img
                                                        src="assets/images/icons1/superfarm.png"
                                                        alt="Image icon"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- <div class="under-banner-carousel-section animation-element slide-left">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="d-flex">
                                    <div class="item">
                                        <div class="icon">
                                            <img
                                                src="/assets/images/icons1/aiko.png"
                                                alt="Image icon"
                                            />
                                        </div>
                                    </div>

                                    <div class="item">
                                        <div class="icon">
                                            <img
                                                src="assets/images/icons1/back-stage2.png"
                                                alt="Image icon"
                                            />
                                        </div>
                                    </div>

                                    <div class="item">
                                        <div class="icon">
                                            <img
                                                src="assets/images/icons1/back-stage2.png"
                                                alt="Image icon"
                                            />
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="icon">
                                            <img
                                                src="assets/images/icons1/bitcci.png"
                                                alt="Image icon"
                                            />
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="icon">
                                            <img
                                                src="assets/images/icons1/bitrpive.png"
                                                alt="Image icon"
                                            />
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="icon">
                                            <img
                                                src="assets/images/icons1/crazy-goat2.png"
                                                alt="Image icon"
                                            />
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="icon">
                                            <img
                                                src="assets/images/icons1/elysium.png"
                                                alt="Image icon"
                                            />
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="icon">
                                            <img
                                                src="assets/images/icons1/graphiclink.png"
                                                alt="Image icon"
                                            />
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="icon">
                                            <img
                                                src="assets/images/icons1/lovely-inu.png"
                                                alt="Image icon"
                                            />
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="icon">
                                            <img
                                                src="assets/images/icons1/nugen.png"
                                                alt="Image icon"
                                            />
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="icon">
                                            <img
                                                src="assets/images/icons1/redcab.png"
                                                alt="Image icon"
                                            />
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="icon">
                                            <img
                                                src="assets/images/icons1/sdc-logo.png"
                                                alt="Image icon"
                                            />
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="icon">
                                            <img
                                                src="assets/images/icons1/skilchain.png"
                                                alt="Image icon"
                                            />
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="icon">
                                            <img
                                                src="assets/images/icons1/star-walkers.png"
                                                alt="Image icon"
                                            />
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="icon">
                                            <img
                                                src="assets/images/icons1/superfarm.png"
                                                alt="Image icon"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>

        <section class="aboutmeta about-main abt-1 topmeta-dev-company">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="about-ms animation-element slide-right">
                            <h1 class="text-black top-t">
                                {
                                    data.data.homePageSection1.data.attributes
                                        .section_two_title
                                }
                            </h1>
                            <p class="text-gray2">
                                {
                                    data.data.homePageSection1.data.attributes
                                        .section_two_content
                                }
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="about-ms-r text-right animation-element slide-left">
                            <div class="about-ms-img ams2">
                                <img
                                    src="/assets/images/about2.webp"
                                    alt="About"
                                    class=""
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="aboutmeta about-main abt-1 topmeta-dev-company2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="about-ms animation-element slide-left">
                            <p class="text-black unlock-heading">
                                {
                                    data.data.homePageSection1.data.attributes
                                        .section_three_title1
                                }
                            </p>
                            <h2 class="text-blue h2-blue">
                                {
                                    data.data.homePageSection1.data.attributes
                                        .section_three_title2
                                }
                            </h2>
                            <p class="text-gray2 normal-paras">
                                {
                                    data.data.homePageSection1.data.attributes
                                        .section_three_content
                                }
                            </p>
                            <div class="unlock-btn-sec">
                                <a
                                    href="https://api.whatsapp.com/send?l=en&text=Hi!%20I%27m%20interested%20in%20one%20of%20your%20products%20&phone=919942011919"
                                    target="_blank"
                                    class="btn btn-primary"
                                    >{
                                        data.data.homePageSection1.data
                                            .attributes.section_three_button1
                                    }</a
                                >
                                <a href="#contact" class="btn btn-primary"
                                    >{
                                        data.data.homePageSection1.data
                                            .attributes.section_three_button2
                                    }</a
                                >
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="about-ms-r text-right  animation-element slide-right">
                            <div class="about-ms-img">
                                <img
                                    src="assets/images/about.webp"
                                    alt="About"
                                    class="vert-move3"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="immersive-experience" id="demo">
            <div class="bg-vectors">
                <img src="assets/images/white-bg.webp" alt="white bg" />
            </div>
            <div class="container immersive-experience-c">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="immersive-m-l animation-element slide-left">
                            <iframe
                                title="Metaprolane Video"
                                srcdoc="
                    <style>
                    body, .full {
                    width: 100%;
                    height: 100%;
                    margin: 0;
                    position: absolute;
                    display: flex;
                    justify-content: center;watch
                    object-fit: cover;
                    }
                    </style>
                    <a
                    href='https://www.youtube.com/embed/Yb-xi5hI5gQ?rel=0&modestbranding=1&autohide=1&mute=1&showinfo=0&controls=0&autoplay=1'
                    class='full'
                    >
                    <img
                    src='https://metaprolane.stsdev.site/assets/images/video3.png'
                    class='full'
                    />
                    <svg
                    version='1.1'
                    viewBox='0 0 68 48'
                    width='68px'
                    style='position: relative;'
                    >
                    <path d='M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z' fill='#f00'></path>
                    <path d='M 45,24 27,14 27,34' fill='#fff'></path>
                    </svg>
                    </a>
                    "
                                style="max-width: 640px; width: 100%; aspect-ratio: 16/9;"
                                frameborder="0"></iframe>
                        </div>
                        <!-- https://vumbnail.com/t0NKhGQVuhQ.jpg -->
                    </div>
                    <div class="col-lg-6">
                        <div class="immersive-m-r animation-element slide-right">
                            <h5 class="text-white get-experience">
                                {
                                    data.data.homePageSection1.data.attributes
                                        .section_four_title
                                }
                            </h5>
                            <p class="text-white text-last-right">
                                {
                                    data.data.homePageSection1.data.attributes
                                        .section_four_content
                                }
                            </p>
                            <p class="py-3">
                                <a class="btn btn-secondary" href="#contact"
                                    >{
                                        data.data.homePageSection1.data
                                            .attributes.section_four_button
                                    }</a
                                >
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-vectors">
                <img
                    src="assets/images/bg-vector1-white.webp"
                    alt="vector bg"
                />
            </div>
        </section>
        <section class="aboutmeta about-main trans-box">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about-ms animation-element slide-left">
                            <h5
                                class="text-black text-last-left2 ims get-experience pb-3"
                            >
                                {
                                    data.data.homePageSection1.data.attributes
                                        .section_five_title
                                }
                            </h5>
                            <p class="text-gray2 text-last-left">
                                {
                                    data.data.homePageSection1.data.attributes
                                        .section_five_content
                                }
                            </p>
                            <p class="btn-section py-3">
                                <a class="btn btn-primary" href="#contact"
                                    >{
                                        data.data.homePageSection1.data
                                            .attributes.section_five_button
                                    }</a
                                >
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="immersive-m-l animation-element slide-right">
                            <!-- https://www.youtube.com/embed/t0NKhGQVuhQ?rel=0&modestbranding=1&autohide=1&mute=1&showinfo=0&controls=0&autoplay=1 -->
                            <iframe
                                title="Metaprolane Video"
                                srcdoc="
                    <style>
                    body, .full {
                    width: 100%;
                    height: 100%;
                    margin: 0;
                    position: absolute;
                    display: flex;
                    justify-content: center;watch
                    object-fit: cover;
                    }
                    </style>
                    <a
                    href='https://www.youtube.com/embed/R-uCpc5KC1c?rel=0&modestbranding=1&autohide=1&mute=1&showinfo=0&controls=0&autoplay=1'
                    class='full'
                    >
                    <img
                    src='https://metaprolane.stsdev.site/assets/images/video1.png'
                    class='full'
                    />
                    <svg
                    version='1.1'
                    viewBox='0 0 68 48'
                    width='68px'
                    style='position: relative;'
                    >
                    <path d='M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z' fill='#f00'></path>
                    <path d='M 45,24 27,14 27,34' fill='#fff'></path>
                    </svg>
                    </a>
                    "
                                style="max-width: 640px; width: 100%; aspect-ratio: 16/9;"
                                frameborder="0"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="immersive-experience">
            <div class="bg-vectors">
                <img src="assets/images/white-bg.webp" alt="white bg" />
            </div>
            <div class="container immersive-experience-c">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="immersive-m-l animation-element slide-left">
                            <iframe
                                title="Metaprolane Video"
                                srcdoc="
                    <style>
                    body, .full {
                    width: 100%;
                    height: 100%;
                    margin: 0;
                    position: absolute;
                    display: flex;
                    justify-content: center;watch
                    object-fit: cover;
                    }
                    </style>
                    <a
                    href='https://www.youtube.com/embed/veaeTQJdOFA?rel=0&modestbranding=1&autohide=1&mute=1&showinfo=0&controls=0&autoplay=1'
                    class='full' 
                    >
                    <img
                    src='https://metaprolane.stsdev.site/assets/images/video2.png'
                    class='full'
                    />
                    <svg
                    version='1.1'
                    viewBox='0 0 68 48'
                    width='68px'
                    style='position: relative;'
                    >
                    <path d='M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z' fill='#f00'></path>
                    <path d='M 45,24 27,14 27,34' fill='#fff'></path>
                    </svg>
                    </a>
                    "
                                style="max-width: 640px; width: 100%; aspect-ratio: 16/9;"
                                frameborder="0"></iframe>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="immersive-m-r animation-element slide-right">
                            <h4 class="text-white get-experience">
                                {
                                    data.data.homePageSection1.data.attributes
                                        .section_six_title
                                }
                            </h4>
                            <p class="text-white text-last-right">
                                {
                                    data.data.homePageSection1.data.attributes
                                        .section_six_content
                                }
                            </p>
                            <p class="py-3">
                                <a class="btn btn-secondary" href="#contact"
                                    >{
                                        data.data.homePageSection1.data
                                            .attributes.section_six_button
                                    }</a
                                >
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-vectors">
                <img
                    src="assets/images/bg-vector1-white.webp"
                    alt="vector bg"
                />
            </div>
        </section>
        <section class="aboutmeta about-main trans-box">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about-ms animation-element slide-left">
                            <h5
                                class="text-black text-last-left2 ims get-experience pb-3"
                            >
                                {
                                    data.data.homePageSection1.data.attributes
                                        .section_seven_title
                                }
                            </h5>
                            <p class="text-gray2 text-last-left">
                                {
                                    data.data.homePageSection1.data.attributes
                                        .section_seven_content
                                }
                            </p>
                            <p class="btn-section py-3">
                                <a class="btn btn-primary" href="#contact"
                                    >{
                                        data.data.homePageSection1.data
                                            .attributes.section_seven_button
                                    }</a
                                >
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="immersive-m-l animation-element slide-right">
                            <img
                                src="https://metaprolane.stsdev.site/assets/images/mall-home/home-mall.png"
                                alt="Casino"
                                class="w-100 img-border-6-20-2"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="immersive-experience">
            <div class="bg-vectors">
                <img src="assets/images/white-bg.webp" alt="white bg" />
            </div>
            <div class="container immersive-experience-c">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="immersive-m-l animation-element slide-left">
                            <img
                                src="https://metaprolane.stsdev.site/assets/images/casino-game/home-casino.png"
                                alt="Casino"
                                class="w-100 img-border-6-20"
                            />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="immersive-m-r animation-element slide-right">
                            <h4 class="text-white get-experience">
                                {
                                    data.data.homePageSection1.data.attributes
                                        .section_eight_title
                                }
                            </h4>
                            <p class="text-white text-last-right">
                                {
                                    data.data.homePageSection1.data.attributes
                                        .section_eight_content
                                }
                            </p>
                            <p class="py-3">
                                <a class="btn btn-secondary" href="#contact"
                                    >{
                                        data.data.homePageSection1.data
                                            .attributes.section_eight_button
                                    }</a
                                >
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="bg-vectors">
            <img src="assets/images/bg-vector1.webp" alt="vector bg" />
        </div> -->
        </section>

        <!-- <section>
        <h3 class="text-white text-center">what is the need to approach a Metaverse Development Company?
        </h3>
    </section> -->

        <section class="why-metaprolane need-meta">
            <div class="container">
                <div class="row animation-element slide-left">
                    <div class="col-lg-12">
                        <div class="why-metaprolane-head">
                            <h3 class="text-white text-center h3-under-bar">
                                {
                                    data.data.homePageSection1.data.attributes
                                        .section_metaverse_title
                                }
                            </h3>
                            <br />
                        </div>
                    </div>
                    {
                        data.data.homePageSection1.data.attributes.metavarse_development_lists.data.map(
                            (each: any, index: number) => {
                                return (
                                    <div class="col-lg-6">
                                        <div class="why-metaprolane-l">
                                            <div class="why-img">
                                                <img
                                                    src={each.attributes.image}
                                                    alt="Early Adapter"
                                                />
                                            </div>
                                            <div class="why-meta-r">
                                                <h6 class="text-green h6-why-meta">
                                                    {each.attributes.title}
                                                </h6>
                                                <p class="text-gray text-last-left ts1">
                                                    {each.attributes.content}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                );
                            },
                        )
                    }
                </div>
            </div>
            <!-- metaverse development services -->
            <section class="under-banner experts-in-sec" id="metadevelopment">
                <div class="container our-custom-meta-solutions">
                    <div class="experts-inn">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section-heading ss-case">
                                    <h2
                                        class="text-white text-center animation-element slide-left"
                                    >
                                        {
                                            data.data.homePageSection1.data
                                                .attributes
                                                .section_metaverse_developmet
                                        }
                                    </h2>
                                </div>
                            </div>
                            <div class="col-lg-12 animation-element slide-left">
                                <div class="fn_cs_slider" data-responsive="on">
                                    <div class="slider_top">
                                        <ul>
                                            {
                                                data.data.homePageSection1.data.attributes.metavarse_development_service_lists.data.map(
                                                    (
                                                        each: any,
                                                        index: number,
                                                    ) => {
                                                        return (
                                                            <li>
                                                                <div class="item">
                                                                    <img
                                                                        src={
                                                                            each
                                                                                .attributes
                                                                                .image
                                                                        }
                                                                    />
                                                                    <div class="item_in">
                                                                        <div
                                                                            class="img"
                                                                            style={{
                                                                                backgroundImage: `url(${each.attributes.image})`,
                                                                                // backgroundSize: 'cover',
                                                                                // backgroundPosition: 'center',
                                                                                // width: '100%',
                                                                                // height: '100%'
                                                                            }}
                                                                        />
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        );
                                                    },
                                                )
                                            }
                                        </ul>
                                    </div>
                                    <div class="slider_nav">
                                        <a href="#" class="prev">
                                            <span class="circle"></span>
                                            <span class="icon"
                                                ><i class="fa fa-chevron-left"
                                                ></i></span
                                            >
                                            <span class="circle"></span>
                                        </a>
                                        <a href="#" class="next">
                                            <span class="circle"></span>
                                            <span class="icon"
                                                ><i class="fa fa-chevron-right"
                                                ></i></span
                                            >
                                            <span class="circle"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-vectors">
                    <img
                        src="assets/images/bg-vector3.webp"
                        alt="vector image"
                    />
                </div>
            </section>
            <div class="industries-box-20"></div>

            <!-- top your domain with metaverse solutions -->
            <section class="our-courses top-your-domain" id="industries">
                <div class="container ">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-heading">
                                <h5
                                    class="text-black text-center h3-under-bar text-uppercase animation-element slide-left"
                                >
                                    {
                                        data.data.homePageSection1.data
                                            .attributes
                                            .section_metaverse_domain_title
                                    }
                                </h5>
                            </div>

                            <div class="owl-carousel owl-carousel2">
                                {
                                    data.data.homePageSection1.data.attributes.metaverse_domain_solutions.data.map(
                                        (each: any, index: number) => {
                                            const reverseIndex =
                                                data.data.homePageSection1.data
                                                    .attributes
                                                    .metaverse_domain_solutions
                                                    .data.length -
                                                1 -
                                                index;
                                            return (
                                                // first row
                                                <div>
                                                    <div class="owl-experts-item">
                                                        <div class="item">
                                                            <div class="icon">
                                                                <img
                                                                    src={
                                                                        each
                                                                            .attributes
                                                                            .image
                                                                    }
                                                                    alt="Gaming"
                                                                />
                                                                <div class="expert-txt">
                                                                    <p class="top-your-head">
                                                                        {
                                                                            each
                                                                                .attributes
                                                                                .text
                                                                        }
                                                                    </p>
                                                                    <p class="top-your-bot">
                                                                        {
                                                                            each
                                                                                .attributes
                                                                                .content
                                                                        }
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    {/* second row */}
                                                    <div class="owl-experts-item">
                                                        <div class="item">
                                                            <div class="icon">
                                                                <img
                                                                    src={
                                                                        data
                                                                            .data
                                                                            .homePageSection1
                                                                            .data
                                                                            .attributes
                                                                            .metaverse_domain_solutions
                                                                            .data[
                                                                            reverseIndex
                                                                        ]
                                                                            .attributes
                                                                            .image
                                                                    }
                                                                    alt="Gaming"
                                                                />
                                                                <div class="expert-txt">
                                                                    <p class="top-your-head">
                                                                        {
                                                                            data
                                                                                .data
                                                                                .homePageSection1
                                                                                .data
                                                                                .attributes
                                                                                .metaverse_domain_solutions
                                                                                .data[
                                                                                reverseIndex
                                                                            ]
                                                                                .attributes
                                                                                .text
                                                                        }
                                                                    </p>
                                                                    <p class="top-your-bot">
                                                                        {
                                                                            data
                                                                                .data
                                                                                .homePageSection1
                                                                                .data
                                                                                .attributes
                                                                                .metaverse_domain_solutions
                                                                                .data[
                                                                                reverseIndex
                                                                            ]
                                                                                .attributes
                                                                                .content
                                                                        }
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            );
                                        },
                                    )
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- <section class="our-courses top-your-domain" id="industries">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section-heading">
                                    <h5 class="text-black text-center h3-under-bar text-uppercase animation-element slide-left">
                                        {data.data.homePageSection1.data.attributes.section_metaverse_domain_title}
                                    </h5>
                                </div>
                
                                <div class="owl-carousel">
                                    <div>
                                      
                                    {/* Data (displayed twice) */}
                                    {Array.from({ length: 2 }).map((_, repeatIndex) => (
    <div class="d-flex">
        {repeatIndex === 0
            ? data.data.homePageSection1.data.attributes.metaverse_domain_solutions.data.map(
                  (each: any, index: number) => (
                      <div class="col-md-12 owl-experts-item">
                          <div class="item">
                              <div class="icon">
                                  <img src={each.attributes.image} alt="Gaming" />
                                  <div class="expert-txt">
                                      <p class="top-your-head">{each.attributes.text}</p>
                                      <p class="top-your-bot">{each.attributes.content}</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  )
              )
            : data.data.homePageSection1.data.attributes.metaverse_domain_solutions.data
                  .slice()
                  .reverse()
                  .map((each: any, index: number) => (
                      <div class="col-md-12 owl-experts-item">
                          <div class="item">
                              <div class="icon">
                                  <img src={each.attributes.image} alt="Gaming" />
                                  <div class="expert-txt">
                                      <p class="top-your-head">{each.attributes.text}</p>
                                      <p class="top-your-bot">{each.attributes.content}</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  ))}
    </div>
))}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </section> -->

            <section class="meta-development-services">
                <div class="bg-vectors">
                    <img src="assets/images/bg-vector2.webp" alt="BG Vector" />
                </div>
                <div
                    id="carouselExample"
                    class="carousel slide"
                    data-ride="carousel"
                >
                    <div class="carousel-inner">
                        {
                            data.data.homePageSection1.data.attributes.metaverse_lists.data.map(
                                (each: any, index: number) => {
                                    return (
                                        <div
                                            class={`carousel-item ${index === 0 ? "active" : ""}`}
                                        >
                                            <div class="row">
                                                <div class="col-12 mt-5">
                                                    <h3 class="text-center text-white text-bold">
                                                        {each.attributes.title}
                                                    </h3>
                                                    <div class="d-flex justify-content-center">
                                                        <div class="quote-box">
                                                            <div class="d-flex justify-content-center">
                                                                <blockquote class="text-center corosel-content text-white">
                                                                    <span>
                                                                        &#x201C;
                                                                    </span>
                                                                    {
                                                                        each
                                                                            .attributes
                                                                            .content
                                                                    }
                                                                    <span>
                                                                        &#x201D;
                                                                    </span>
                                                                </blockquote>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    );
                                },
                            )
                        }
                    </div>
                </div>
                <!-- Add navigation controls  -->
                <a
                    class="carousel-control-prev"
                    href="#carouselExample"
                    role="button"
                    data-slide="prev"
                >
                    <span
                        style="margin-top:80px;width:1.3rem;margin-left:-99px"
                        class="carousel-control-prev-icon"
                        aria-hidden="true"></span>
                </a>
                <a
                    class="carousel-control-next"
                    href="#carouselExample"
                    role="button"
                    data-slide="next"
                >
                    <span
                        style="margin-top:80px;width:1.3rem;margin-right:-99px"
                        class="carousel-control-next-icon"
                        aria-hidden="true"></span>
                </a>
            </section>
            <div class="bg-vectors">
                <img src="assets/images/bg-vector1.webp" alt="BG Vector" />
            </div>

            <!-- our technologies -->
            <section class="under-banner our-technologies">
                <div class="container">
                    <div class="section-heading ss-case">
                        <h4
                            class="text-white text-center h3-under-bar text-uppercase animation-element slide-left"
                        >
                            {
                                data.data.homePageSection1.data.attributes
                                    .section_our_technologies
                            }
                        </h4>
                    </div>
                    <div
                        class="under-banner-carousel-section animation-element slide-left in-view"
                    >
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="owl-carousel owl-carousel3">
                                    {
                                        data.data.homePageSection1.data.attributes.metaverse_our_technologies.data.map(
                                            (each: any, index: number) => {
                                                return (
                                                    <div class="owl-experts-item">
                                                        <div class="item">
                                                            <div class="icon">
                                                                <img
                                                                    src={
                                                                        each
                                                                            .attributes
                                                                            .image
                                                                    }
                                                                    alt="Ourtech1"
                                                                />
                                                            </div>
                                                        </div>
                                                    </div>
                                                );
                                            },
                                        )
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>

        <!-- why metarpolane -->
        <section class="why-metaprolane whym2">
            <div class="container">
                <div class="row animation-element slide-left">
                    <div class="col-lg-12">
                        <div class="why-metaprolane-l" style="display:block">
                            <h2 class="text-black text-center">
                                {
                                    data.data.homePageSection1.data.attributes
                                        .section_why_metaprolane
                                }
                            </h2>
                            <p class="text-black text-last-center whyp-c">
                                {
                                    data.data.homePageSection1.data.attributes
                                        .section_metaprolane_description
                                }
                            </p>
                        </div>
                    </div>

                    {
                        data.data.homePageSection1.data.attributes.metaverse_why_metaprolanes.data.map(
                            (each: any, index: number) => {
                                return (
                                    <div class="col-lg-6">
                                        <div class="why-metaprolane-l2">
                                            <div class="why-img">
                                                <img
                                                    src={each.attributes.image}
                                                    alt="Expert Team"
                                                />
                                            </div>
                                            <div class="why-meta-r">
                                                <h6 class="text-black h6-why-meta">
                                                    {each.attributes.text}
                                                </h6>
                                                <p class="text-black text-last-left ts1">
                                                    {each.attributes.content}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                );
                            },
                        )
                    }
                </div>
            </div>
            <div class="bg-vectors">
                <img src="assets/images/bg-vector5.webp" alt="vector Image" />
            </div>
        </section>

        <!-- FAQ -->
        <section class="apply-now">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="why-metaprolane-l">
                            <h3 class="text-white faq-head animation-element slide-left">
                                {
                                    data.data.homePageSection1.data.attributes
                                        .metaverse_faq_title
                                }
                            </h3>
                        </div>
                        {
                            data.data.homePageSection1.data.attributes.metaverse_faq_lists.data.map(
                                (item: any, index: number) => (
                                    <div class="faq-card">
                                        <div
                                            class="faq-question"
                                            onclick="toggleAnswer(event)"
                                        >
                                            {item.attributes.title}
                                            <span class="faq-toggle-icon">
                                                +
                                            </span>
                                        </div>
                                        <div class="faq-answer">
                                            {item.attributes.content}
                                        </div>
                                    </div>
                                ),
                            )
                        }

                        <!-- <div class="d-flex flex-wrap">
                    {
                        data.data.homePageSection1.data.attributes.metaverse_faq_lists.data.map(
                            (each: any, index: number) => {
                                return (
                                     <div id="accordion" class="accordion animation-element slide-left">
                        {/* <div class="card border-0"> */}
                                <div class="col-lg-12">
                                    <div class="why-metaprolane-l2">
                                        <div class="why-meta-r">
                                            <h6 class="text-white h6-why-meta">
                                                {each.attributes.title}
                                            </h6>
                                            <p class="text-white text-last-left ts1">
                                                {each.attributes.content}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>     
                    )})}
                     </div>     -->
                        <div class="pt-3">
                            <a class="btn btn-primary" href="#contact">
                                Ask away
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script type="text/javascript">
            var $animation_elements = $('.animation-element');
            var $window = $(window);
    
            function check_if_in_view() {
                var window_height = $window.height();
                var window_top_position = $window.scrollTop();
                var window_bottom_position = (window_top_position + window_height);
    
                $.each($animation_elements, function () {
                    var $element = $(this);
                    var element_height = $element.outerHeight();
                    var element_top_position = $element.offset().top;
                    var element_bottom_position = (element_top_position + element_height);
    
                    //check to see if this current container is within viewport
                    if ((element_bottom_position >= window_top_position) &&
                        (element_top_position <= window_bottom_position)) {
                        $element.addClass('in-view');
                    }
                    // else {
                    //   $element.removeClass('in-view');
                    // }
    
                });
            }
    
            $window.on('scroll resize', check_if_in_view);
            $window.trigger('scroll', check_if_in_view);
        </script>
        </html>
</Layout>
