---
import Layout from "../layouts/Layout.astro";

const response = await fetch(`${import.meta.env.PUBLIC_STRAPI_URL}`, {
  method: "POST",
  headers: { "Content-Type": "application/json" },
  body: JSON.stringify({
    query: `
        query{
          metaverseCasinoGame{
    data {
      attributes{
        metaverse_casino_game_title
        metaverse_casino_game_content
        metaverse_casino_game_header
        casino_game_dev_title
        casino_game_dev_content
        casino_game_collection_header
        casino_game_collection_title
        casino_game_collection_content
        casino_game_collection_lists{
          data{
            attributes{
              title
              content
              image
            }
          }
        }
        casino_game_collect_lists{
          data{
            attributes{
              title
              content
              image
            }
          }
        }
        casino_game_collect_detail_lists{
          data{
            attributes{
              title
              content
              image
            }
          }
        }
        casino_monietizing_dev_title
        casino_monietizing_dev_content
        casino_monietizing_dev_lists{
          data{
            attributes{
              title
              content
              image
            }
          }
        }
        casino_game_demo_title
        casino_game_demo_content
        casino_game_idea_title
        casino_dame_idea_content
        casino_game_faq_title
        casino_game_faq_lists {
          data{
            attributes{
              question
              answer
            }
          }
        }
        casino_game_dev_link
        casino_game_tools_title
        casino_game_tools_lists{
          data{
            attributes{
              image
            }
          }
        }
      }
    }
  }
        }
        `,
  }),
});

const { data } = await response.json();

const casinoGameDevLink = data.metaverseCasinoGame.data.attributes.casino_game_dev_link;
const embedLink = casinoGameDevLink.replace("watch?v=", "embed/");
---
<script is:inline>
  document.addEventListener("DOMContentLoaded", function () {
      let currentIndex = 0;
      const slides = document.querySelectorAll(".carousel-item");
      const totalSlides = slides.length;

      document
          .querySelector(".carousel-control-next")
          .addEventListener("click", () => {
              slides[currentIndex].classList.remove("active");
              currentIndex = (currentIndex + 1) % totalSlides;
              slides[currentIndex].classList.add("active");
          });

      document
          .querySelector(".carousel-control-prev")
          .addEventListener("click", () => {
              slides[currentIndex].classList.remove("active");
              currentIndex =
                  (currentIndex - 1 + totalSlides) % totalSlides;
              slides[currentIndex].classList.add("active");
          });
  });

  document.addEventListener("DOMContentLoaded", () => {
      const prevButton = document.querySelector(".slider_nav .prev");
      const nextButton = document.querySelector(".slider_nav .next");
      const items = document.querySelectorAll(".slider_top ul li");
      let currentIndex = 0; // Start from the first item

      function updateCarousel() {
          items.forEach((item, index) => {
              item.classList.remove(
                  "prev",
                  "prev2",
                  "active",
                  "next",
                  "next2",
              );
          });

          const prevIndex =
              (currentIndex - 1 + items.length) % items.length;
          const nextIndex = (currentIndex + 1) % items.length;
          const prev2Index =
              (currentIndex - 2 + items.length) % items.length;
          const next2Index = (currentIndex + 2) % items.length;

          items[prev2Index].classList.add("prev2");
          items[prevIndex].classList.add("prev");
          items[currentIndex].classList.add("active");
          items[nextIndex].classList.add("next");
          items[next2Index].classList.add("next2");
      }

      function nextSlide() {
          currentIndex = (currentIndex + 1) % items.length;
          updateCarousel();
      }

      // Automatically advance to the next slide every 5 seconds
      setInterval(nextSlide, 3000);

      updateCarousel(); // Initial call to set the classes
  });

  document.addEventListener("DOMContentLoaded", function () {
      $(".owl-carousel2").owlCarousel({
          items: 1, // Display one item-row at a time
          margin: 20, // Space between items
          loop: true, // Loop through items
          autoplay: true, // Enable auto-play
          autoplayTimeout: 3000, // Auto-play interval (in ms)
          autoplayHoverPause: true, // Pause on hover
          responsive: {
              0: {
                  items: 1, // Display one item-row at a time on small screens
              },
              600: {
                  items: 1, // Display one item-row at a time on medium screens
              },
              800: {
                  items: 2, // Display one item-row at a time on medium screens
              },
              1000: {
                  items: 2, // Display one item-row at a time on large screens
              },
          },
      });
  });
</script>
<Layout title="metaverseCasinoGame">
  <html lang="en">
      <link rel="stylesheet" href="/styles/blog/css/owl.css" />
      <link rel="stylesheet" href="/styles/css/retailShowroom.css" />
      <!-- <script
        is:inline
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
      ></script> -->
      <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
      <!-- <link rel="stylesheet" href="/styles/css/style.css" /> -->
      <!-- <script
      src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
      integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"></script> -->
      <script is:inline>
        $(document).ready(function () {
          $(".question1").click(function () {
            console.log("clicked questions");
            var answer = $(this).next(".answer");
            $(".answer").not(answer).slideUp();
            answer.slideToggle();
          });
        });
        $(document).ready(() => {
          $(".readmore-description").click(function () {
            var $cardTextContent = $(this).prev(".card1-text-content");
            $cardTextContent.toggleClass("expanded");
            $(this).text(
              $cardTextContent.hasClass("expanded") ? "Read less" : "Read more",
            );
          });
        });
        function toggleAnswer(event) {
                    const question = event.currentTarget;
                    const answer = question.nextElementSibling;

                    $(answer).slideToggle();
                    $(question).toggleClass("active");
                    $(".faq-question")
                        .not(question)
                        .removeClass("active")
                        .next(".faq-answer")
                        .slideUp();

                    // Toggle the icon between plus and minus
                    const icon = question.querySelector(".faq-toggle-icon");
                    icon.textContent = icon.textContent === "+" ? "-" : "+";
                }
        $(document).ready(() => {
          $(".wallet-content").each(function () {
            var $content = $(this);
            if ($content[0]?.scrollHeight > $content.innerHeight()) {
              $content.next(".virtual-readmore").show();
            } else {
              $content.next(".virtual-readmore").hide();
            }
          });
          $(".virtual-readmore").click(function () {
            var $cardTextContent = $(this).prev(".wallet-content");
            $cardTextContent.toggleClass("virtual-expanded");
            $(this).text(
              $cardTextContent.hasClass("virtual-expanded")
                ? "Read less"
                : "Read more",
            );
          });
        });
        $(document).ready(function () {
          $(".talk-btn").click(function () {
            $("html, body").animate(
              {
                scrollTop: $("#footer").offset().top,
              },
              300,
            ); // Adjust the duration as per your requirement
          });
        });
        // $("#content").hide().show("slide", { direction: "left" }, 1500);
      </script>

<div class="home-container inner-container">
      <div class="meta-product">
        <section
          class="section main-banner audit-videos casino-ms-banner-section"
          id="top"
          data-section="section1"
        >
          <img
            src="assets/images/casino-game/banner.webp"
            alt="Auditorium page Banner"
            class="inner-section-banner"
            style={{height:"100vh"}}
          />
          <div class="video-overlay header-text main-banner-cont">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="">
                    <div class="wrapper">
                      <ul class="bg-bubbles">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="under-banner our-technologies casino-ms-one-section">
          <div class="CG-chip-one">
            <img src="assets/images/casino-game/chip-1.webp" alt="Chip1" />
          </div>
          <div class="CG-chip-two">
            <img src="assets/images/casino-game/chip-2.webp" alt="Chip1" />
          </div>
          <div class="container">
            <div class="section-heading ss-case get-readys">
              <div class="row">
                <div class="col-lg-6">
                  <div class="cms-one-left animation-element slide-left">
                    <img
                      src="assets/images/casino-game/casino-experience.webp"
                      alt="Auditorium page Banner"
                    />
                    <div class="cms-one-green">
                      We Create <br />Fun Gambling Events
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="cms-one-right animation-element slide-right">
                    <div class="text-green2 tg w-700">
                      {
                        data.metaverseCasinoGame.data.attributes
                          .metaverse_casino_game_header
                      }
                    </div>
                    <h1
                      class="text-white text-left mb-1 h3-under-bar2 hub2 hub-mutual4 pt-0"
                    >
                      {
                        data.metaverseCasinoGame.data.attributes
                          .metaverse_casino_game_title
                      }
                    </h1>
                    <p class="text-gray3 text-last-left pt-3 pb-2">
                      {
                        data.metaverseCasinoGame.data.attributes
                          .metaverse_casino_game_content
                      }
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Metaverse Casino Game Development Company -->
        <section
          class="under-banner our-technologies product-tech-sec casino-ms-two-section"
        >
          <div class="container">
            <div class="section-heading ss-case">
              <div class="row pt-3 mob-pt-0">
                <div class="col-lg-6 animation-element slide-left">
                  <h2
                    class="text-white text-left h3-under-bar2 hub2 hub-mutual2 pt-0"
                  >
                    {
                      data.metaverseCasinoGame.data.attributes
                        .casino_game_dev_title
                    }
                  </h2>
                  <p class="text-gray3 text-last-left py-0 pb-4">
                    {
                      data.metaverseCasinoGame.data.attributes
                        .casino_game_dev_content
                    }
                  </p>
                  <div class="unlock-btn-sec mb-4">
                    <a href="#contact" class="btn btn-primary">Get Quote Now</a>
                  </div>
                </div>
                <div class="col-lg-6 CG-two-right animation-element slide-right">
                  <div class="plr-10-only-mobile">
                    <img
                      src="assets/images/casino-game/development-company-vector.webp"
                      alt="BG Vector"
                      class="w-100-br-15"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section
          class="meta-development-services product-our-services casino-ms-three-section"
        >
          <div class="CG-chip-one">
            <img src="assets/images/casino-game/chip-1.webp" alt="Chip1" />
          </div>
          <div class="CG-chip-two">
            <img src="assets/images/casino-game/chip-2.webp" alt="Chip1" />
          </div>
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-12">
                <div class="text-center">
                  <div class="under-banner">
                    <div class="under-banner-carousel-section">
                      <div class="text-center text-green2 fw-700 animation-element slide-left">
                        {
                          data.metaverseCasinoGame.data.attributes
                            .casino_game_collection_header
                        }
                      </div>
                      <h4 class="text-white h3-under-bar2 animation-element slide-left">
                        {
                          data.metaverseCasinoGame.data.attributes
                            .casino_game_collection_title
                        }
                      </h4>
                      <div class="row">
                              {
                                data.metaverseCasinoGame.data.attributes.casino_game_collect_detail_lists.data.map(
                                    (each: any, index: number) => {
                                        return (
                                <div class="col-lg-4">
                                  <div class="benefits-metavirtualoffice animation-element slide-left">
                                    <div class="text-center bm-img">
                                      <img
                                        src={each.attributes.image}
                                        alt="Benefits Icons"
                                      />
                                    </div>
                                    <h5 class="benefits-h6">
                                      {each.attributes.title}
                                    </h5>
                                    <p class="text-gray3 text-last-center para-our-meta">
                                      {each.attributes.content}
                                    </p>
                                  </div>
                                </div>
                              );
                            })
                        }
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="CG-chip-one1">
            <img src="assets/images/casino-game/chip-1.webp" alt="Chip1" />
          </div>
          <div class="CG-chip-two2">
            <img src="assets/images/casino-game/chip-2.webp" alt="Chip1" />
          </div>
        </section>

        <section
          class="our-courses product-our-courses msd-box1 feature-val-p casino-ms-four-section1"
        >
          <div class="container c-features">
            <div class="row">
              <div class="col-lg-6"></div>
              <div class="col-lg-6">
                <div class="section-heading animation-element slide-left">
                  <div class="text-green2 tg w-700 text-center">
                    {
                      data.metaverseCasinoGame.data.attributes
                        .casino_game_collection_header
                    }
                  </div>
                  <h4
                    class="text-white text-center mb-1 h3-under-bar2 hub2 hub-mutual4 pt-0 fw-700 "
                  >
                    {
                      data.metaverseCasinoGame.data.attributes
                        .casino_game_collection_title
                    }
                  </h4>
                  <div class="owl-carousel owl-carousel2">
                    {
                      data.metaverseCasinoGame.data.attributes.casino_game_collect_lists.data.map(
                          (each: any, index: number) => {
                            const reverseIndex =
                            data.metaverseCasinoGame.data.attributes.casino_game_collect_lists.data.length -
                                                1 -
                                                index;
                              return (
                      <div class="item" style={{ flex: '0 0 50%', boxSizing: 'border-box', padding: '10px' }}>
                        <div class="icon">
                          <div class="expert-txt2">
                            <div class="box-img box-space">
                              <img
                                src={each.attributes.image}
                                alt="Features Image"
                                style={{width:'10rem', height:'10rem'}}
                              />
                            </div>
                            <div class="box-img-inn">
                              <h6 class="fma">{each.attributes.title}</h6>
                              <p class="text-last-left">
                                {each.attributes.content}
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="icon">
                          <div class="expert-txt2">
                            <div class="box-img box-space">
                              <img
                                src={ data.metaverseCasinoGame.data.attributes.casino_game_collect_lists.data[reverseIndex].attributes.image}
                                alt="Features Image"
                                style={{width:'10rem', height:'10rem'}}
                              />
                            </div>
                            <div class="box-img-inn">
                              <h6 class="fma">{ data.metaverseCasinoGame.data.attributes.casino_game_collect_lists.data[reverseIndex].attributes.title}</h6>
                              <p class="text-last-left">
                                { data.metaverseCasinoGame.data.attributes.casino_game_collect_lists.data[reverseIndex].attributes.content}
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    );
                  })
              }
                  </div>
                  <!-- <div
                    class="owl-experts-item-Cas-game owl-carousel d-flex flex-wrap">
                  
                           {
                            data.metaverseCasinoGame.data.attributes.casino_game_collect_lists.data.map(
                                (each: any, index: number) => {
                                    return (
                            <div class="item" style={{ flex: '0 0 50%', boxSizing: 'border-box', padding: '10px' }}>
                              <div class="icon">
                                <div class="expert-txt2">
                                  <div class="box-img">
                                    <img
                                      src={each.attributes.image}
                                      alt="Features Image"
                                      style={{width:'10rem', height:'10rem'}}
                                    />
                                  </div>
                                  <div class="box-img-inn">
                                    <h6 class="fma">{each.attributes.title}</h6>
                                    <p class="text-last-left">
                                      {each.attributes.content}
                                    </p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          );
                        })
                    }
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Casino Game Collections -->
        <section
          class="meta-development-services product-our-services casino-ms-five-section1"
        >
          <div class="CG-chip-one3">
            <img src="assets/images/casino-game/dianond.webp" alt="Chip1" />
          </div>
          <div class="CG-chip-one4">
            <img src="assets/images/casino-game/heart.webp" alt="Chip1" />
          </div>
          <div class="CG-chip-one5">
            <img src="assets/images/casino-game/club.webp" alt="Chip1" />
          </div>
          <div class="CG-chip-one6">
            <img src="assets/images/casino-game/chip-1.webp" alt="Chip1" />
          </div>
          <div class="container">
            <div class="row align-items-center"> 
              <div class="col-lg-12">
                <div class="text-center">
                  <div class="under-banner">
                    <div class="under-banner-carousel-section">
                      <h4 class="text-white h3-under-bar2 fw-700 animation-element slide-left">
                        {
                          data.metaverseCasinoGame.data.attributes
                            .casino_game_collection_title
                        }
                      </h4>
                      <div class="row">
                        <!-- {
                          data.metaverseCasinoGame.data.attributes.casino_game_collection_lists.data
                            .slice(0, 2)
                            .map((each: any) => {
                              return ( -->
                              {
                                data.metaverseCasinoGame.data.attributes.casino_game_collection_lists.data.map(
                                    (each: any, index: number) => {
                                        return (
                                <div class="col-lg-4">
                                  <div class="benefits-metavirtualoffice animation-element slide-left">
                                    <div class="text-center bm-img">
                                      <img
                                        src={each.attributes.image}
                                        alt="Benefits Icons"
                                      />
                                    </div>
                                    <h5 class="benefits-h6">
                                      {each.attributes.title}
                                    </h5>
                                    <p class="text-gray3 text-center">
                                      {each.attributes.content}
                                    </p>
                                  </div>
                                </div>
                              );
                            })
                        }
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Metaverse Casino Game Development Solutions -->
        <section
            class="why-metaprolane whym2 product-why-sec casino-ms-Six-section"
          >
            <div class="container py-0">
              <div class="row">
                <div class="col-lg-5"></div>
                <div class="col-lg-7">
                  <div class="why-metaprolane-l animation-element slide-left">
                    <h3
                      class="text-white text-left h3-under-bar2 mb-2 pt-1 pb-0 fw-700"
                    >
                      {
                        data.metaverseCasinoGame.data.attributes
                          .casino_game_dev_title
                      }
                    </h3>
                    <p class="text-gray3 text-last-left padd-0">
                      {
                        data.metaverseCasinoGame.data.attributes
                          .casino_game_collection_content
                      }
                    </p>
                    <div class="text-last-left my-3 mt-4 pt-2">
                      <a href="/#demo">
                        <button class="btn padd-0">
                          <div class="btn-box btn-pink">
                            Start your 3D journey
                          </div>
                        </button>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </section>

        <!-- Monetizing Options in Metaverse Casino Game -->
        <section
            class="meta-development-services product-our-services monetizing-meta casino-ms-Seven-section"
          >
            <div class="container">
              <div class="row align-items-center">
                <div class="col-lg-12">
                  <div class="text-center">
                    <div class="under-banner">
                      <div class="under-banner-carousel-section">
                        <h4
                          class="text-white h3-under-bar2 mb-0 mt-0 fw-700 animation-element slide-left"
                        >
                          {
                            data.metaverseCasinoGame.data.attributes
                              .casino_monietizing_dev_title
                          }
                        </h4>
                        <p
                          class="text-center text-gray3 mb-3 monetizing-cgame-mob animation-element slide-left"
                        >
                          {
                            data.metaverseCasinoGame.data.attributes
                              .casino_monietizing_dev_content
                          }
                        </p>
                        <div class="row">
                          <!-- {
                            data.metaverseCasinoGame.data.attributes.casino_monietizing_dev_lists.data
                              .slice(0, 2)
                              .map((each: any) => {
                                return ( -->
                                {
                                  data.metaverseCasinoGame.data.attributes.casino_monietizing_dev_lists.data.map(
                                      (each: any, index: number) => {
                                          return (
                                  <div class="col-lg-3">
                                    <div class="benefits-metavirtualoffice mds22 animation-element slide-left">
                                      <div class="align-items-center">
                                        <img
                                          src={each.attributes.image}
                                          alt="Benefits Icons"
                                          class="mds-product"
                                        />
                                      </div>
                                      <div class="benefits-mds-inn">
                                        <h6 class="bmoffice">
                                          {each.attributes.title}
                                        </h6>
                                        <p class="text-center text-gray3">
                                          {each.attributes.content}
                                        </p>
                                      </div>
                                    </div>
                                  </div>
                                );
                              })
                          }
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </section>

        <!-- Metaverse Casino Game Development Demo -->
        <section
            class="why-metaprolane whym2 product-why-sec casino-ms-Eight-section"
          >
            <div class="CG-chip-two">
              <img src="assets/images/casino-game/chip-2.webp" alt="Chip1" />
            </div>
            <div class="container py-0 animation-element slide-left">
              <h4
                class="text-white text-center h3-under-bar2 mb-4 fw-700 mvc-step"
              >
                {
                  data.metaverseCasinoGame.data.attributes
                    .casino_game_demo_title
                }
              </h4>
              <p class="padd-0 my-4 mb-4 text-last-center text-gray2">
                {
                  data.metaverseCasinoGame.data.attributes
                    .casino_game_demo_content
                }
              </p>
            </div>
            <div class="row mb-3">
              <div class="col-lg-12">
                <div class="w-100">
                  <div class="immersive-m-l text-center">
                    {
                        /*
                          <iframe style="max-width: 80%; width: 80%; aspect-ratio: 16/9" src="https://player.vimeo.com/video/137857207" title="Metaprolane Video" allowfullscreen></iframe>
                        */
                    }
                    <iframe
                        title="Metaprolane Video"
                        src={embedLink}
                        style="max-width: 100%; width: 100%; aspect-ratio: 16/9;"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen
                      ></iframe>
                  </div>
                </div>
                <div class="text-center my-3">
                  <a href="#contact">
                    <button class="btn padd-0">
                      <div class="btn-box btn-pink">Talk To Our Expert</div>
                    </button>
                  </a>
                </div>
              </div>
            </div>
        </section>

        <!-- Metaverse Development Tools That We Use -->
        <section class="under-banner our-technologies gradient-ms-box casino-ms-Nine-section">
            <div class="container">
              <div class="under-banner-carousel-section">
                <h5 class="text-center text-white h3-under-bar2">
                  {
                    data.metaverseCasinoGame.data.attributes
                      .casino_game_tools_title
                  }
                </h5>
                <div class="row mt-4">
                  <div class="col-lg-12 animation-element slide-left">
                    <div class="owl-service-item owl-carousel d-flex justify-content-between">
                      {
                        data.metaverseCasinoGame.data.attributes.casino_game_tools_lists.data.map(
                            (each: any, index: number) => {
                                return (
                      <div class="item" style="width:8rem">
                        <div class="icon">
                          <img src={each.attributes.image} alt="Ourtech1">
                        </div>
                      </div>
                    </div>
                    )})}
                  </div>
                </div>
              </div>
            </div>
        </section>

        <!-- Why Metaprolane is Your Ideal Partner? -->
        <section class="gradient-ms-box casino-ms-Ten-section">
            <div class="container">
              <div class="why-expertise-section">
                <div class="under-banner">
                  <div class="under-banner-carousel-section animation-element slide-left">
                    <div class="row">
                      <div class="col-lg-12">
                        <h5 class="text-white text-center fw-700 mb-0">
                          {
                            data.metaverseCasinoGame.data.attributes
                              .casino_game_idea_title
                          }
                        </h5>
                        <p class="text-gray3 text-center w-75 marginauto">
                          {
                            data.metaverseCasinoGame.data.attributes
                              .casino_dame_idea_content
                          }
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </section>

        <!-- faq's -->
        <section
            class="why-metaprolane whym2 product-why-sec apply-now casino-ms-FAQ-section"
          >
            <div class="container py-0">
              <div class="row">
                <div class="col-lg-12">
                  <div class="why-metaprolane-l mt-2 animation-element slide-left">
                    <h5 class="text-white h3-under-bar2 mb-5 fw-600">
                      {
                        data.metaverseCasinoGame.data.attributes
                          .casino_game_faq_title
                      }
                    </h5>
                  </div>
                  {data.metaverseCasinoGame.data.attributes.casino_game_faq_lists.data.map(
                    (item: any, index: number) => (
                      <div class="faq-card">
                        <div class="faq-question-casino" onclick="toggleAnswer(event)">
                          {item.attributes.question}
                          <span class="faq-toggle-icon-casino">+</span>
                        </div>
                        <div class="faq-answer">
                          {item.attributes.answer}
                        </div>
                      </div>
                    ),
                  )}
                  <!-- {
                    data.metaverseCasinoGame.data.attributes.casino_game_faq_lists.data.map(
                      (item: any, index: number) => {
                        return (
                          <div class="FAQ-card faq">
                            <div class="FAQ-qstn-section question1">
                              <div class="FAQ-question">
                                {item.attributes.question}
                              </div>
                              <img
                                class="dropdown-arrow"
                                src="assets/images/retail-showroom/Keyboard arrow down.webp"
                              />
                            </div>
                            <div class="answer answer1">
                              {item.attributes.answer}
                            </div>
                          </div>
                        );
                      },
                    )
                  } -->
                </div>
              </div>
            </div>
        </section>
      </div>
  </div>
  <script type="text/javascript">
      var $animation_elements = $('.animation-element');
      var $window = $(window);

      function check_if_in_view() {
          var window_height = $window.height();
          var window_top_position = $window.scrollTop();
          var window_bottom_position = (window_top_position + window_height);

          $.each($animation_elements, function () {
              var $element = $(this);
              var element_height = $element.outerHeight();
              var element_top_position = $element.offset().top;
              var element_bottom_position = (element_top_position + element_height);

              //check to see if this current container is within viewport
              if ((element_bottom_position >= window_top_position) &&
                  (element_top_position <= window_bottom_position)) {
                  $element.addClass('in-view');
              }
              // else {
              //   $element.removeClass('in-view');
              // }

          });
      }

      $window.on('scroll resize', check_if_in_view);
      $window.trigger('scroll', check_if_in_view);
  </script>
  </html></Layout
>
