---
import Layout from "../layouts/Layout.astro";
import MetaverseDevelopmentTools from "../components/MetaverseDevelopmentTools.astro";

const response = await fetch(`${import.meta.env.PUBLIC_STRAPI_URL}`, {
  method: "POST",
  headers: { "Content-Type": "application/json" },
  body: JSON.stringify({
    query: `
        query{
            metaverseVirtualCity{
                data{
                    attributes{
                        virtual_community_title
                        virtual_community_subtitle
                        virtual_community_content
                        virtual_city_development_title
                        virtual_city_development_content
                        feature_develop_virtual_city
                        feature_develop_virtual_city_lists{
                            data{
                                attributes{
                                    title
                                    content
                                    image
                                }
                            }
                        }
                        benefits_metaverse_virtual_city
                  benefits_metaverse_virtual_city_lists{
                    data{
                      attributes{
                        title
                        image
                        content
                      }
                    }
                  }
                  virtual_city_dev_title
                  virtual_city_dev_content
                  virtual_city_monetizing_title
                  virtual_city_monetizing_content
                  virtual_city_monetizing_lists{
                    data{
                      attributes{
                        title
                        image
                        content
                      }
                    }
                  }
                  virtual_city_wildest_dreams_title
                  virtual_city_wildest_dreams_content
                  metaprolane_ideal_partner_title
                  metaprolane_ideal_partner_content
                  metaverse_virtual_city_faq
                metaverse_virtual_city_faq_lists{
                  data{
                    attributes{
                      question
                      answer
                    }
                  }
                }

                  
                    }
                }
            }
        }
        `,
  }),
});

const { data } = await response.json();
---

<Layout title="metaverse-virtual-city" 
description="Kickstart your own 3D virtual city with the leading Metaverse Virtual City Development Company and feel the immersive virtual circumstances with our Metaverse Virtual City Development Services." 
keywords="Metaverse Virtual City Development, Metaverse Virtual City Development Company, Metaverse Virtual City, Create Metaverse City, Metaverse Virtual City Development services, Metaverse City Development">
  <html lang="en">
    <div class="home-container industries-page meta-product">
      <link rel="stylesheet" href="/styles/css/retailShowroom.css" />
      <script
        is:inline
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
      ></script>
      <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
      <link rel="stylesheet" href="/styles/css/style.css" />

      <script is:inline>
        $(document).ready(function () {
          $(".question1").click(function () {
            console.log("clicked questions");
            var answer = $(this).next(".answer");
            $(".answer").not(answer).slideUp();
            answer.slideToggle();
          });
        });
        $(document).ready(() => {
          $(".readmore-description").click(function () {
            var $cardTextContent = $(this).prev(".card1-text-content");
            $cardTextContent.toggleClass("expanded");
            $(this).text(
              $cardTextContent.hasClass("expanded") ? "Read less" : "Read more",
            );
          });
        });
        $(document).ready(() => {
          $(".wallet-content").each(function () {
            var $content = $(this);
            if ($content[0]?.scrollHeight > $content.innerHeight()) {
              $content.next(".virtual-readmore").show();
            } else {
              $content.next(".virtual-readmore").hide();
            }
          });
          $(".virtual-readmore").click(function () {
            var $cardTextContent = $(this).prev(".wallet-content");
            $cardTextContent.toggleClass("virtual-expanded");
            $(this).text(
              $cardTextContent.hasClass("virtual-expanded")
                ? "Read less"
                : "Read more",
            );
          });
        });
        $(document).ready(function () {
          $(".talk-btn").click(function () {
            $("html, body").animate(
              {
                scrollTop: $("#footer").offset().top,
              },
              300,
            ); // Adjust the duration as per your requirement
          });
        });
        // $("#content").hide().show("slide", { direction: "left" }, 1500);
      </script>

      <!-- <div class="meta-product"> -->
      <section
        class="section main-banner audit-videos"
        id="top"
        data-section="section1"
      >
        <!-- <img src="assets/images/virtual-city/Banner_BG.webp" alt="Auditorium page Banner" class="inner-section-banner" /> -->
        <video autoplay="" muted="" loop="" id="bg-video">
          <source
            src="assets/images/virtual-city/Banner-BG-video.mp4"
            type="video/mp4"
          />
        </video>
        <div class="video-overlay header-text main-banner-cont">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="caption"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-vectors banner-vector-down">
          <img src="assets/images/products/bg1.webp" alt="BG" />
        </div>
      </section>

      <!-- Building The Future Of Virtual Communities -->
      <section class="under-banner our-technologies product-tech-sec">
        <div class="container">
          <div class="section-heading ss-case ss12-city">
            <div class="slide-left">
              <p
                class="text-blue h2-blue text-center fs-32 fw-bold hub-mutual1"
              >
                {
                  data.metaverseVirtualCity.data.attributes
                    .virtual_community_title
                }
              </p>
              <h2 class="text-black text-center h3-under-bar2 hub2 hub-mutual2">
                {
                  data.metaverseVirtualCity.data.attributes
                    .virtual_community_subtitle
                }
              </h2>
            </div>
            <div class="row py-3">
              <div class="col-lg-12">
                <div class="section-heading ss-case slide-left">
                  <p class="text-gray2 text-last-center py-0">
                    {
                      data.metaverseVirtualCity.data.attributes
                        .virtual_community_content
                    }
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Metaverse Virtual City Development -->
      <section
        class="under-banner our-technologies product-tech-sec vir-ms1 pt-0"
      >
        <div class="container">
          <h1
            class="text-black text-center mb-4 h3-under-bar2 hub2 hub-mutual4 mt-0 vir-ms2 slide-left"
          >
            {
              data.metaverseVirtualCity.data.attributes
                .virtual_city_development_title
            }
          </h1>
          <div class="row">
            <div class="col-lg-7">
              <div class="section-heading ss-case slide-left">
                <p class="text-gray2 text-last-left pb-4 pt-0">
                  {
                    data.metaverseVirtualCity.data.attributes
                      .virtual_city_development_content
                  }
                </p>
                <div class="unlock-btn-sec mb-4">
                  <a href="#contact" class="btn btn-primary">Get Quote Now</a>
                </div>
              </div>
            </div>
            <div class="col-lg-5">
              <div class="plr-10-only-mobile slide-right">
                <img
                  src="assets/images/virtual-city/development-company.webp"
                  alt="BG Vector"
                  class="w-100-br-15"
                />
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Features Of Metaverse Virtual City Platform Development -->
      <section class="our-courses product-our-courses msd-box1 pt-0">
        <div class="container c-features">
          <div class="row">
            <div class="col-lg-12">
              <div class="section-heading">
                <h4
                  class="text-black text-center pt-2 h3-under-bar2 hub1 mb-5 hub-mutual3 vir-ms3 slide-left"
                >
                  {
                    data.metaverseVirtualCity.data.attributes
                      .feature_develop_virtual_city
                  }
                </h4>
                <div
                  class="owl-experts-item owl-carousel slide-left d-flex flex-wrap"
                >
                  {
                    data.metaverseVirtualCity.data.attributes.feature_develop_virtual_city_lists.data.map(
                      (each: any, index: number) => {
                        return (
                          <div class="item" style="width:23rem">
                            <div class="icon">
                              <div class="expert-txt2">
                                <div class="box-img">
                                  <img
                                    src={each.attributes.image}
                                    alt="Multiple Virtual Locations Image"
                                  />
                                </div>
                                <div class="box-img-inn">
                                  <h5 class="fma">{each.attributes.title}</h5>
                                  <p class="text-last-center">
                                    {each.attributes.content}
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        );
                      },
                    )
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Benefits of Metaverse Virtual City Development Solutions -->
      <section
        class="meta-development-services product-our-services v-city-box"
      >
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-12">
              <div class="text-center">
                <div class="under-banner">
                  <div class="under-banner-carousel-section">
                    <h4 class="text-white h3-under-bar2 slide-left">
                      {
                        data.metaverseVirtualCity.data.attributes
                          .benefits_metaverse_virtual_city
                      }
                    </h4>
                    <div class="row slide-left">
                      {
                        data.metaverseVirtualCity.data.attributes.benefits_metaverse_virtual_city_lists.data.map(
                          (each: any, index: number) => {
                            return (
                              <div class="col-lg-4">
                                <div class="benefits-metavirtualoffice">
                                  <div class="text-center bm-img">
                                    <img
                                      src={each.attributes.image}
                                      alt="Benefits Icons"
                                    />
                                  </div>
                                  <h6 class="benefits-h6">
                                    {each.attributes.title}
                                  </h6>
                                  <p class="text-gray2 text-last-center">
                                    {each.attributes.content}
                                  </p>
                                </div>
                              </div>
                            );
                          },
                        )
                      }
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-vectors">
          <img src="assets/images/bg-vector3.webp" alt="BG Vector" />
        </div>
      </section>

      <!-- Virtual City Development Solutions -->
      <section class="why-metaprolane whym2 product-why-sec">
        <div class="container pt-0">
          <h3
            class="text-black text-center h3-under-bar2 mb-4 pt-1 pb-2 slide-left"
          >
            {data.metaverseVirtualCity.data.attributes.virtual_city_dev_title}
          </h3>
          <div class="row">
            <div class="col-lg-7">
              <div class="why-metaprolane-l slide-left">
                <p class="text-gray2 text-last-left padd-0">
                  {
                    data.metaverseVirtualCity.data.attributes
                      .virtual_city_dev_content
                  }
                </p>
                <div class="text-last-left my-3 mt-4 pt-2 start-btn-top-mob">
                  <a href="/#demo">
                    <button class="btn padd-0">
                      <div class="btn-box border-gradient">
                        Start your 3D journey
                      </div>
                    </button>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-lg-5">
              <div class="slide-right">
                <img
                  src="assets/images/virtual-city/development-solutions.webp"
                  alt="BG Vector"
                  class="w-100-br-15"
                />
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Monetizing Options in Metaverse Virtual City -->
      <section
        class="meta-development-services product-our-services monetizing-meta"
      >
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-12">
              <div class="text-center">
                <div class="under-banner">
                  <div class="under-banner-carousel-section">
                    <h4 class="text-white h3-under-bar2 mb-0 mt-5 slide-left">
                      {
                        data.metaverseVirtualCity.data.attributes
                          .virtual_city_monetizing_title
                      }
                    </h4>
                    <p class="text-last-center text-white mb-3 slide-left">
                      {
                        data.metaverseVirtualCity.data.attributes
                          .virtual_city_monetizing_content
                      }
                    </p>
                    <div class="row align-items-center slide-left">
                      {
                        data.metaverseVirtualCity.data.attributes.virtual_city_monetizing_lists.data.map(
                          (each: any, index: number) => {
                            return (
                              <div class="col-lg-6">
                                <div class="benefits-metavirtualoffice mds22">
                                  <div class="align-items-center">
                                    <img
                                      src={each.attributes.image}
                                      alt="Virtual Real Estate Sales"
                                      class="mds-product"
                                    />
                                  </div>
                                  <div class="benefits-mds-inn">
                                    <h6 class="bmoffice">
                                      {each.attributes.title}
                                    </h6>
                                    <p class="text-last-center text-gray2">
                                      {each.attributes.content}
                                    </p>
                                  </div>
                                </div>
                              </div>
                            );
                          },
                        )
                      }
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-vectors">
          <img src="assets/images/bg-vector3.webp" alt="BG Vector" />
        </div>
      </section>

      <!-- Step Into A World Beyond Your Wildest Dreams -->
      <section class="why-metaprolane whym2 product-why-sec">
        <div class="container pt-0">
          <h4
            class="text-black text-center h3-under-bar2 mb-4 fw-bold-800 mvc-step slide-left"
          >
            {
              data.metaverseVirtualCity.data.attributes
                .virtual_city_wildest_dreams_title
            }
          </h4>
          <p class="padd-0 my-4 mb-4 text-last-center text-gray2 slide-left">
            {
              data.metaverseVirtualCity.data.attributes
                .virtual_city_wildest_dreams_content
            }
          </p>
          <div class="row mb-3">
            <div class="col-lg-12">
              <div class="w-100">
                <div class="immersive-m-l text-center">
                  <iframe
                    title="Metaprolane Video"
                    srcdoc="
                    <style>
                    body, .full {
                    width: 100%;
                    height: 100%;
                    margin: 0;
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    object-fit: cover;
                    }
                    </style>
                    <a
                    href='https://www.youtube.com/embed/Yb-xi5hI5gQ?rel=0&modestbranding=1&autohide=1&mute=1&showinfo=0&controls=0&autoplay=1'
                    class='full'
                    >
                    <img
                    src='assets/images/virtual-city/virtual-city-youtube-thumbnail.webp'
                    class='full'
                    />
                    <svg
                    version='1.1'
                    viewBox='0 0 68 48'
                    width='68px'
                    style='position: relative;'
                    >
                    <path d='M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z' fill='#f00'></path>
                    <path d='M 45,24 27,14 27,34' fill='#fff'></path>
                    </svg>
                    </a>
                    "
                    style="max-width: 90%; width: 100%; aspect-ratio: 16/9;"
                    frameborder="0"
                  >
                  </iframe>
                </div>
              </div>

              <div class="text-center my-3">
                <a href="#contact">
                  <button class="btn padd-0">
                    <div class="btn-box border-gradient">
                      Talk To Our Expert
                    </div>
                  </button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>

       <!-- metaverse development tools -->
    <MetaverseDevelopmentTools />

      <!-- Metaprolane is Your Ideal Partner? -->
      <section class="gradient-ms-box">
        <div class="bg-vectors">
          <!-- <img src="assets/images/products/bg3.webp" alt="BG Vector"> -->
        </div>
        <div class="container">
          <div class="why-expertise-section">
            <div class="under-banner">
              <div class="under-banner-carousel-section">
                <div class="row">
                  <div class="col-lg-12">
                    <h2
                      class="text-black text-center fw-bold-800 fs-32 mb-0 slide-left"
                    >
                      {
                        data.metaverseVirtualCity.data.attributes
                          .metaprolane_ideal_partner_title
                      }
                    </h2>
                    <p class="text-gray2 text-last-center slide-left">
                      {
                        data.metaverseVirtualCity.data.attributes
                          .metaprolane_ideal_partner_content
                      }
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- faq's -->
      <section class="why-metaprolane whym2 product-why-sec apply-now">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="why-metaprolane-l mt-2">
                <h5 class="text-black h3-under-bar2 mb-5 slide-left">
                  {
                    data.metaverseVirtualCity.data.attributes
                      .metaverse_virtual_city_faq
                  }
                </h5>
              </div>

              {
                data.metaverseVirtualCity.data.attributes.metaverse_virtual_city_faq_lists.data.map(
                  (item: any) => (
                    <div class="FAQ-card faq">
                      <div class="FAQ-qstn-section question1">
                        <div class="FAQ-question">
                          {item.attributes.question}
                        </div>
                        <img
                          class="dropdown-arrow"
                          src="assets/images/retail-showroom/Keyboard arrow down.webp"
                        />
                      </div>
                      <div class="answer answer1">{item.attributes.answer}</div>
                    </div>
                  ),
                )
              }
            </div>
          </div>
        </div>
      </section>
    </div>
   
  </html>
</Layout>
