---
import Layout from "../layouts/Layout.astro";
import MetaverseDevelopmentTools from "../components/MetaverseDevelopmentTools.astro";

const response = await fetch(`${import.meta.env.PUBLIC_STRAPI_URL}`, {
  method: "POST",
  headers: { "Content-Type": "application/json" },
  body: JSON.stringify({
    query: `
        query{
          metaverseDevelopmentCompany{
                data{
                    attributes{
                      development_company_title
                      development_company_content
                      metaverse_platform_title
                      metaverse_platform_content1
                      metaverse_platform_content2
                      develop_platform_expert_title
                      develop_platform_expert_content
                      metaver_develop_service_title
                      develop_service_lists ( pagination: { limit: 100 }){
                       data{
                        attributes{
                          title
                          content
                          image
                        }
                      }
                   }
        develop_service_benefits
        develop_service_benefits_lists ( pagination: { limit: 100 }){
          data{
            attributes{
              title
              image
              content
            }
          }
        }
        develop_world_demo_title
        develop_world_demo_content
        develop_ideal_metaverse_title
        develop_ideal_metaverse_content
        develop_ideal_metaverse_content2
        develop_service_faq_title
        develop_service_faq_lists{
          data {
            attributes{
              question
              answer
            }
          }
        }

                    }
                }
            }
        }
        `,
  }),
});

const { data } = await response.json();
---

<Layout title="metaverse-development-company" 
description="Looking for top-notch Metaverse development services? Trust Metaprolane, a leading Metaverse development company, to bring your virtual world vision to life" 
keywords="Metaverse Development Company, Metaverse Development Services, Create your own Metaverse Platform, Develop metaverse platform, Metaverse Development Solutions, Create Metaverse, How to Create a Metaverse, Develop Metaverse, Build Metaverse, Top Metaverse Development Companies.">
    <html lang="en">
        <div class="home-container industries-page meta-product">
            <link rel="stylesheet" href="/styles/css/retailShowroom.css" />
            <script
                is:inline
                src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
            ></script>
            <link
                href="/vendor/bootstrap/css/bootstrap.min.css"
                rel="stylesheet"
            />
            <link rel="stylesheet" href="/styles/css/style.css" />

            <script is:inline>
                $(document).ready(function () {
                    $(".question1").click(function () {
                        console.log("clicked questions");
                        var answer = $(this).next(".answer");
                        $(".answer").not(answer).slideUp();
                        answer.slideToggle();
                    });
                });
                $(document).ready(() => {
                    $(".readmore-description").click(function () {
                        var $cardTextContent = $(this).prev(
                            ".card1-text-content",
                        );
                        $cardTextContent.toggleClass("expanded");
                        $(this).text(
                            $cardTextContent.hasClass("expanded")
                                ? "Read less"
                                : "Read more",
                        );
                    });
                });
                $(document).ready(() => {
                    $(".wallet-content").each(function () {
                        var $content = $(this);
                        if (
                            $content[0]?.scrollHeight > $content.innerHeight()
                        ) {
                            $content.next(".virtual-readmore").show();
                        } else {
                            $content.next(".virtual-readmore").hide();
                        }
                    });
                    $(".virtual-readmore").click(function () {
                        var $cardTextContent = $(this).prev(".wallet-content");
                        $cardTextContent.toggleClass("virtual-expanded");
                        $(this).text(
                            $cardTextContent.hasClass("virtual-expanded")
                                ? "Read less"
                                : "Read more",
                        );
                    });
                });
                $(document).ready(function () {
                    $(".talk-btn").click(function () {
                        $("html, body").animate(
                            {
                                scrollTop: $("#footer").offset().top,
                            },
                            300,
                        ); // Adjust the duration as per your requirement
                    });
                });
                // $("#content").hide().show("slide", { direction: "left" }, 1500);
            </script>

            <section
                class="section main-banner"
                id="top"
                data-section="section1"
            >
                <!-- <img src="assets/images/development-services/webp/top-banner.webp" alt="Metaverse Development Services page Banner"
      class="inner-section-banner" /> -->
                <video autoplay="" muted="" loop="" id="bg-video">
                    <source
                        src="assets/images/development-services/webp/top-banner-video.mp4"
                        type="video/mp4"
                    />
                </video>
                <div class="video-overlay header-text main-banner-cont">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="caption"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-vectors banner-vector-down">
                    <img src="assets/images/products/bg1.webp" alt="BG" />
                </div>
            </section>

            <section class="under-banner our-technologies product-tech-sec">
                <div class="container">
                  <div class="section-heading ss-case get-readys">
                    <div class="slide-left">
                      <h1 class="text-black text-center mb-1 h3-under-bar2 hub2 hub-mutual4 pt-0 mt-0 head-another-one">
                        {
                          data.metaverseDevelopmentCompany.data.attributes
                            .development_company_title
                        }
                      </h1>
                    </div>
                    <p class="text-gray2 text-last-center py-4 first-para slide-left">
                      {
                        data.metaverseDevelopmentCompany.data.attributes
                          .development_company_content
                      }
                    </p>
                  </div>
                </div>
              </section>
              <section class="under-banner our-technologies product-tech-sec pt-0">
                <div class="container">
                  <div class="section-heading ss-case">
                    <h2 class="text-black text-center h3-under-bar2 hub2 hub-mutual2 slide-left">
                      {
                        data.metaverseDevelopmentCompany.data.attributes
                          .metaverse_platform_title
                      }
                    </h2>
                    <div class="row pt-3 mob-pt-0">
                      <div class="col-lg-7">
                        <p class="text-gray2 text-last-left py-0 pb-4 slide-left">
                          {
                            data.metaverseDevelopmentCompany.data.attributes
                              .metaverse_platform_content1
                          }
                          <br><br>
                          {
                            data.metaverseDevelopmentCompany.data.attributes
                              .metaverse_platform_content2
                          }
                        </p>
                        <div class="unlock-btn-sec mb-4">
                          <a href="#contact" class="btn btn-primary">Get Quote Now</a>
                        </div>
                      </div>
                      <div class="col-lg-5">
                        <div class="plr-10-only-mobile slide-right mb-4">
                          <img src="assets/images/development-services/webp/img-01.webp" alt="BG Vector" class="w-100-br-15">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

              <section class="under-banner our-technologies product-tech-sec py-2">
                <div class="container">
                  <div class="section-heading ss-case">
                    <h2 class="text-black text-center h3-under-bar2 hub2 hub-mutual2 slide-left">
                      {
                        data.metaverseDevelopmentCompany.data.attributes
                          .develop_platform_expert_title
                      }
                    </h2>
                    <div class="row pt-3 mob-pt-0">
                      <div class="col-lg-5">
                        <div class="plr-10-only-mobile slide-right mb-4">
                          <img src="assets/images/development-services/webp/img-02.webp" alt="BG Vector" class="w-100-br-15 img-h" >
                        </div>
                      </div>
                      <div class="col-lg-7">
                        <p class="text-gray2 text-last-left py-0 pb-4 slide-left">
                          {
                            data.metaverseDevelopmentCompany.data.attributes
                              .develop_platform_expert_content
                          }
                        </p>
        
                      </div>
        
                    </div>
                  </div>
                </div>
              </section>
              <section class="our-courses product-our-courses msd-box1 pt-0">
                <div class="container c-features">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="section-heading">
                        <h3
                          class="text-black text-center h3-under-bar2 hub1 mb-5 hub-mutual3 feature-h5 slide-left">
                          {
                            data.metaverseDevelopmentCompany.data.attributes
                              .metaver_develop_service_title
                          }
                        </h3>
                        <div class="owl-experts-item owl-carousel slide-left d-flex flex-wrap">
                          {
                            data.metaverseDevelopmentCompany.data.attributes.develop_service_lists.data.map(
                              (each: any, index: number) => {
                                return (
                          <div class="item" style="width:23rem">
                            <div class="icon">
                              <div class="expert-txt2">
                                <div class="box-img">
                                  <img src={each.attributes.image}
                                    alt="Immersive Environment Image" />
                                </div>
                                <div class="box-img-inn">
                                  <h5 class="fma">{each.attributes.title}</h5>
                                  <p class="text-last-center">
                                    {each.attributes.content}
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                         )})}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

              <section class="meta-development-services product-our-services v-mall-box benefits-mds-page">
                <div class="container">
                  <div class="row align-items-center">
                    <div class="col-lg-12">
                      <div class="text-center">
                        <div class="under-banner ">
                          <div class="under-banner-carousel-section">
                            <h4 class="text-white h3-under-bar2 slide-left">
                              {
                                data.metaverseDevelopmentCompany.data.attributes
                                  .develop_service_benefits
                              }
                            </h4>
                            <div class="row slide-left">
                              {
                                data.metaverseDevelopmentCompany.data.attributes.develop_service_benefits_lists.data.map(
                                  (each: any, index: number) => {
                                    return (
                              <div class="col-lg-6">
                                <div class="benefits-metavirtualoffice">
                                  <div class="text-center bm-img">
                                    <img
                                      src={each.attributes.image} alt="Benefits Icons" />
                                  </div>
                                  <h6 class="benefits-h6">{each.attributes.title}</h6>
                                  <p class="text-gray2 text-last-center">
                                    {each.attributes.content}
                                  </p>
                                </div>
                              </div>
                             )})}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="bg-vectors">
                  <img src="assets/images/bg-vector3.webp" alt="BG Vector">
                </div>
              </section>

              <!-- Check out an exciting world with our demo -->
              <section class="why-metaprolane whym2 product-why-sec">
                <div class="container pt-0">
                  <h5 class="text-black text-center h3-under-bar2 mb-4 fw-bold-800 mvc-step slide-left">
                    {
                      data.metaverseDevelopmentCompany.data.attributes
                        .develop_world_demo_title
                    }
                  </h5>
                  <p class="padd-0 my-3 mb-4 text-last-center text-gray2 slide-left">
                    {
                      data.metaverseDevelopmentCompany.data.attributes
                        .develop_world_demo_content
                    }
                  </p>
                  <div class="row mb-3">
                    <div class="col-lg-12">
                      <div class="w-100">
                        <div class="immersive-m-l text-center slide-left">
                        <a href="#contact">
                          <img src="assets/images/development-services/webp/video-thumbnail.webp" class="w-100-br-15" />
                        </a>
                          <!-- <iframe title="Metaprolane Video" srcdoc="
                  <style>
                  body, .full {
                  width: 100%;
                  height: 100%;
                  margin: 0;
                  position: absolute;
                  display: flex;
                  justify-content: center;
                  object-fit: cover;
                  }
                  </style>
                  <a
                  href='https://www.youtube.com/embed/fGiPijsfjKI?rel=0&modestbranding=1&autohide=1&mute=1&showinfo=0&controls=0&autoplay=1'
                  class='full'
                  >
                  <img
                  src='assets/images/development-services/webp/video-thumbnail.webp'
                  class='full'
                  />
                  <svg
                  version='1.1'
                  viewBox='0 0 68 48'
                  width='68px'
                  style='position: relative;'
                  >
                  <path d='M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z' fill='#f00'></path>
                  <path d='M 45,24 27,14 27,34' fill='#fff'></path>
                  </svg>
                  </a>
                  " style="max-width: 90%; width: 100%; aspect-ratio: 16/9;" frameborder="0">
                          </iframe> -->
                        </div>
                      </div>
        
                      <div class="text-center my-3">
                        <a href="#contact">
                          <button class="btn padd-0">
                            <div class="btn-box border-gradient">
                              Talk To Our Expert
                            </div>
                          </button>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

              <!-- metaverse development tools -->
              <MetaverseDevelopmentTools/> 

              <!-- ideal Metaverse Development Company -->
              <section class="gradient-ms-box">
                <div class="bg-vectors">
                  <!-- <img src="assets/images/products/bg3.webp" alt="BG Vector"> -->
                </div>
                <div class="container">
                  <div class="why-expertise-section">
                    <div class="under-banner ">
                      <div class="under-banner-carousel-section">
                        <div class="row">
                          <div class="col-lg-12">
                            <h5 class="text-black text-center fw-bold-800 fs-32 mb-0 slide-left">
                              {
                                data.metaverseDevelopmentCompany.data.attributes
                                  .develop_ideal_metaverse_title
                              }
                            </h5>
                            <p class="text-gray2 text-last-center slide-left">
                              {
                                data.metaverseDevelopmentCompany.data.attributes
                                  .develop_ideal_metaverse_content
                              }<br>
                              {
                                data.metaverseDevelopmentCompany.data.attributes
                                  .develop_ideal_metaverse_content2
                              }
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

              <!-- FAQ's - Metaverse Development Services -->
              <section class="why-metaprolane whym2 product-why-sec apply-now pb-5">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="why-metaprolane-l mt-2">
                        <h5 class="text-black h3-under-bar2 mb-5 slide-left">
                          {
                            data.metaverseDevelopmentCompany.data.attributes
                              .develop_service_faq_title
                          }
                        </h5>
                      </div>
                      {
                        data.metaverseDevelopmentCompany.data.attributes.develop_service_faq_lists.data.map(
                          (item: any) => (
                            <div class="FAQ-card faq">
                              <div class="FAQ-qstn-section question1">
                                <div class="FAQ-question">
                                  {item.attributes.question}
                                </div>
                                <img
                                  class="dropdown-arrow"
                                  src="assets/images/retail-showroom/Keyboard arrow down.webp"
                                />
                              </div>
                              <div class="answer answer1">{item.attributes.answer}</div>
                            </div>
                          ),
                        )
                      }
                    </div>
                  </div>
                </div>
              </section>

        </div>
    </html>
</Layout>
