---
import Layout from "../layouts/Layout.astro";

const response = await fetch(`${import.meta.env.PUBLIC_STRAPI_URL}`, {
    method: "POST",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify({
        query: `
        query{
            metaverseVirtualOffice{
                data{
                    attributes{
                        section_one_virtual_office
                        metevarse_office_sub_title
                        metaverse_office_content
                        virtual_office_development
                       virtual_office_development_content
                       feature_virtual_title
                       feature_metaverse_virtuals{
                     data {
                      attributes {
                        title
                        image
                        content
                      }
                    }
                  }
                  Benefits_metevarse_virtual
                  benefits_metaverse_virtual_devs{
                  data {
                    attributes {
                      image
                      content
                      title
                    }
                  }  
                  }
                  virtual_working_space_solutions
                  virtual_working_space_content
                  virtual_signup_text
                  Monetizing_virtual_business
                  monetizing_virtual_business_lists{
                    data {
                      attributes{
                        title
                        content
                        image
                      }
                    }
                  }
                  Future_Virtual_WorkSpace
                Future_Virtual_WorkSpace_content
                metaveser_development_tools
                  metaverse_development_tools_lists {
                    data {
                      attributes{
                        image
                      }
                    }
                  }
                  ideal_partner_metaverse_development
                  ideal_partner_development_lists {
                    data{
                      attributes{
                        image
                        title
                        content
                      }
                    }
                  }
                  virtual_development_faq
                  virtual_development_faq_lists {
                    data{
                     attributes{
                        question
                        answer
                    }
                  }
                }
                  
                    }
                }
            }
        }
        `,
    }),
});

const { data } = await response.json();
---

<Layout
    title="metaverseVirtualOffice"
>
    <html lang="en">
        <div class="home-container industries-page meta-product">
            <link rel="stylesheet" href="/styles/css/retailShowroom.css" />
            <!-- <script
                is:inline
                src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
            ></script> -->
            <link
                href="/vendor/bootstrap/css/bootstrap.min.css"
                rel="stylesheet"
            />
            <!-- Bootstrap core CSS -->
            <!-- <link
                href="vendor/bootstrap/css/bootstrap.min.css"
                rel="stylesheet"
            /> -->
            <!-- <link rel="stylesheet" href="assets/css/fontawesome.css" /> -->
            <!-- <link rel="stylesheet" href="assets/css/owl.css"> -->
            <link rel="stylesheet" href="styles/css/lightbox.css" />
            <link
                rel="stylesheet"
                href="styles/css/style.css?@#Oneinnt5556341Ones3sd3dfsf45ytg5v1"
            />
            <link rel="stylesheet" href="styles/css/animate.css" />
            <!-- <link rel="stylesheet" href="assets/css/countrySelect.min.css" /> -->
            <link
                type="text/css"
                rel="stylesheet"
                href="assets/css/style5597.css?ver=5.0"
            />
            <link rel="stylesheet" href="/styles/css/style.css" />
            <link rel="stylesheet" href="/styles/blog/css/owl.css" />
            

            <!-- <div class="meta-product"> -->
            <section
                class="section main-banner"
                id="top"
                data-section="section1"
            >
                <video autoplay muted loop id="bg-video">
                    <source
                        src="/assets/images/products2/video1.mp4"
                        type="video/mp4"
                    />
                </video>
                <div class="bg-vectors bgv-white">
                    <img
                        src="assets/images/products/bg1.webp"
                        alt="Image icon"
                    />
                </div>
            </section>

            <section class="under-banner our-technologies product-tech-sec">
                <div class="container">
                    <div
                        class="section-heading ss-case animation-element slide-left"
                    >
                        <h3 class="text-black text-center mb-1 h3-under-bar2">
                            <div class="fs-32 text-blue fw-700">
                                {
                                    data.metaverseVirtualOffice.data.attributes
                                        .section_one_virtual_office
                                }
                            </div>
                            {
                                data.metaverseVirtualOffice.data.attributes
                                    .metevarse_office_sub_title
                            }
                        </h3>
                        <p class="text-gray2 text-last-center py-4">
                            {
                                data.metaverseVirtualOffice.data.attributes
                                    .metaverse_office_content
                            }
                        </p>
                    </div>
                </div>
            </section>

            <section
                class="under-banner our-technologies product-tech-sec aboutmeta about-main abt-1 topmeta-dev-company2"
            >
                <div class="container">
                    <h1
                        class="text-black text-center mb-4 h3-under-bar2 animation-element slide-left"
                    >
                        {
                            data.metaverseVirtualOffice.data.attributes
                                .virtual_office_development
                        }
                    </h1>
                    <div class="row py-3">
                        <div class="col-lg-7">
                            <div
                                class="section-heading ss-case animation-element slide-left"
                            >
                                <p class="text-gray2 text-last-left pt-0 pb-3">
                                    {
                                        data.metaverseVirtualOffice.data
                                            .attributes
                                            .virtual_office_development_content
                                    }
                                </p>
                                <div class="unlock-btn-sec">
                                    <a href="#contact" class="btn btn-primary"
                                        >Get Quote Now</a
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div
                                class="plr-10-only-mobile animation-element slide-right"
                            >
                                <img
                                    src="assets/images/products2/Join-the-metavers2.webp"
                                    alt="BG Vector"
                                    class="w-100-br-15"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="our-courses product-our-courses msd-box1">
                <div class="container carousel-space">
                    <div class="row">
                        <div class="col-lg-12">
                            <div
                                class="section-heading animation-element slide-left"
                            >
                                <h2
                                    class="text-black text-center pt-4 h3-under-bar2 mt-4"
                                >
                                    {
                                        data.metaverseVirtualOffice.data
                                            .attributes.feature_virtual_title
                                    }
                                </h2>

                                <div class="owl-carousel owl-carousel1">
                                    {
                                        data.metaverseVirtualOffice.data.attributes.feature_metaverse_virtuals.data.map(
                                            (each: any, index: number) => {
                                                return (
                                                    <div
                                                        class="owl-experts-item "
                                                        
                                                    >
                                                        <div class="item">
                                                            <div class="icon">
                                                                <div class="expert-txt2-office">
                                                                    <div class="box-img">
                                                                        <img
                                                                            src={
                                                                                each
                                                                                    .attributes
                                                                                    .image
                                                                            }
                                                                            alt="Features Image"
                                                                        />
                                                                    </div>
                                                                    <div class="box-img-inn">
                                                                        <h6>
                                                                            {
                                                                                each
                                                                                    .attributes
                                                                                    .title
                                                                            }
                                                                        </h6>
                                                                        <p class="text-last-center text-white">
                                                                            {
                                                                                each
                                                                                    .attributes
                                                                                    .content
                                                                            }
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                );
                                            },
                                        )
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <section class="meta-development-services product-our-services">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <div class="under-banner">
                                        <div
                                            class="under-banner-carousel-section"
                                        >
                                            <h3
                                                class="text-white h3-under-bar2 animation-element slide-left"
                                            >
                                                {
                                                    data.metaverseVirtualOffice
                                                        .data.attributes
                                                        .Benefits_metevarse_virtual
                                                }
                                            </h3>

                                            <div
                                                class="row animation-element slide-left in-view"
                                            >
                                                {
                                                    data.metaverseVirtualOffice.data.attributes.benefits_metaverse_virtual_devs.data.map(
                                                        (
                                                            each: any,
                                                            index: number,
                                                        ) => {
                                                            return (
                                                                <div class="col-lg-4">
                                                                    <div class="benefits-metavirtualoffice">
                                                                        <div class="text-center bm-img">
                                                                            <img
                                                                                src={
                                                                                    each
                                                                                        .attributes
                                                                                        .image
                                                                                }
                                                                                alt="Benefits Icons"
                                                                            />
                                                                        </div>
                                                                        <h5>
                                                                            {
                                                                                each
                                                                                    .attributes
                                                                                    .title
                                                                            }
                                                                        </h5>
                                                                        <p class="text-gray2 text-last-center">
                                                                            {
                                                                                each
                                                                                    .attributes
                                                                                    .content
                                                                            }
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            );
                                                        },
                                                    )
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-vectors">
                        <img
                            src="assets/images/bg-vector3.webp"
                            alt="BG Vector"
                        />
                    </div>
                </section>

                <section class="why-metaprolane whym2 product-why-sec">
                    <div class="container">
                        <h2
                            class="text-black text-center h3-under-bar2 animation-element slide-left"
                        >
                            {
                                data.metaverseVirtualOffice.data.attributes
                                    .virtual_working_space_solutions
                            }
                        </h2>
                        <div class="row">
                            <div class="col-lg-7">
                                <div
                                    class="why-metaprolane-l animation-element slide-left"
                                >
                                    <p class="text-gray2 text-last-left padd-0">
                                        {
                                            data.metaverseVirtualOffice.data
                                                .attributes
                                                .virtual_working_space_content
                                        }
                                        <br /><br />
                                        {
                                            data.metaverseVirtualOffice.data
                                                .attributes.virtual_signup_text
                                        }
                                    </p>
                                    <div class="text-last-left my-3 mt-4 pt-2">
                                        <a href="/#demo">
                                            <button class="btn padd-0">
                                                <div
                                                    class="btn-box border-gradient"
                                                >
                                                    Start your 3D journey
                                                </div>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 space-solution">
                                <img
                                    src="assets/images/products2/virtual-meeting-rooms.webp"
                                    alt="BG Vector"
                                    class="w-100-br-15"
                                />
                            </div>
                        </div>
                    </div>
                </section>

                <section class="meta-development-services product-our-services">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <div class="under-banner">
                                        <div
                                            class="under-banner-carousel-section"
                                        >
                                            <h3
                                                class="text-white h3-under-bar2 mb-5 animation-element slide-left"
                                            >
                                                {
                                                    data.metaverseVirtualOffice
                                                        .data.attributes
                                                        .Monetizing_virtual_business
                                                }
                                            </h3>
                                            <div
                                                class="row align-items-center animation-element slide-left"
                                            >
                                                {
                                                    data.metaverseVirtualOffice.data.attributes.monetizing_virtual_business_lists.data.map(
                                                        (
                                                            each: any,
                                                            index: number,
                                                        ) => {
                                                            return (
                                                                <div class="col-lg-6">
                                                                    <div class="benefits-metavirtualoffice mds22">
                                                                        <div class="align-items-center">
                                                                            <img
                                                                                src={
                                                                                    each
                                                                                        .attributes
                                                                                        .image
                                                                                }
                                                                                alt="Benefits Icons"
                                                                                class="mds-product"
                                                                            />
                                                                        </div>
                                                                        <div class="benefits-mds-inn">
                                                                            <h3>
                                                                                {
                                                                                    each
                                                                                        .attributes
                                                                                        .title
                                                                                }
                                                                            </h3>
                                                                            <p class="text-last-center text-gray2">
                                                                                {
                                                                                    each
                                                                                        .attributes
                                                                                        .content
                                                                                }
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            );
                                                        },
                                                    )
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-vectors">
                        <img
                            src="assets/images/bg-vector3.webp"
                            alt="BG Vector"
                        />
                    </div>
                </section>

                <section class="why-metaprolane whym2 product-why-sec">
                    <div class="container">
                        <h4
                            class="text-black text-center h3-under-bar2 mb-4 fw-bold-800 animation-element slide-left"
                        >
                            {
                                data.metaverseVirtualOffice.data.attributes
                                    .Future_Virtual_WorkSpace
                            }
                        </h4>
                        <p
                            class="padd-0 my-4 mb-4 text-last-center text-gray2 animation-element slide-left"
                        >
                            {
                                data.metaverseVirtualOffice.data.attributes
                                    .Future_Virtual_WorkSpace_content
                            }
                        </p>
                        <div class="row mb-3">
                            <div class="col-lg-12">
                                <div class="w-100">
                                    <div class="immersive-m-l text-center">
                                        <iframe
                                            title="Metaprolane Video"
                                            srcdoc="
    <style>
    body, .full {
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    object-fit: cover;
    }
    </style>
    <a
    href='https://www.youtube.com/embed/R-uCpc5KC1c?rel=0&modestbranding=1&autohide=1&mute=1&showinfo=0&controls=0&autoplay=1'
    class='full'
    >          
    <img
    src='assets/images/products/img6.webp'
    class='full'
    />
    <svg
    version='1.1'
    viewBox='0 0 68 48'
    width='68px'
    style='position: relative;'
    >
    <path d='M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z' fill='#f00'></path>
    <path d='M 45,24 27,14 27,34' fill='#fff'></path>
    </svg>
    </a>
    "
                                            style="max-width: 90%; width: 100%; aspect-ratio: 16/9;"
                                            frameborder="0"
                                        >
                                        </iframe>
                                    </div>
                                </div>
                                <div class="text-center my-3">
                                    <a href="#contact">
                                        <button class="btn padd-0">
                                            <div
                                                class="btn-box border-gradient"
                                            >
                                                Talk To Our Expert
                                            </div>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="under-banner our-technologies virtual-office-carousel2">
                    <div class="bg-vectors">
                        <img
                            src="assets/images/products/bg3.webp"
                            alt="BG Vector"
                        />
                    </div>
                    <div class="container">
                        <div class="under-banner-carousel-section">
                            <h5
                                class="text-center text-white h3-under-bar2 animation-element slide-left"
                            >
                                {
                                    data.metaverseVirtualOffice.data.attributes
                                        .metaveser_development_tools
                                }
                            </h5>
                            <div class="row mt-4">
                                <div class="col-lg-12" id="owl-carousel2">
                                    <div class="owl-carousel owl-carousel2" >
                                        {
                                            data.metaverseVirtualOffice.data.attributes.metaverse_development_tools_lists.data.map(
                                                (each: any, index: number) => {
                                                    return (
                                                        <div class="owl-experts-item">
                                                            <div class="item">
                                                                <div class="icon">
                                                                    <img
                                                                        src={
                                                                            each
                                                                                .attributes
                                                                                .image
                                                                        }
                                                                        alt="Ourtech1"
                                                                    />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    );
                                                },
                                            )
                                        }
                                    </div>
                                </div>
                               <!-- <div
                                    class="col-lg-12 animation-element slide-left"
                                >
                                    <div
                                        class="owl-service-item owl-carousel owl-carousel2 d-flex justify-content-between"
                                    >
                                        {
                                            data.metaverseVirtualOffice.data.attributes.metaverse_development_tools_lists.data.map(
                                                (each: any, index: number) => {
                                                    return (
                                                        <div class="item">
                                                            <div class="icon">
                                                                <img
                                                                    src={
                                                                        each
                                                                            .attributes
                                                                            .image
                                                                    }
                                                                    alt="Ourtech1"
                                                                />
                                                            </div>
                                                        </div>
                                                    );
                                                },
                                            )
                                        }
                                    </div>
                                </div> -->
                                <!-- <div
                                    class="col-lg-12 animation-element slide-left"
                                >
                                    <div
                                        class="owl-service-item owl-carousel owl-carousel2 d-flex justify-content-between"
                                    >
                                        {
                                            data.metaverseVirtualOffice.data.attributes.metaverse_development_tools_lists.data.map(
                                                (each: any, index: number) => {
                                                    return (
                                                        <div class="item">
                                                            <div class="icon">
                                                                <img
                                                                    src={
                                                                        each
                                                                            .attributes
                                                                            .image
                                                                    }
                                                                    alt="Ourtech1"
                                                                />
                                                            </div>
                                                        </div>
                                                    );
                                                },
                                            )
                                        }
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </section>
                <section class="gradient-ms-box">
                    <div class="bg-vectors">
                        <!-- <img src="assets/images/products/bg3.webp" alt="BG Vector"> -->
                    </div>
                    <div class="container">
                        <div class="why-expertise-section">
                            <div class="under-banner">
                                <div class="under-banner-carousel-section">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <h3
                                                class="text-black text-center fw-bold-800 fs-32 mb-4"
                                            >
                                                {
                                                    data.metaverseVirtualOffice
                                                        .data.attributes
                                                        .ideal_partner_metaverse_development
                                                }
                                            </h3>
                                            <div
                                                class="owl-carousel owl-carousel3 animation-element slide-left"
                                            >
                                   
                                                    {
                                                        data.metaverseVirtualOffice.data.attributes.ideal_partner_development_lists.data.map(
                                                            (
                                                                each: any,
                                                                index: number,
                                                            ) => {
                                                                return (
                                                                        <div class="item">
                                                                            <div class="icon">
                                                                                <div class="row align-items-center">
                                                                                    <div class="col-lg-7">
                                                                                        <h6 class="text-black text-last-left fw-bold fs-rem">
                                                                                            {
                                                                                                each
                                                                                                    .attributes
                                                                                                    .title
                                                                                            }
                                                                                        </h6>
                                                                                        <p class="text-gray2 text-last-left">
                                                                                            {
                                                                                                each
                                                                                                    .attributes
                                                                                                    .content
                                                                                            }
                                                                                        </p>
                                                                                    </div>
                                                                                    <div class="col-lg-5">
                                                                                        <div class="gms-box-img text-center">
                                                                                            <img
                                                                                                src={
                                                                                                    each
                                                                                                        .attributes
                                                                                                        .image
                                                                                                }
                                                                                                alt="Expertise"
                                                                                            />
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                );
                                                            },
                                                        )   
                                                    }
                                                        <!-- <div class="item">
                                                            <div class="icon">
                                                                <div class="row align-items-center">
                                                                    <div class="col-lg-7">
                                                                        <h6 class="text-black text-last-left fw-bold fs-rem">
                                                                           geggtg
                                                                        </h6>
                                                                        <p class="text-gray2 text-last-left">
                                                                           fwfg
                                                                        </p>
                                                                    </div>
                                                                    <div class="col-lg-5">
                                                                        <div class="gms-box-img text-center">
                                                                            efwf
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div> -->
                                                    <!-- <div class="" style="text-align: center;">welcome</div>
                                                    <div class="" style="text-align: center;">welcome</div>
                                                    <div class="" style="text-align: center;">welcome</div> -->
                                                    <!-- <div class="owl-stage">
                                                        {
                                                            data.metaverseVirtualOffice.data.attributes.ideal_partner_development_lists.data.map(
                                                                (
                                                                    each: any,
                                                                    index: number,
                                                                ) => {
                                                                    return (
                                                                        <div class="owl-item">
                                                                            <div class="item">
                                                                                <div class="icon">
                                                                                    <div class="row align-items-center">
                                                                                        <div class="col-lg-7">
                                                                                            <h6 class="text-black text-last-left fw-bold fs-rem">
                                                                                                {
                                                                                                    each
                                                                                                        .attributes
                                                                                                        .title
                                                                                                }
                                                                                            </h6>
                                                                                            <p class="text-gray2 text-last-left">
                                                                                                {
                                                                                                    each
                                                                                                        .attributes
                                                                                                        .content
                                                                                                }
                                                                                            </p>
                                                                                        </div>
                                                                                        <div class="col-lg-5">
                                                                                            <div class="gms-box-img text-center">
                                                                                                <img
                                                                                                    src={
                                                                                                        each
                                                                                                            .attributes
                                                                                                            .image
                                                                                                    }
                                                                                                    alt="Expertise"
                                                                                                />
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    );
                                                                },
                                                            )
                                                        }
                                                    </div> -->
                                               
                                                    <!-- <button id="prev" class="nav-button"></button>
                                        <button id="next" class="nav-button"></button> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section
                    class="why-metaprolane whym2 product-why-sec apply-now"
                >
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="why-metaprolane-l mt-2">
                                    <h3 class="text-black h3-under-bar2 mb-5">
                                        {
                                            data.metaverseVirtualOffice.data
                                                .attributes
                                                .virtual_development_faq
                                        }
                                    </h3>
                                </div>
                                <!-- <div class="faq-section"> -->
                                {
                                    data.metaverseVirtualOffice.data.attributes.virtual_development_faq_lists.data.map(
                                        (item: any, index: number) => (
                                            <div class="faq-card">
                                                <div
                                                    class="faq-question"
                                                    onclick="toggleAnswer(event)"
                                                >
                                                    {item.attributes.question}
                                                    <span class="faq-toggle-icon">
                                                        +
                                                    </span>
                                                </div>
                                                <div class="faq-answer">
                                                    {item.attributes.answer}
                                                </div>
                                            </div>
                                        ),
                                    )
                                }
                                <!-- </div> -->

                                <!-- {
                                data.metaverseVirtualOffice.data.attributes.virtual_development_faq_lists.data.map(
                                    (item: any) => (
                                        <div class="faq-card">
                                            <div
                                                class="faq-question"
                                                onclick="toggleAnswer(event)"
                                            >
                                                {item.attributes.question}
                                                <span class="faq-toggle-icon">
                                                    +
                                                </span>
                                            </div>
                                            <div class="faq-answer">
                                                {item.attributes.answer}
                                            </div>
                                        </div>
                                    ),
                                )
                            } -->
                            </div>
                        </div>
                    </div>
                </section>
            </section>
            <!-- </div> -->
            <script is:inline>
                document.addEventListener("DOMContentLoaded", function () {
                    let currentIndex = 0;
                    const slides = document.querySelectorAll(".carousel-item");
                    const totalSlides = slides.length;
    
                    document
                        .querySelector(".carousel-control-next")
                        .addEventListener("click", () => {
                            slides[currentIndex].classList.remove("active");
                            currentIndex = (currentIndex + 1) % totalSlides;
                            slides[currentIndex].classList.add("active");
                        });
    
                    document
                        .querySelector(".carousel-control-prev")
                        .addEventListener("click", () => {
                            slides[currentIndex].classList.remove("active");
                            currentIndex =
                                (currentIndex - 1 + totalSlides) % totalSlides;
                            slides[currentIndex].classList.add("active");
                        });
                });
    
                document.addEventListener("DOMContentLoaded", () => {
                    const prevButton = document.querySelector(".slider_nav .prev");
                    const nextButton = document.querySelector(".slider_nav .next");
                    const items = document.querySelectorAll(".slider_top ul li");
                    let currentIndex = 0; // Start from the first item
    
                    function updateCarousel() {
                        items.forEach((item, index) => {
                            item.classList.remove(
                                "prev",
                                "prev2",
                                "active",
                                "next",
                                "next2",
                            );
                        });
    
                        const prevIndex =
                            (currentIndex - 1 + items.length) % items.length;
                        const nextIndex = (currentIndex + 1) % items.length;
                        const prev2Index =
                            (currentIndex - 2 + items.length) % items.length;
                        const next2Index = (currentIndex + 2) % items.length;
    
                        items[prev2Index].classList.add("prev2");
                        items[prevIndex].classList.add("prev");
                        items[currentIndex].classList.add("active");
                        items[nextIndex].classList.add("next");
                        items[next2Index].classList.add("next2");
                    }
    
                    function nextSlide() {
                        currentIndex = (currentIndex + 1) % items.length;
                        updateCarousel();
                    }
    
                    // Automatically advance to the next slide every 5 seconds
                    setInterval(nextSlide, 3000);
    
                    updateCarousel(); // Initial call to set the classes
                });
    
                document.addEventListener("DOMContentLoaded", function () {
                    $(".owl-carousel1").owlCarousel({
                        items: 1, // Display one item-row at a time
                        margin: 20, // Space between items
                        loop: true, // Loop through items
                        autoplay: true, // Enable auto-play
                        autoplayTimeout: 3000, // Auto-play interval (in ms)
                        autoplayHoverPause: false, // Pause on hover
                        responsive: {
                            0: {
                                items: 1, 
                            },
                            600: {
                                items: 2,
                            },
                            800: {
                                items: 2,
                            },
                            1000: {
                                items: 3,
                            },
                        },
                    });
                    $(".owl-carousel2").owlCarousel({
                        items: 1, // Display one item-row at a time
                        margin: 20, // Space between items
                        loop: true, // Loop through items
                        autoplay: true, // Enable auto-play
                        autoplayTimeout: 3000, // Auto-play interval (in ms)
                        autoplayHoverPause: false, // Pause on hover
                        responsive: {
                            0: {
                                items: 1, 
                            },
                            600: {
                                items: 3,
                            },
                            800: {
                                items: 2,
                            },
                            1000: {
                                items: 5,
                            },
                        },
                    });
                    $(".owl-carousel3").owlCarousel({
                        items: 1, // Display one item-row at a time
                        margin: 20, // Space between items
                        loop: true, // Loop through items
                        autoplay: false, // Enable auto-play
                        autoplayTimeout: 3000, // Auto-play interval (in ms)
                        autoplayHoverPause: false, // Pause on hover
                        responsive: {
                            0: {
                                items: 1, 
                            },
                            600: {
                                items: 1,
                            },
                            800: {
                                items: 1,
                            },
                            1000: {
                                items: 1,
                            },
                        },
                    });
                });
            </script>
    
            <style>
                
                .nav-button {
                    /* position: absolute; */
                    top: 50%;
                    transform: translateY(-50%);
                    /* background: rgba(0, 0, 0, 0.5); */
                    color: white;
                    /* border: none; */
                    /* padding: 10px; */
                    cursor: pointer;
                    z-index: 1;
                }
                #prev {
                    left: 10px;
                }
                #next {
                    right: 10px;
                }
            </style>

            <script is:inline>
                $(document).ready(function () {
                    $(".question1").click(function () {
                        console.log("clicked questions");
                        var answer = $(this).next(".answer");
                        $(".answer").not(answer).slideUp();
                        answer.slideToggle();
                    });
                });
                function toggleAnswer(event) {
                    const question = event.currentTarget;
                    const answer = question.nextElementSibling;

                    $(answer).slideToggle();
                    $(question).toggleClass("active");
                    $(".faq-question")
                        .not(question)
                        .removeClass("active")
                        .next(".faq-answer")
                        .slideUp();

                    // Toggle the icon between plus and minus
                    const icon = question.querySelector(".faq-toggle-icon");
                    icon.textContent = icon.textContent === "+" ? "-" : "+";
                }
                $(document).ready(() => {
                    $(".readmore-description").click(function () {
                        var $cardTextContent = $(this).prev(
                            ".card1-text-content",
                        );
                        $cardTextContent.toggleClass("expanded");
                        $(this).text(
                            $cardTextContent.hasClass("expanded")
                                ? "Read less"
                                : "Read more",
                        );
                    });
                });
                $(document).ready(() => {
                    $(".wallet-content").each(function () {
                        var $content = $(this);
                        if (
                            $content[0]?.scrollHeight > $content.innerHeight()
                        ) {
                            $content.next(".virtual-readmore").show();
                        } else {
                            $content.next(".virtual-readmore").hide();
                        }
                    });
                    $(".virtual-readmore").click(function () {
                        var $cardTextContent = $(this).prev(".wallet-content");
                        $cardTextContent.toggleClass("virtual-expanded");
                        $(this).text(
                            $cardTextContent.hasClass("virtual-expanded")
                                ? "Read less"
                                : "Read more",
                        );
                    });
                });
                $(document).ready(function () {
                    $(".talk-btn").click(function () {
                        $("html, body").animate(
                            {
                                scrollTop: $("#footer").offset().top,
                            },
                            300,
                        ); // Adjust the duration as per your requirement
                    });
                });

                // document.addEventListener("DOMContentLoaded", () => {
                //     const items = document.querySelectorAll(".owl-item");
                //     const itemWidth = 1016 + 30; // item width + margin
                //     let currentIndex = 0;
                //     let autoSlideInterval;

                //     function updateCarousel() {
                //         const translateX = -currentIndex * itemWidth;
                //         document.querySelector(".owl-stage").style.transform =
                //             `translate3d(${translateX}px, 0, 0)`;
                //     }

                //     function startAutoSlide() {
                //         autoSlideInterval = setInterval(() => {
                //             currentIndex = (currentIndex + 1) % items.length;
                //             updateCarousel();
                //         }, 3000);
                //     }

                //     function stopAutoSlide() {
                //         clearInterval(autoSlideInterval);
                //     }

                //     document
                //         .getElementById("prev")
                //         .addEventListener("click", () => {
                //             stopAutoSlide();
                //             currentIndex =
                //                 (currentIndex - 1 + items.length) %
                //                 items.length;
                //             updateCarousel();
                //             startAutoSlide();
                //         });

                //     document
                //         .getElementById("next")
                //         .addEventListener("click", () => {
                //             stopAutoSlide();
                //             currentIndex = (currentIndex + 1) % items.length;
                //             updateCarousel();
                //             startAutoSlide();
                //         });

                //     // Initial update and start auto slide
                //     updateCarousel();
                //     startAutoSlide();
                // });
                // $("#content").hide().show("slide", { direction: "left" }, 1500);
            </script>
            <script type="text/javascript">
                var $animation_elements = $(".animation-element");
                var $window = $(window);

                function check_if_in_view() {
                    var window_height = $window.height();
                    var window_top_position = $window.scrollTop();
                    var window_bottom_position =
                        window_top_position + window_height;

                    $.each($animation_elements, function () {
                        var $element = $(this);
                        var element_height = $element.outerHeight();
                        var element_top_position = $element.offset().top;
                        var element_bottom_position =
                            element_top_position + element_height;

                        //check to see if this current container is within viewport
                        if (
                            element_bottom_position >= window_top_position &&
                            element_top_position <= window_bottom_position
                        ) {
                            $element.addClass("in-view");
                        }
                        // else {
                        //   $element.removeClass('in-view');
                        // }
                    });
                }

                $window.on("scroll resize", check_if_in_view);
                $window.trigger("scroll", check_if_in_view);
            </script>
        </div>
    </html>
</Layout>
