---
import Layout from "../layouts/Layout.astro";
import MetaverseDevelopmentTools from "../components/MetaverseDevelopmentTools.astro";

const response = await fetch(`${import.meta.env.PUBLIC_STRAPI_URL}`, {
    method: "POST",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify({
        query: `
        query{
            metaverseRealEstateSolution{
              data {
                attributes {
                 real_estate_dev_title
                  real_estate_dev_content
                  real_estate_dev_services_title
                  real_estate_dev_services_content
                  real_estate_dev_services_title1
                  real_estate_dev_services_content1
                  real_estate_dev_services_lists{
                    data{
                      attributes{
                        title
                        content
                      }
                    }
                  }
                  real_estate_minim_veniam_title
                  real_estate_minim_veniam_lists {
                    data{
                      attributes{
                        title
                        content
                        image
                      }
                    }
                  }
                  real_estate_benefits_title
                  real_estate_benefits_lists{
                    data{
                      attributes{
                        title
                        content
                        image
                      }
                    }
                  }
                  real_estate_platform_dev_title
                  real_estate_platform_dev_content
                  real_estate_platform_dev_lists{
                    data{
                      attributes{
                        title
                        content
                        image
                      }
                    }
                  }
                  real_estate_platform_mechanics
                  real_estate_platform_mechanics_lists{
                    data{
                      attributes{
                        title
                        content
                      }
                    }
                  }
                  real_estate_tech_stack_title
                  real_estate_choose_metaprolane_title
                  real_estate_choose_metaprolane_lists{
                    data{
                      attributes{
                        title
                        content
                      }
                    }
                  }
                
             
                  
                }
              }
                
            } 
        }
        `,
    }),
});

const { data } = await response.json();
---

<Layout title="metaverseRealEstateSolution" >
    <html lang="en">
        <div class="home-container industries-page meta-product">
            <link rel="stylesheet" href="/styles/css/retailShowroom.css" />
            <script
                is:inline
                src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
            ></script>
            <link
                href="/vendor/bootstrap/css/bootstrap.min.css"
                rel="stylesheet"
            />
            <link rel="stylesheet" href="/styles/css/style.css" />

            <script is:inline>
                $(document).ready(function () {
                    $(".question1").click(function () {
                        console.log("clicked questions");
                        var answer = $(this).next(".answer");
                        $(".answer").not(answer).slideUp();
                        answer.slideToggle();
                    });
                });
                $(document).ready(function () {
                    $(".talk-btn").click(function () {
                        $("html, body").animate(
                            {
                                scrollTop: $("#footer").offset().top,
                            },
                            300,
                        ); // Adjust the duration as per your requirement
                    });
                });

                document.addEventListener("DOMContentLoaded", function () {
                    const tabs = document.querySelectorAll(
                        '[data-bs-toggle="tab"]',
                    );
                    const tabPanes = document.querySelectorAll(".tab-pane");

                    tabs.forEach((tab) => {
                        tab.addEventListener("click", function (event) {
                            event.preventDefault();
                            const target =
                                this.getAttribute("href").substring(1);

                            tabs.forEach((t) => t.classList.remove("active"));
                            tabPanes.forEach((pane) =>
                                pane.classList.remove("active"),
                            );

                            this.classList.add("active");
                            document
                                .getElementById(target)
                                .classList.add("active");
                        });
                    });
                });

                document.addEventListener("DOMContentLoaded", function () {
                    let currentIndex = 0;
                    const slides = document.querySelectorAll(".carousel-item");
                    const totalSlides = slides.length;

                    document
                        .querySelector(".carousel-control-next")
                        .addEventListener("click", () => {
                            slides[currentIndex].classList.remove("active");
                            currentIndex = (currentIndex + 1) % totalSlides;
                            slides[currentIndex].classList.add("active");
                        });

                    document
                        .querySelector(".carousel-control-prev")
                        .addEventListener("click", () => {
                            slides[currentIndex].classList.remove("active");
                            currentIndex =
                                (currentIndex - 1 + totalSlides) % totalSlides;
                            slides[currentIndex].classList.add("active");
                        });
                });
                // $("#content").hide().show("slide", { direction: "left" }, 1500);
            </script>

            <div class="home-container  industries-page">
                <section class="container-fluid realestate-section-1 bg-white">
                    <div class="row">
                        <div class="section-1-text">
                            <h2 class="text-center text-light  animation-element slide-left">
                                {
                                    data.metaverseRealEstateSolution.data
                                        .attributes.real_estate_dev_title
                                }
                            </h2>
                            <p class="text-center text-light  animation-element slide-left">
                                {
                                    data.metaverseRealEstateSolution.data
                                        .attributes.real_estate_dev_content
                                }
                            </p>
                        </div>
                    </div>
                </section>
            </div>

            <!-- Metaverse Real Estate Development Services -->
            <section class="container-fluid bg-white section-2">
                <div class="container ">
                    <div class="row">
                        <div class="col-12 col-lg-6 col-md-12 col-xs-12">
                            <div class="mt-5  animation-element slide-left">
                                <h1>
                                    {
                                        data.metaverseRealEstateSolution.data
                                            .attributes
                                            .real_estate_dev_services_title
                                    }
                                </h1>
                                <p>
                                    {
                                        data.metaverseRealEstateSolution.data
                                            .attributes
                                            .real_estate_dev_services_content
                                    }
                                </p>
                            </div>
                        </div>
                        <div
                            class="col-12 col-lg-6 col-md-12 col-xs-12 d-flex justify-content-center align-items-center"
                        >
                            <div class="image1  animation-element slide-right">
                                <img
                                    src="./assets/images/realestate/section2 img.webp"
                                    alt="section-2"
                                    class="img-responsive"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Metaverse Real Estate Development Services -->
            <section class="section-3 pt-5 pb-5 bg-white">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="text-center section-3-top-content animation-element slide-left">
                                <h2 class="text-white">
                                    {
                                        data.metaverseRealEstateSolution.data
                                            .attributes
                                            .real_estate_dev_services_title1
                                    }
                                </h2>
                                <p class="text-white">
                                    {
                                        data.metaverseRealEstateSolution.data
                                            .attributes
                                            .real_estate_dev_services_content1
                                    }
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                                        <div class="col-12 col-lg-6 col-md-6 p-5">
                                            <img
                                                class="img-responsive  animation-element slide-right"
                                                alt="3D-image"
                                                src="./assets/images/realestate/section-3-first.webp"
                                            />
                                            <h3 class="text-white mt-4">
                                                {data.metaverseRealEstateSolution.data.attributes.real_estate_dev_services_lists.data[0].attributes.title}
                                            </h3>
                                            <p class="text-white">
                                                {data.metaverseRealEstateSolution.data.attributes.real_estate_dev_services_lists.data[0].attributes.content}
                                            </p>
                                        </div>
                                        <div class="col-12 col-lg-6 col-md-6 p-5">
                                            <img
                                                class="img-responsive  animation-element slide-right"
                                                alt="3D-image"
                                                src="/assets/images/realestate/section-3-second.webp"
                                            />
                                            <h3 class="text-white mt-4">
                                                {data.metaverseRealEstateSolution.data.attributes.real_estate_dev_services_lists.data[1].attributes.title}
                                            </h3>
                                            <p class="text-white">
                                                {data.metaverseRealEstateSolution.data.attributes.real_estate_dev_services_lists.data[1].attributes.content}
                                            </p>
                                        </div>
                    </div>
                </div>
            </section>

            <!-- Metaverse minim veniam -->
            <section class="section-4 bg-white pt-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="text-center heading  animation-element slide-left">
                                {
                                    data.metaverseRealEstateSolution.data
                                        .attributes
                                        .real_estate_minim_veniam_title
                                }
                            </h2>
                        </div>
                    </div>
                    <div class="row">
                        {
                            data.metaverseRealEstateSolution.data.attributes.real_estate_minim_veniam_lists.data.map(
                                (each: any, index: number) => {
                                    return (
                                        <div class="col-12 col-xs-6 col-md-6 col-lg-4 col-xl-3">
                                            <div class="box animation-element slide-left">
                                                <div class="d-flex justify-content-center  ">
                                                    <img
                                                        id="first"
                                                        alt="user-friendly-image"
                                                        class="box-image img-responsive"
                                                        src={
                                                            each.attributes
                                                                .image
                                                        }
                                                    />
                                                </div>
                                                <div class="box-content">
                                                    <h6>
                                                        {each.attributes.title}
                                                    </h6>
                                                    <p>
                                                        {
                                                            each.attributes
                                                                .content
                                                        }
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    );
                                },
                            )
                        }
                    </div>
                </div>
            </section>

            <!-- Estate Development -->
            <section class="container-fluid section-5 bg-white">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="mt-4 text-center text-white heading animation-element slide-left">
                                {
                                    data.metaverseRealEstateSolution.data
                                        .attributes.real_estate_benefits_title
                                }
                            </h2>
                        </div>
                    </div>
                    <div class="row">
                        {
                            data.metaverseRealEstateSolution.data.attributes.real_estate_benefits_lists.data.map(
                                (each: any, index: number) => {
                                    return (
                                        <div class="col-12 col-md-12 col-lg-6 mt-5 ">
                                            <div class="d-flex box-content animation-element slide-left">
                                                <div class="image-section">
                                                    <img
                                                        class=""
                                                        alt="global-access-image"
                                                        src={
                                                            each.attributes
                                                                .image
                                                        }
                                                    />
                                                </div>
                                                <div class="content-space">
                                                    <h6 class="text-white">
                                                        {each.attributes.title}
                                                    </h6>
                                                    <p class="text-white">
                                                        {
                                                            each.attributes
                                                                .content
                                                        }
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    );
                                },
                            )
                        }
                    </div>
                </div>
            </section>

            <!-- Metaverse Real Estate Platform Development -->
            <section class="section-6 bg-white">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="mt-5 text-center heading animation-element slide-left">
                                {
                                    data.metaverseRealEstateSolution.data
                                        .attributes
                                        .real_estate_platform_dev_title
                                }
                            </h2>
                            <p class="text-center mb-5 px-5 animation-element slide-left">
                                {
                                    data.metaverseRealEstateSolution.data
                                        .attributes
                                        .real_estate_platform_dev_content
                                }
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        {
                            data.metaverseRealEstateSolution.data.attributes.real_estate_platform_dev_lists.data.map(
                                (each: any, index: number) => {
                                    return (
                                        <div class="col-12 col-md-12 col-lg-6 col-xl-4 mt-4">
                                            <div class="box-small text-center animation-element slide-right">
                                                <img
                                                    alt="Conceptualization-image"
                                                    src={each.attributes.image}
                                                />
                                                <h4>{each.attributes.title}</h4>
                                                <p>{each.attributes.content}</p>
                                            </div>
                                        </div>
                                    );
                                },
                            )
                        }
                    </div>
                </div>
            </section>

            <!-- Mechanics of Metaverse Real Estate Platforms -->
            <section class="section-7 bg-white">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="pt-5 heading text-white text-center animation-element slide-left">
                                {
                                    data.metaverseRealEstateSolution.data
                                        .attributes
                                        .real_estate_platform_mechanics
                                }
                            </h2>
                        </div>
                    </div>
                    <div class="row">
                        {
                            data.metaverseRealEstateSolution.data.attributes.real_estate_platform_mechanics_lists.data.map(
                                (each: any, index: number) => {
                                    return (
                                        <div class="col-12 col-xs-12 col-md-12 col-lg-6 col-xl-4">
                                            <div class="box animation-element slide-right">
                                                <h2>{each.attributes.title}</h2>
                                                <p class="text-white mt-2">
                                                    {each.attributes.content}
                                                </p>
                                            </div>
                                        </div>
                                    );
                                },
                            )
                        }
                    </div>
                </div>
            </section>

            <!-- Technology Stack for Metaverse Real -->
            <section class="section-8 bg-white pb-5">
                <div class="container section-8-bg">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="text-center mt-5 animation-element slide-left">
                                {
                                    data.metaverseRealEstateSolution.data
                                        .attributes.real_estate_tech_stack_title
                                }
                            </h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-xs-12 col-md-4 mt-5 no-padding">
                            <ul class="nav nav-tabs animation-element slide-left" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a
                                        class="nav-link bottom-border"
                                        id="simple-tab-0"
                                        data-bs-toggle="tab"
                                        href="#AugmentedReality"
                                        role="tab"
                                        aria-controls="simple-tabpanel-0"
                                        aria-selected="true"
                                        >Augmented Reality (AR)</a
                                    >
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a
                                        class="nav-link"
                                        id="simple-tab-0"
                                        data-bs-toggle="tab"
                                        href="#SmartContracts"
                                        role="tab"
                                        aria-controls="simple-tabpanel-0"
                                        aria-selected="true">Smart Contracts</a
                                    >
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a
                                        class="nav-link"
                                        id="simple-tab-0"
                                        data-bs-toggle="tab"
                                        href="#AnimationTools"
                                        role="tab"
                                        aria-controls="simple-tabpanel-0"
                                        aria-selected="true">Animation Tools</a
                                    >
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a
                                        class="nav-link"
                                        id="simple-tab-0"
                                        data-bs-toggle="tab"
                                        href="#ProgrammingLanguages"
                                        role="tab"
                                        aria-controls="simple-tabpanel-0"
                                        aria-selected="true"
                                        >Programming Languages</a
                                    >
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a
                                        class="nav-link active"
                                        id="simple-tab-1"
                                        data-bs-toggle="tab"
                                        href="#Blockchain"
                                        role="tab"
                                        aria-controls="simple-tabpanel-1"
                                        aria-selected="false">Blockchain</a
                                    >
                                </li>

                                <li class="nav-item" role="presentation">
                                    <a
                                        class="nav-link"
                                        id="simple-tab-0"
                                        data-bs-toggle="tab"
                                        href="#CloudbasedAR"
                                        role="tab"
                                        aria-controls="simple-tabpanel-0"
                                        aria-selected="true"
                                        >Cloud-based AR
                                    </a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a
                                        class="nav-link bottom-border"
                                        id="simple-tab-0"
                                        data-bs-toggle="tab"
                                        href="#MobileDevelopmentFrameworks"
                                        role="tab"
                                        aria-controls="simple-tabpanel-0"
                                        aria-selected="true"
                                        >Mobile Development Frameworks
                                    </a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a
                                        class="nav-link"
                                        id="simple-tab-0"
                                        data-bs-toggle="tab"
                                        href="#FrontendDevelopment"
                                        role="tab"
                                        aria-controls="simple-tabpanel-0"
                                        aria-selected="true"
                                        >Frontend Development</a
                                    >
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a
                                        class="nav-link"
                                        id="simple-tab-0"
                                        data-bs-toggle="tab"
                                        href="#BackendDevelopment"
                                        role="tab"
                                        aria-controls="simple-tabpanel-0"
                                        aria-selected="true"
                                        >Backend Development</a
                                    >
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a
                                        class="nav-link bottom-border"
                                        id="simple-tab-0"
                                        data-bs-toggle="tab"
                                        href="#VirtualReality"
                                        role="tab"
                                        aria-controls="simple-tabpanel-0"
                                        aria-selected="true"
                                        >Virtual Reality (VR) Integration</a
                                    >
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a
                                        class="nav-link bottom-border"
                                        id="simple-tab-0"
                                        data-bs-toggle="tab"
                                        href="#BlockchainIntegration"
                                        role="tab"
                                        aria-controls="simple-tabpanel-0"
                                        aria-selected="true"
                                        >Blockchain Integration</a
                                    >
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a
                                        class="nav-link"
                                        id="simple-tab-0"
                                        data-bs-toggle="tab"
                                        href="#Authentication"
                                        role="tab"
                                        aria-controls="simple-tabpanel-0"
                                        aria-selected="true"
                                        >Authentication and Security</a
                                    >
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 col-xs-12 col-md-8">
                            <div
                                class="d-flex justify-content-center align-items-center"
                            >
                                <div
                                    class="tab-content pt-5 mt-5 animation-element slide-right"
                                    id="tab-content"
                                >
                                    <div
                                        class="tab-pane active"
                                        id="Blockchain"
                                        role="tabpanel"
                                        aria-labelledby="simple-tab-0"
                                    >
                                        <p>1.Ethereum</p>
                                        <p>2.Binance Smart Chain</p>
                                        <p>3.Cardano</p>
                                        <p>4.EOS</p>
                                        <p>5.Solana</p>
                                        <p>6.Polygon</p>
                                        <p>7.Polkadot</p>
                                        <p>8.Tron</p>
                                        <p>9.Avalanche</p>
                                    </div>
                                    <div
                                        class="tab-pane"
                                        id="AugmentedReality"
                                        role="tabpanel"
                                        aria-labelledby="simple-tab-1"
                                    >
                                        <p>1.ARKit</p>
                                        <p>2.ARCore</p>
                                        <p>3.Vuforia</p>
                                        <p>4.EasyAR</p>
                                        <p>5.Wikitude</p>
                                        <p>6.MAXST</p>
                                    </div>
                                    <div
                                        class="tab-pane"
                                        id="SmartContracts"
                                        role="tabpanel"
                                        aria-labelledby="simple-tab-1"
                                    >
                                        <p>1.Alchemy</p>
                                        <p>2.Chainlink</p>
                                        <p>3.Truffle</p>
                                        <p>4.OpenZeppelin</p>
                                        <p>5.HardHat</p>
                                        <p>6.Infura</p>
                                        <p>7.QuickNode</p>
                                        <p>8.Ganache</p>
                                        <p>9.Pinata</p>
                                        <p>10.Metamask</p>
                                        <p>11.Geth</p>
                                        <p>12.Remix</p>
                                    </div>
                                    <div
                                        class="tab-pane"
                                        id="AnimationTools"
                                        role="tabpanel"
                                        aria-labelledby="simple-tab-1"
                                    >
                                        <p>1.3ds Max</p>
                                        <p>2.Autodesk Maya</p>
                                        <p>3.Blender</p>
                                        <p>4.Unity</p>
                                        <p>5.Unreal Engine</p>
                                        <p>6.Cinema 4D</p>
                                    </div>
                                    <div
                                        class="tab-pane"
                                        id="ProgrammingLanguages"
                                        role="tabpanel"
                                        aria-labelledby="simple-tab-1"
                                    >
                                        <p>1.C++</p>
                                        <p>2.C#</p>
                                        <p>3.HTML5</p>
                                        <p>4.JavaScript</p>
                                        <p>5.Python</p>
                                        <p>6.Lua</p>
                                        <p>7.TypeScript</p>
                                        <p>8.Rust</p>
                                    </div>
                                    <div
                                        class="tab-pane"
                                        id="CloudbasedAR"
                                        role="tabpanel"
                                        aria-labelledby="simple-tab-1"
                                    >
                                        <p>1.Google Cloud Anchors</p>
                                        <p>2.Apple ARCloud</p>
                                        <p>3.Microsoft Azure Spatial Anchors</p>
                                    </div>
                                    <div
                                        class="tab-pane"
                                        id="MobileDevelopmentFrameworks"
                                        role="tabpanel"
                                        aria-labelledby="simple-tab-1"
                                    >
                                        <p>1.Android Studio</p>
                                        <p>2.Java</p>
                                        <p>3.Kotlin</p>
                                        <p>4.Swift</p>
                                        <p>5.Objective-C</p>
                                        <p>6.Xcode</p>
                                        <p>7.Flutter</p>
                                        <p>8.Xamarin</p>
                                    </div>
                                    <div
                                        class="tab-pane"
                                        id="FrontendDevelopment"
                                        role="tabpanel"
                                        aria-labelledby="simple-tab-1"
                                    >
                                        <p>1.HTML5, CSS3, JavaScript</p>
                                        <p>2.React.js or Vue.js</p>
                                        <p>3.Three.js</p>
                                        <p>4.Angular</p>
                                        <p>5.Svelte</p>
                                    </div>
                                    <div
                                        class="tab-pane"
                                        id="BackendDevelopment"
                                        role="tabpanel"
                                        aria-labelledby="simple-tab-1"
                                    >
                                        <p>1.Node.js</p>
                                        <p>2.Express.js</p>
                                        <p>3.MongoDB</p>
                                        <p>4.Django</p>
                                        <p>5.Flask</p>
                                        <p>6.Ruby on Rails</p>
                                    </div>
                                    <div
                                        class="tab-pane"
                                        id="VirtualReality"
                                        role="tabpanel"
                                        aria-labelledby="simple-tab-1"
                                    >
                                        <p>1.WebXR</p>
                                        <p>2.A-Frame</p>
                                        <p>3.Babylon.js</p>
                                        <p>4.Mozilla Hubs</p>
                                    </div>
                                    <div
                                        class="tab-pane"
                                        id="BlockchainIntegration"
                                        role="tabpanel"
                                        aria-labelledby="simple-tab-1"
                                    >
                                        <p>1.Ethereum</p>
                                        <p>2.Solidity</p>
                                        <p>3.Web3.js</p>
                                        <p>4.Hyperledger Fabric</p>
                                        <p>5.Corda</p>
                                    </div>
                                    <div
                                        class="tab-pane"
                                        id="Authentication"
                                        role="tabpanel"
                                        aria-labelledby="simple-tab-1"
                                    >
                                        <p>1.JSON Web Tokens (JWT)</p>
                                        <p>2.HTTPS</p>
                                        <p>3.OAuth 2.0</p>
                                        <p>4.OAuth.io</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section-9 bg-white">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="pt-5 heading text-white text-center animation-element slide-left">
                                {
                                    data.metaverseRealEstateSolution.data
                                        .attributes
                                        .real_estate_choose_metaprolane_title
                                }
                            </h1>
                        </div>
                    </div>
                    <div
                        id="carouselExample"
                        class="carousel slide"
                        data-ride="carousel"
                    >
                        <div class="carousel-inner animation-element slide-right">
                            {
                                data.metaverseRealEstateSolution.data.attributes.real_estate_platform_mechanics_lists.data.map(
                                    (each: any, index: number) => {
                                        return (
                                        <div class={`carousel-item ${index === 0 ? 'active' : ''}`}>
                                <div class="row">
                                    <div class="col-12 mt-5">
                                        <h3 class="text-center">
                                            {each.attributes.title}
                                        </h3>
                                        <div
                                            class="d-flex justify-content-center"
                                        >
                                            <div class="quote-box">
                                                <div
                                                    class="d-flex justify-content-center"
                                                >
                                                    <blockquote
                                                        class="text-center corosel-content"
                                                    >
                                                        <span>&#x201C;</span> 
                                                        {each.attributes.content}
                                                        <span>&#x201D;</span>
                                                    </blockquote>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            )})}
                        </div>
                        <!-- Add navigation controls -->
                        <a
                            class="carousel-control-prev"
                            href="#carouselExample"
                            role="button"
                            data-slide="prev"
                        >
                            <span
                                class="carousel-control-prev-icon"
                                aria-hidden="true"></span>
                        </a>
                        <a
                            class="carousel-control-next"
                            href="#carouselExample"
                            role="button"
                            data-slide="next"
                        >
                            <span
                                class="carousel-control-next-icon"
                                aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </section>
        </div>
        <script type="text/javascript">
            var $animation_elements = $(".animation-element");
            var $window = $(window);
      
            function check_if_in_view() {
              var window_height = $window.height();
              var window_top_position = $window.scrollTop();
              var window_bottom_position = window_top_position + window_height;
      
              $.each($animation_elements, function () {
                var $element = $(this);
                var element_height = $element.outerHeight();
                var element_top_position = $element.offset().top;
                var element_bottom_position = element_top_position + element_height;
      
                //check to see if this current container is within viewport
                if (
                  element_bottom_position >= window_top_position &&
                  element_top_position <= window_bottom_position
                ) {
                  $element.addClass("in-view");
                }
                // else {
                //   $element.removeClass('in-view');
                // }
              });
            }
      
            $window.on("scroll resize", check_if_in_view);
            $window.trigger("scroll", check_if_in_view);
          </script>
    </html>
</Layout>
