---
import Layout from "../layouts/Layout.astro";
const response = await fetch(`${import.meta.env.PUBLIC_STRAPI_URL}`, {
    method: "POST",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify({
        query: `
        query{
            metaversVirtualShowroom{
                data{
                    attributes{
                        section_one_heading
                        section_one_content
                        section_one_button_text
                        section_two_heading
                        section_one_content
                        section_two_button_text
                        metavers_virtual_showroom_section_3s {
                            data{
                                attributes{
                                    heading
                                    content
                                    url
                                }
                            }
                        }
                        section_four_heading
                        section_four_content
                        section_five_heading
                        section_five_content
                        section_five_button_text
                        metaverse_virtual_showroom_section_sixes{
                            data{
                                attributes{
                                    heading
                                    content
                                    url
                                }
                            }
                        }
                        section_seven_heading
                        section_seven_content
                        section_seven_button_text
                        metaverse_virtual_showroom_section_sevens{
                            data{
                                attributes{
                                    heading
                                    content
                                    url
                                }
                            }
                        }
                        section_eight_heading
                        section_eight_left : metaverse_virtual_showroom_eights(filters : {id : {in :[1,2,3]}}){
                            data{
                                attributes{
                                    heading
                                    content
                                }
                            }
                        }
                        section_eight_right : metaverse_virtual_showroom_eights(filters : {id : {in :[4,5,6]}}){
                            data{
                                attributes{
                                    heading
                                    content
                                }
                            }
                        }
                        section_eight_center : metaverse_virtual_showroom_eights(filters : {id : {eq : 7}}){
                            data{
                                attributes{
                                    heading
                                    content
                                }
                            }
                        }
                        section_nine_heading
                        section_nine_content
                        metaverse_virtual_showroom_faqs{
                            data{
                                attributes{
                                    question
                                    answer
                                }
                            }
                        }
                    }
                }
            }
        }
        `,
    }),
});

const { data } = await response.json();
---

<Layout
    title="metaverse-virtual-showroom"
>
    <html lang="en">
        <div class="home-container industries-page">
            <link rel="stylesheet" href="/styles/css/retailShowroom.css" />
            <script
                is:inline
                src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
            ></script>
            <link
                href="/vendor/bootstrap/css/bootstrap.min.css"
                rel="stylesheet"
            />
            <link rel="stylesheet" href="/styles/css/style.css" />

            <script is:inline>
                $(document).ready(function () {
                    $(".question1").click(function () {
                        console.log("clicked questions");
                        var answer = $(this).next(".answer");
                        $(".answer").not(answer).slideUp();
                        answer.slideToggle();
                    });
                });
                $(document).ready(() => {
                    $(".readmore-description").click(function () {
                        var $cardTextContent = $(this).prev(
                            ".card1-text-content",
                        );
                        $cardTextContent.toggleClass("expanded");
                        $(this).text(
                            $cardTextContent.hasClass("expanded")
                                ? "Read less"
                                : "Read more",
                        );
                    });
                });
                $(document).ready(() => {
                    $(".wallet-content").each(function () {
                        var $content = $(this);
                        if (
                            $content[0]?.scrollHeight > $content.innerHeight()
                        ) {
                            $content.next(".virtual-readmore").show();
                        } else {
                            $content.next(".virtual-readmore").hide();
                        }
                    });
                    $(".virtual-readmore").click(function () {
                        var $cardTextContent = $(this).prev(".wallet-content");
                        $cardTextContent.toggleClass("virtual-expanded");
                        $(this).text(
                            $cardTextContent.hasClass("virtual-expanded")
                                ? "Read less"
                                : "Read more",
                        );
                    });
                });
                $(document).ready(function () {
                    $(".talk-btn").click(function () {
                        $("html, body").animate(
                            {
                                scrollTop: $("#footer").offset().top,
                            },
                            300,
                        ); // Adjust the duration as per your requirement
                    });
                });
                // $("#content").hide().show("slide", { direction: "left" }, 1500);
            </script>

            <div>
                <div
                    class="script-img"
                    style="display: flex;position: relative;"
                >
                    <img
                        class="top-bg-image"
                        src="assets/images/retail-showroom/Frame_background.webp"
                    />
                </div>
                <!-- <script type="module" src="https://unpkg.com/@splinetool/viewer@1.0.66/build/spline-viewer.js"></script>
      <spline-viewer class="script-img" loading-anim-type="spinner-small-dark"
        url="https://prod.spline.design/adhdc52Z89Fd7Z9u/scene.splinecode"></spline-viewer> -->
            </div>
            <div class="top-detail-card" style=" ">
                <div class="card-background animation-element slide-left">
                    <div class="card1-text-title roboto-regular " id="content">
                        {
                            data.metaversVirtualShowroom.data.attributes
                                .section_one_heading
                        }
                    </div>
                    <div class="card1-text-content">
                        {
                            data.metaversVirtualShowroom.data.attributes
                                .section_one_content
                        }
                    </div>
                    <div class="readmore-description">Read more</div>
                    <div class="talk-btn top-talk-btn">
                        <a href="/#demo">
                            <div class="talk-btn-text" style="color:white">
                                {
                                    data.metaversVirtualShowroom.data.attributes
                                        .section_one_button_text
                                }
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="fashion-store d-lg-flex">
                <div class="fashion-left animation-element slide-left">
                    <div class="gray-car-title">
                        {
                            data.metaversVirtualShowroom.data.attributes
                                .section_two_heading
                        }
                    </div>
                    <div class="gray-car-content">
                        {
                            data.metaversVirtualShowroom.data.attributes
                                .section_one_content
                        }
                    </div>
                    <div class="talk-btn">
                        <a href="/#demo">
                            <div class="talk-btn-text">
                                {
                                    data.metaversVirtualShowroom.data.attributes
                                        .section_two_button_text
                                }
                            </div>
                        </a>
                    </div>
                </div>
                <div class="fashion-right animation-element slide-right">
                    <img
                        class="fashion-image"
                        src="assets/images/retail-showroom/fashion_store.webp"
                    />
                </div>
            </div>
            <div style="background-color: #F4FCED;">
                <div class="trading-section container-fluid">
                    <div class="row" style="padding-top:24px;">
                        <!-- <pre>{JSON.stringify(data.metaversVirtualShowroom.data.attributes.metavers_virtual_showroom_section_3s.data)}</pre> -->
                        {
                            data.metaversVirtualShowroom.data.attributes.metavers_virtual_showroom_section_3s.data.map(
                                (item: any, index: number) => {
                                    let lastIndex =
                                        data.metaversVirtualShowroom.data
                                            .attributes
                                            .metavers_virtual_showroom_section_3s
                                            .data.length ===
                                        index + 1;
                                    return (
                                        <div
                                            class={`col-sm-12 col-md-6 col-lg-4`}
                                        >
                                            <div class="fashion-card animation-element slide-left">
                                                <img
                                                    class="wallet-img"
                                                    src={item.attributes.url}
                                                />
                                                <div>
                                                    <div class="wallet-title">
                                                        {
                                                            item.attributes
                                                                .heading
                                                        }
                                                    </div>
                                                    <div class="wallet-content">
                                                        {
                                                            item.attributes
                                                                .content
                                                        }
                                                    </div>
                                                    <div class="virtual-readmore">
                                                        Read more
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    );
                                },
                            )
                        }
                    </div>
                </div>
            </div>
            <div class="service-section animation-element slide-left    ">
                <div class="service-title">
                    {
                        data.metaversVirtualShowroom.data.attributes
                            .section_four_heading
                    }
                </div>
                <div class="service-content">
                    {
                        data.metaversVirtualShowroom.data.attributes
                            .section_four_content
                    }
                </div>
            </div>
            <div class="AI-car-section d-lg-flex">
                <img
                    class="gray-car animation-element slide-left"
                    src="assets/images/retail-showroom/Gray_car.webp"
                />
                <div class="car-right animation-element slide-right">
                    <div class="gray-car-title">
                        {
                            data.metaversVirtualShowroom.data.attributes
                                .section_five_heading
                        }
                    </div>
                    <div class="gray-car-content">
                        {
                            data.metaversVirtualShowroom.data.attributes
                                .section_five_content
                        }
                    </div>
                    <div class="talk-btn">
                        <a href="/#demo">
                            <div class="talk-btn-text">
                                {
                                    data.metaversVirtualShowroom.data.attributes
                                        .section_five_button_text
                                }
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="trading-section container-fluid">
                <div class="row" style="padding-top:24px">
                    {
                        data.metaversVirtualShowroom.data.attributes.metaverse_virtual_showroom_section_sixes.data.map(
                            (item: any, index: number) => {
                                let lastIndex =
                                    data.metaversVirtualShowroom.data.attributes
                                        .metaverse_virtual_showroom_section_sixes
                                        .data.length ===
                                    index + 1;
                                return (
                                    <div
                                        class={`col-sm-12 col-md-6  ${lastIndex ? "col-lg-12" : "col-lg-4"}`}
                                    >
                                        <div class="car-feature-card animation-element slide-left">
                                            <img
                                                class="car-feature-img"
                                                src={item.attributes.url}
                                            />
                                            <div>
                                                <div class="car-feature-title">
                                                    {item.attributes.heading}
                                                </div>
                                                <div class="wallet-content">
                                                    {item.attributes.content}
                                                </div>
                                                <div class="virtual-readmore">
                                                    Read more
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                );
                            },
                        )
                    }

                    <!-- <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="car-feature-card">
                            <img
                                class="car-feature-img"
                                src="assets/images/retail-showroom/social-network 1.webp"
                            />
                            <div>
                                <div class="car-feature-title">
                                    Expanded Reach
                                </div>
                                <div class="wallet-content">
                                    Virtual showrooms transcend geographical
                                    barriers, allowing businesses to reach a
                                    global audience, expanding market reach and
                                    potential customer base effortlessly.
                                </div>
                                <div class="virtual-readmore">Read more</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="car-feature-card">
                            <img
                                class="car-feature-img"
                                src="assets/images/retail-showroom/efficiency 1.webp"
                            />
                            <div>
                                <div class="car-feature-title">
                                    Cost-Efficiency
                                </div>
                                <div class="wallet-content">
                                    Virtual showrooms eliminate physical space
                                    requirements, reducing overhead costs while
                                    maintaining a rich shopping experience,
                                    making it a cost-effective solution for
                                    businesses.
                                </div>
                                <div class="virtual-readmore">Read more</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="car-feature-card">
                            <img
                                class="car-feature-img"
                                src="assets/images/retail-showroom/shopping-bag 1.webp"
                            />
                            <div>
                                <div class="car-feature-title">
                                    Streamlined Purchasing Process
                                </div>
                                <div class="wallet-content">
                                    Integration with e-commerce platforms
                                    enables seamless browsing, selection, and
                                    purchase of products within the virtual
                                    environment, simplifying the buying journey.
                                </div>
                                <div class="virtual-readmore">Read more</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="car-feature-card">
                            <img
                                class="car-feature-img"
                                src="assets/images/retail-showroom/grocery-store 1.webp"
                            />
                            <div>
                                <div class="car-feature-title">
                                    Personalized Shopping Experiences
                                </div>
                                <div class="wallet-content">
                                    Metaverse virtual showrooms tailor product
                                    recommendations and experiences to
                                    individual preferences, enhancing
                                    connections and boosting conversion rates
                                    effectively.
                                </div>
                                <div class="virtual-readmore">Read more</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="car-feature-card">
                            <img
                                class="car-feature-img"
                                src="assets/images/retail-showroom/flexibility 1.webp"
                            />
                            <div>
                                <div class="car-feature-title">
                                    Flexibility and Scalability
                                </div>
                                <div class="wallet-content">
                                    Virtual showrooms in the Metaverse offer
                                    flexibility to adapt to changing inventory
                                    or branding needs, while also providing
                                    scalability to accommodate growth &
                                    expansion.
                                </div>
                                <div class="virtual-readmore">Read more</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="car-feature-card">
                            <img
                                class="car-feature-img"
                                src="assets/images/retail-showroom/donut-chart 1.webp"
                            />
                            <div>
                                <div class="car-feature-title">
                                    Insightful Analytics
                                </div>
                                <div class="wallet-content">
                                    Virtual showrooms provide valuable insights
                                    into customer behavior, empowering
                                    businesses to optimize marketing strategies
                                    and product offerings for better results.
                                </div>
                                <div class="virtual-readmore">Read more</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="car-feature-card">
                            <img
                                class="car-feature-img"
                                src="assets/images/retail-showroom/briefcase 1.webp"
                            />
                            <div>
                                <div class="car-feature-title">
                                    Sustainable Business Practices
                                </div>
                                <div class="wallet-content">
                                    Metaverse virtual showrooms reduce reliance
                                    on physical resources, contributing to more
                                    sustainable business practices and
                                    minimizing environmental impact.
                                </div>
                                <div class="virtual-readmore">Read more</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="car-feature-card">
                            <img
                                class="car-feature-img"
                                src="assets/images/retail-showroom/creative 1.webp"
                            />
                            <div>
                                <div class="car-feature-title">
                                    Innovative Branding Opportunities
                                </div>
                                <div class="wallet-content">
                                    Virtual showrooms in the Metaverse offer
                                    unique branding opportunities, allowing
                                    businesses to differentiate themselves and
                                    stand out in a competitive marketplace.
                                </div>
                                <div class="virtual-readmore">Read more</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-12">
                        <div class="car-feature-card">
                            <img
                                class="car-feature-img"
                                src="assets/images/retail-showroom/rocket 1.webp"
                            />
                            <div>
                                <div class="car-feature-title">
                                    Future-Proof Solutions
                                </div>
                                <div class="wallet-content">
                                    Metaverse virtual showroom development
                                    ensures businesses stay ahead of digital
                                    retail trends, providing future-proof
                                    solutions that adapt to evolving consumer
                                    behavior.
                                </div>
                                <div class="virtual-readmore">Read more</div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div style="position: relative;">
                <div class="vr-video">
                    <video
                        id="my-video"
                        style="
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover !important; 
      z-index: -1;"
                        autoplay
                        loop
                        muted
                    >
                        <source
                            src="assets/video/diverse.mp4"
                            type="video/mp4"
                        />
                    </video>
                </div>

                <div class="video-content ">
                    <div>
                        <div class="gray-car-title animation-element slide-left">
                            {
                                data.metaversVirtualShowroom.data.attributes
                                    .section_seven_heading
                            }
                        </div>
                        <div class="gray-car-content animation-element slide-left">
                            {
                                data.metaversVirtualShowroom.data.attributes
                                    .section_seven_content
                            }
                        </div>
                        <div class="talk-btn animation-element slide-left">
                            <a href="/#demo">
                                <div class="talk-btn-text">
                                    {
                                        data.metaversVirtualShowroom.data
                                            .attributes
                                            .section_seven_button_text
                                    }
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="scroll-container">
                        {
                            data.metaversVirtualShowroom.data.attributes.metaverse_virtual_showroom_section_sevens.data.map(
                                (item: any) => (
                                    <div class="scroll-item diverse-card animation-element slide-left">
                                        <img
                                            class="car-feature-img"
                                            src={item.attributes.url}
                                        />
                                        <div>
                                            <div class="diverse-title">
                                                {item.attributes.heading}
                                            </div>
                                            <div class="wallet-content">
                                                {item.attributes.content}
                                            </div>
                                            <div class="virtual-readmore">
                                                Read more
                                            </div>
                                        </div>
                                    </div>
                                ),
                            )
                        }
                        <!-- <div class="scroll-item diverse-card">
                            <img
                                class="car-feature-img"
                                src="assets/images/retail-showroom/estate-agent 1.webp"
                            />
                            <div>
                                <div class="diverse-title">Real Estate</div>
                                <div class="wallet-content">
                                    Real estate agencies and property developers
                                    utilize virtual showrooms to offer virtual
                                    property tours, floor plans, and interactive
                                    experiences for prospective buyers or
                                    renters.
                                </div>
                                <div class="virtual-readmore">Read more</div>
                            </div>
                        </div>
                        <div class="scroll-item diverse-card">
                            <img
                                class="car-feature-img"
                                src="assets/images/retail-showroom/t-shirt 1.webp"
                            />
                            <div>
                                <div class="diverse-title">
                                    Fashion and Apparel
                                </div>
                                <div class="wallet-content">
                                    Fashion brands and retailers leverage
                                    virtual showrooms to display clothing lines,
                                    accessories, and fashion trends, allowing
                                    customers to virtually try on items & make
                                    purchases.
                                </div>
                                <div class="virtual-readmore">Read more</div>
                            </div>
                        </div>
                        <div class="scroll-item diverse-card">
                            <img
                                class="car-feature-img"
                                src="assets/images/retail-showroom/flower 1.webp"
                            />
                            <div>
                                <div class="diverse-title">
                                    Furniture and Home Decor
                                </div>
                                <div class="wallet-content">
                                    Furniture retailers create virtual showrooms
                                    to showcase their products, allowing
                                    customers to virtually place items in their
                                    homes to visualize how they would look and
                                    fit.
                                </div>
                                <div class="virtual-readmore">Read more</div>
                            </div>
                        </div>
                        <div class="scroll-item diverse-card">
                            <img
                                class="car-feature-img"
                                src="assets/images/retail-showroom/stairs 1.webp"
                            />
                            <div>
                                <div class="diverse-title">
                                    Architecture and Interior Design
                                </div>
                                <div class="wallet-content">
                                    Architects and interior designers use
                                    virtual showrooms to present design
                                    concepts, allowing clients to explore spaces
                                    in 3D and provide feedback before
                                    construction begins.
                                </div>
                                <div class="virtual-readmore">Read more</div>
                            </div>
                        </div>
                        <div class="scroll-item diverse-card">
                            <img
                                class="car-feature-img"
                                src="assets/images/retail-showroom/mobile 1.webp"
                            />
                            <div>
                                <div class="diverse-title">
                                    Consumer Electronics
                                </div>
                                <div class="wallet-content">
                                    Tech companies utilize virtual showrooms to
                                    showcase their latest gadgets and devices,
                                    enabling customers to explore features,
                                    functionalities, & compatibility options
                                    remotely.
                                </div>
                                <div class="virtual-readmore">Read more</div>
                            </div>
                        </div>
                        <div class="scroll-item diverse-card">
                            <img
                                class="car-feature-img"
                                src="assets/images/retail-showroom/map-and-location 1.webp"
                            />
                            <div>
                                <div class="diverse-title">
                                    Travel and Hospitality
                                </div>
                                <div class="wallet-content">
                                    Hotels and resorts leverage virtual
                                    showrooms to offer virtual tours of their
                                    properties, allowing potential guests to
                                    explore amenities, rooms, and facilities
                                    before booking.
                                </div>
                                <div class="virtual-readmore">Read more</div>
                            </div>
                        </div>
                        <div class="scroll-item diverse-card">
                            <img
                                class="car-feature-img"
                                src="assets/images/retail-showroom/medical-team 1.webp"
                            />
                            <div>
                                <div class="diverse-title">Healthcare</div>
                                <div class="wallet-content">
                                    Medical equipment manufacturers use virtual
                                    showrooms to showcase their products to
                                    healthcare professionals, providing
                                    demonstrations & training sessions for
                                    medical devices
                                </div>
                                <div class="virtual-readmore">Read more</div>
                            </div>
                        </div>
                        <div class="scroll-item diverse-card">
                            <img
                                class="car-feature-img"
                                src="assets/images/retail-showroom/computer 1.webp"
                            />
                            <div>
                                <div class="diverse-title">
                                    Education and Training
                                </div>
                                <div class="wallet-content">
                                    Educational institutions utilize virtual
                                    showrooms for virtual campus tours, allowing
                                    prospective students to explore facilities,
                                    classrooms, and amenities from anywhere.
                                </div>
                                <div class="virtual-readmore">Read more</div>
                            </div>
                        </div>
                        <div class="scroll-item diverse-card">
                            <img
                                class="car-feature-img"
                                src="assets/images/retail-showroom/store 1.webp"
                            />
                            <div>
                                <div class="diverse-title">
                                    Retail and Consumer Goods
                                </div>
                                <div class="wallet-content">
                                    Various retail industries, such as
                                    cosmetics, jewelry, & sports equipment, use
                                    virtual showrooms to showcase their
                                    products, enabling customers to explore &
                                    purchase items online.
                                </div>
                                <div class="virtual-readmore">Read more</div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="process-card-section">
                <div class="gray-car-title animation-element slide-left">
                    {
                        data.metaversVirtualShowroom.data.attributes
                            .section_eight_heading
                    }
                </div>
                <div class="vr-process-section container-fluid">
                    <div class="row" style="padding-top:24px">
                        <div class="col-sm-12 col-md-6 col-lg-4 animation-element slide-left">
                            {
                                data.metaversVirtualShowroom.data.attributes.section_eight_left.data.map(
                                    (item: any) => (
                                        <div class="car-feature-card">
                                            <div class="process-card">
                                                <div class="wallet-title">
                                                    {item.attributes.heading}
                                                </div>
                                                <div class="wallet-content">
                                                    {item.attributes.content}
                                                </div>
                                                <div class="virtual-readmore">
                                                    Read more
                                                </div>
                                            </div>
                                        </div>
                                    ),
                                )
                            }
                            <!-- <div class="car-feature-card">
                                <div class="process-card">
                                    <div class="wallet-title">
                                        Showroom Building
                                    </div>
                                    <div class="wallet-content">
                                        We'll customize your virtual space by
                                        selecting a template or replicating your
                                        existing space. Integrating your branded
                                        products, textures, animations, & media.
                                    </div>
                                    <div class="virtual-readmore">
                                        Read more
                                    </div>
                                </div>
                            </div>
                            <div class="car-feature-card">
                                <div class="process-card">
                                    <div class="wallet-title">Integrations</div>
                                    <div class="wallet-content">
                                        We'll integrate your virtual showroom
                                        with e-commerce platforms, ensuring
                                        centralized access to live product
                                        information and inventory management.
                                    </div>
                                    <div class="virtual-readmore">
                                        Read more
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 ">
                            <div class="vr-section">
                                <img
                                    class="vr-img"
                                    src="assets/images/retail-showroom/Untitled design (2) 1.webp"
                                />
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-4 animation-element slide-right">
                            <div
                                class="col-md-12 d-md-flex d-sm-block d-lg-block"
                            >
                                {
                                    data.metaversVirtualShowroom.data.attributes.section_eight_right.data.map(
                                        (item: any) => (
                                            <div class="car-feature-card col-md-6 col-lg-12">
                                                <div class="process-card">
                                                    <div class="wallet-title">
                                                        {
                                                            item.attributes
                                                                .heading
                                                        }
                                                    </div>
                                                    <div class="wallet-content">
                                                        {
                                                            item.attributes
                                                                .content
                                                        }
                                                    </div>
                                                    <div class="virtual-readmore">
                                                        Read more
                                                    </div>
                                                </div>
                                            </div>
                                        ),
                                    )
                                }
                                <!-- <div
                                    class="car-feature-card col-md-6 col-lg-12"
                                >
                                    <div class="process-card">
                                        <div class="wallet-title">
                                            Development
                                        </div>
                                        <div class="wallet-content">
                                            Our team will develop your virtual
                                            showroom according to your
                                            specifications, incorporating the 3D
                                            models and animations to bring your
                                            vision to life.
                                        </div>
                                        <div class="virtual-readmore">
                                            Read more
                                        </div>
                                    </div>
                                </div> -->

                                <!-- <div class="car-feature-card col-md-6 col-lg-12">
                                                <div class="process-card">
                                                    <div class="wallet-title">
                                                        {item.attributes.heading}
                                                    </div>
                                                    <div class="wallet-content">
                                                        {item.attributes.content}
                                                    </div>
                                                    <div class="virtual-readmore">
                                                        Read more
                                                    </div>
                                                </div>
                                            </div> -->
                            </div>
                        </div>
                    </div>
                    {
                        data.metaversVirtualShowroom.data.attributes.section_eight_center.data.map(
                            (item: any) => (
                                <div class="car-feature-card animation-element slide-left">
                                    <div class="process-card">
                                        <div class="wallet-title">
                                            {item.attributes.heading}
                                        </div>
                                        <div class="wallet-content">
                                            {item.attributes.content}
                                        </div>
                                        <div class="virtual-readmore">
                                            Read more
                                        </div>
                                    </div>
                                </div>
                            ),
                        )
                    }
                </div>
            </div>
            <div class="service-section animation-element slide-left">
                <div class="service-title">
                    {
                        data.metaversVirtualShowroom.data.attributes
                            .section_nine_heading
                    }
                </div>
                <div
                    set:html={data.metaversVirtualShowroom.data.attributes
                        .section_nine_content}
                />
                <!-- <div class="service-content">
                    <span style="font-weight: 600;">Metaprolane stands</span> out
                    as the premier choice for<span style="font-weight: 600;">
                        Metaverse Virtual Showroom Development Services</span
                    > for several compelling reasons. With a robust track record
                    of pioneering innovation in virtual environments, Metaprolane
                    brings unparalleled expertise to every project. Our team comprises
                    seasoned professionals at the forefront of Metaverse technology,
                    adept at translating vision into immersive, interactive experiences.
                    We prioritize client collaboration, ensuring that every aspect
                    of the virtual showroom aligns seamlessly with your brand identity
                    and objectives. From conceptualization to execution, we tailor
                    our approach to meet your specific needs, delivering bespoke
                    solutions that captivate audiences and drive engagement.
                </div>

                <div class="service-content">
                    Metaprolane's commitment to cutting-edge technology
                    guarantees that your virtual showroom remains at the
                    forefront of industry standards, offering unparalleled
                    realism and functionality. With a keen eye for detail and a
                    passion for pushing boundaries, we consistently exceed
                    expectations, delivering results that elevate your brand in
                    the Metaverse and beyond. <span style="font-weight: 600;"
                        >Choose Metaprolane for Virtual Showroom Development
                        Services</span
                    > that redefine the possibilities of immersive digital experiences,
                    propelling your brand into the future of retail.
                </div> -->
            </div>
            <div class="process-card-section ">
                <div class="gray-car-title animation-element slide-left">FAQs</div>
                {
                    data.metaversVirtualShowroom.data.attributes.metaverse_virtual_showroom_faqs.data.map(
                        (item: any) => (
                            <div class="FAQ-card faq animation-element slide-left">
                                <div class="FAQ-qstn-section question1">
                                    <div class="FAQ-question">
                                        {item.attributes.question}
                                    </div>
                                    <img
                                        class="dropdown-arrow"
                                        src="assets/images/retail-showroom/Keyboard arrow down.webp"
                                    />
                                </div>
                                <div class="answer answer1">
                                    {item.attributes.answer}
                                </div>
                            </div>
                        ),
                    )
                }
                <!-- <div class="FAQ-card faq">
                    <div class="FAQ-qstn-section question1">
                        <div class="FAQ-question">
                            How can a Metaverse Virtual Showroom benefit my business?
                        </div>
                        <img
                            class="dropdown-arrow"
                            src="assets/images/retail-showroom/Keyboard arrow down.webp"
                        />
                    </div>
                    <div class="answer answer1">
                        A Metaverse Virtual Showroom can benefit your business
                        in several ways. Firstly, it expands your reach by
                        allowing you to engage with customers globally, breaking
                        geographical barriers. Secondly, it enhances customer
                        engagement and retention through immersive experiences,
                        leading to increased brand loyalty. Additionally, it
                        provides valuable insights into customer behavior and
                        preferences through analytics, enabling you to optimize
                        your marketing strategies and product offerings.
                        Moreover, it reduces overhead costs associated with
                        maintaining physical retail spaces while providing a
                        rich shopping experience. Overall, investing in
                        Metaverse Virtual Showroom Development can elevate your
                        retail presence, drive sales, and future-proof your
                        business in the digital age.
                    </div>
                </div>
                <div class="FAQ-card faq">
                    <div class="FAQ-qstn-section question1">
                        <div class="FAQ-question">
                            Can I customize my Metaverse Virtual Showroom to
                            reflect my brand identity?
                        </div>
                        <img
                            class="dropdown-arrow"
                            src="assets/images/retail-showroom/Keyboard arrow down.webp"
                        />
                    </div>
                    <div class="answer answer1">
                        Yes, you can customize your Metaverse Virtual Showroom
                        to reflect your brand identity. We offer fully
                        customizable options, allowing you to select templates,
                        textures, colors, and branding elements that align with
                        your brand aesthetics. Whether you want to replicate
                        your existing physical space or create a completely new
                        virtual environment, our team will work closely with you
                        to ensure that your brand identity is seamlessly
                        integrated into the virtual showroom. From branded
                        products and logos to custom animations and media, we
                        ensure that every aspect of your virtual showroom
                        reflects your unique brand identity and resonates with
                        your target audience.
                    </div>
                </div>
                <div class="FAQ-card faq">
                    <div class="FAQ-qstn-section question1">
                        <div class="FAQ-question">
                            How do you ensure security and privacy in a
                            Metaverse Virtual Showroom?
                        </div>
                        <img
                            class="dropdown-arrow"
                            src="assets/images/retail-showroom/Keyboard arrow down.webp"
                        />
                    </div>
                    <div class="answer answer1">
                        Ensuring security and privacy in a Metaverse Virtual
                        Showroom is paramount to protecting customer data and
                        providing a safe shopping environment. We implement
                        various measures to safeguard sensitive information,
                        including encryption, secure authentication methods, and
                        compliance with data protection regulations.
                        Additionally, we regularly update our security protocols
                        and conduct thorough security audits to identify and
                        address any potential vulnerabilities. By prioritizing
                        security and privacy in our virtual showrooms, we
                        provide peace of mind to both businesses and customers,
                        fostering trust and confidence in the virtual shopping
                        experience. Our commitment to security and privacy
                        extends throughout the development process and beyond,
                        ensuring that your virtual showroom remains secure and
                        compliant with industry standards.
                    </div>
                </div>
                <div class="FAQ-card faq">
                    <div class="FAQ-qstn-section question1">
                        <div class="FAQ-question">
                            What sets Metaprolane's Metaverse Virtual Showroom
                            Development services apart from others in the
                            industry?
                        </div>
                        <img
                            class="dropdown-arrow"
                            src="assets/images/retail-showroom/Keyboard arrow down.webp"
                        />
                    </div>
                    <div class="answer answer1">
                        Metaprolane's Metaverse Virtual Showroom Development
                        services stand out in the industry due to our holistic
                        approach, blending cutting-edge technology with creative
                        design strategies and unwavering dedication to client
                        satisfaction. We prioritize understanding each client's
                        unique objectives, target audience, and brand identity
                        to tailor our solutions accordingly. Our team of experts
                        combines expertise in immersive technologies such as
                        augmented reality (AR) and virtual reality (VR) with
                        innovative design principles to create captivating
                        virtual environments that engage customers and drive
                        results.
                    </div>
                </div>
                <div class="FAQ-card faq">
                    <div class="FAQ-qstn-section question1">
                        <div class="FAQ-question">
                            How does Metaprolane ensure user engagement and
                            interactivity within virtual showrooms?
                        </div>
                        <img
                            class="dropdown-arrow"
                            src="assets/images/retail-showroom/Keyboard arrow down.webp"
                        />
                    </div>
                    <div class="answer answer1">
                        Metaprolane prioritizes user engagement and
                        interactivity within virtual showrooms by integrating a
                        variety of interactive features tailored to enhance the
                        shopping experience. Our team implements cutting-edge
                        technologies such as product customization tools,
                        virtual try-ons for clothing and accessories, and social
                        features that allow users to interact with each other in
                        real-time. These interactive elements not only captivate
                        users but also empower them to actively participate in
                        the shopping process, leading to a more dynamic and
                        immersive experience. Furthermore, we recognize the
                        importance of personalization in driving engagement. By
                        allowing users to customize products according to their
                        preferences, we create a sense of ownership and
                        connection that encourages further exploration and
                        interaction. Additionally, our social features enable
                        users to engage with friends and family, share opinions,
                        and seek recommendations, fostering a sense of community
                        within the virtual showroom environment. Through our
                        comprehensive approach to user engagement, Metaprolane
                        ensures that virtual showrooms are not just static
                        displays but vibrant, interactive spaces where users can
                        truly immerse themselves and enjoy a rich, dynamic
                        shopping experience.
                    </div>
                </div>
                <div class="FAQ-card faq">
                    <div class="FAQ-qstn-section question1">
                        <div class="FAQ-question">
                            How does Metaprolane address scalability and
                            flexibility in virtual showroom development to
                            accommodate future growth?
                        </div>
                        <img
                            class="dropdown-arrow"
                            src="assets/images/retail-showroom/Keyboard arrow down.webp"
                        />
                    </div>
                    <div class="answer answer1">
                        Ensuring security and privacy in a Metaverse Virtual
                        Showroom is paramount to protecting customer data and
                        providing a safe shopping environment. We implement
                        various measures to safeguard sensitive information,
                        including encryption, secure authentication methods, and
                        compliance with data protection regulations.
                        Additionally, we regularly update our security protocols
                        and conduct thorough security audits to identify and
                        address any potential vulnerabilities. By prioritizing
                        security and privacy in our virtual showrooms, we
                        provide peace of mind to both businesses and customers,
                        fostering trust and confidence in the virtual shopping
                        experience. Our commitment to security and privacy
                        extends throughout the development process and beyond,
                        ensuring that your virtual showroom remains secure and
                        compliant with industry standards.
                    </div>
                </div> -->
            </div>
        </div>
        <script type="text/javascript">
            var $animation_elements = $('.animation-element');
            var $window = $(window);
      
            function check_if_in_view() {
                var window_height = $window.height();
                var window_top_position = $window.scrollTop();
                var window_bottom_position = (window_top_position + window_height);
      
                $.each($animation_elements, function () {
                    var $element = $(this);
                    var element_height = $element.outerHeight();
                    var element_top_position = $element.offset().top;
                    var element_bottom_position = (element_top_position + element_height);
      
                    //check to see if this current container is within viewport
                    if ((element_bottom_position >= window_top_position) &&
                        (element_top_position <= window_bottom_position)) {
                        $element.addClass('in-view');
                    }
                    // else {
                    //   $element.removeClass('in-view');
                    // }
      
                });
            }
      
            $window.on('scroll resize', check_if_in_view);
            $window.trigger('scroll', check_if_in_view);
        </script>
    </html></Layout
>
