---
import Layout from "../layouts/Layout.astro";
import MetaverseDevelopmentTools from "../components/MetaverseDevelopmentTools.astro";

const response = await fetch(`${import.meta.env.PUBLIC_STRAPI_URL}`, {
  method: "POST",
  headers: { "Content-Type": "application/json" },
  body: JSON.stringify({
    query: `
        query{
          metaverseJewelryShopping{
                data{
                    attributes{
                      jewelry_shopping_title
                      jewelry_shopping_content
        own_jewelry_shop_title
        own_jewelry_shop_content
        benefits_jewelry_dev_title
        jewelry_benefits_dev_lists{
          data{
            attributes{
              title
              content
              image
            }
          }
        }
        jewelry_virtual_store_title
        jewelry_virtual_store_content
        jewelry_virtual_store_lists{
          data{
            attributes{
              title
              content
              image
            }
          }
        }
        jewelry_business_title
          }
                }
            }
        }
        `,
  }),
});

const { data } = await response.json();
---

<Layout
  title="metaverseJewelryShopping"
>
  <html lang="en">
    <div class="home-container industries-page meta-product">
      <link rel="stylesheet" href="/styles/css/jewellery.css" />
      <!-- <script
        is:inline
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
      ></script> -->
      <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
      <link rel="stylesheet" href="/styles/css/jewellery.css" />

      <script is:inline>
        $(document).ready(function () {
          $(".question1").click(function () {
            console.log("clicked questions");
            var answer = $(this).next(".answer");
            $(".answer").not(answer).slideUp();
            answer.slideToggle();
          });
        });

        document.addEventListener("DOMContentLoaded", function () {
          let currentIndex = 0;
          const slides = document.querySelectorAll(".carousel-item");
          const totalSlides = slides.length;

          document
            .querySelector(".carousel-control-next")
            .addEventListener("click", () => {
              slides[currentIndex].classList.remove("active");
              currentIndex = (currentIndex + 1) % totalSlides;
              slides[currentIndex].classList.add("active");
            });

          document
            .querySelector(".carousel-control-prev")
            .addEventListener("click", () => {
              slides[currentIndex].classList.remove("active");
              currentIndex = (currentIndex - 1 + totalSlides) % totalSlides;
              slides[currentIndex].classList.add("active");
            });
        });

        $(document).ready(function () {
          $(".talk-btn").click(function () {
            $("html, body").animate(
              {
                scrollTop: $("#footer").offset().top,
              },
              300,
            ); // Adjust the duration as per your requirement
          });
        });
        // $("#content").hide().show("slide", { direction: "left" }, 1500);
      </script>

      <div class="">
        <div class="section1-banner">
          <div class="section1 animation-element slide-left">
            <div class="section1-title">
              {
                data.metaverseJewelryShopping.data.attributes
                  .jewelry_shopping_title
              }
            </div>
            <div class="sectio1-content">
              {
                data.metaverseJewelryShopping.data.attributes
                  .jewelry_shopping_content
              }
            </div>
            <a href="/#demo">
              <div class="section1-button request-demo">
                Request for a Free Demo
              </div>
            </a>
          </div>
        </div>

        <div class="section2">
          <img
            class="section2-img animation-element slide-left"
            src="assets/images/jewellery/ImageSequence_003_0100@4x.webp"
          />
          <div class="section2-right animation-element slide-right">
            <div class="section2-title">
              {
                data.metaverseJewelryShopping.data.attributes
                  .own_jewelry_shop_title
              }
            </div>
            <div class="section2-content">
              {
                data.metaverseJewelryShopping.data.attributes
                  .own_jewelry_shop_content
              }
            </div>
          </div>
        </div>

        <!-- Benefits of Metaverse Jewelry -->
        <section class="container-fluid section3 bg-white">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="mt-4 text-center text-white heading animation-element slide-left">
                  {
                    data.metaverseJewelryShopping.data.attributes
                      .benefits_jewelry_dev_title
                  }
                </h2>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-6 col-lg-4 mt-5">
                <div class="box-content animation-element slide-right">
                  <div class="outer-section">
                    <div class="section3-img">
                      <img
                        id="solution-img-1"
                        class="img-size"
                        alt="Customization"
                        src="/assets/images/jewellery/BrandPresence-01@4x.webp"
                      />
                    </div>
                  </div>
                  <div class="">
                    <h6 class="text-center title-text">
                      Brand Presence
                    </h6>
                    <p class="text-white">Establishing a distinctive brand identity in the virtual space. Forge a strong brand identity in the virtual world, enhancing customer connection and loyalty.</p>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-6 col-lg-4 mt-5">
                <div class="box-content animation-element slide-right">
                  <div class="outer-section">
                    <div class="section3-img">
                      <img
                        id="solution-img-2"
                        class="img-size"
                        alt="Customization"
                        src="/assets/images/jewellery/StreamlinedOperations-01@4x.webp"
                      />
                    </div>
                  </div>
                  <div class="">
                    <h6 class="text-center title-text">
                      Streamlined Operations
                    </h6>
                    <p class="text-white">Enhancing the production process for quicker and cost-effective results. Optimize jewelry production in the Metaverse, cutting costs and time and ensuring a quick market response.</p>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-6 col-lg-4 mt-5">
                <div class="box-content animation-element slide-right">
                  <div class="outer-section">
                    <div class="section3-img">
                      <img
                        id="solution-img-3"
                        class="img-size"
                        alt="Customization"
                        
                      />
                    </div>
                  </div>
                  <div class="">
                    <h6 class="text-center title-text">
                      Virtual Try-Ons
                    </h6>
                    <p class="text-white">Providing a realistic preview of how jewelry looks on through augmented reality. Metaverse AR try-ons provide an interactive selection process, enhancing user satisfaction and engagement.</p>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-6 col-lg-4 mt-5">
                <div class="box-content animation-element slide-right">
                  <div class="outer-section">
                    <div class="section3-img">
                      <img
                        id="solution-img-4"
                        class="img-size"
                        alt="Customization"
                        
                      />
                    </div>
                  </div>
                  <div class="">
                    <h6 class="text-center title-text">
                      Trendsetting
                    </h6>
                    <p class="text-white">Rapidly adopting and prototyping new designs and trends. Stay ahead in jewelry trends by utilizing Metaverse for quick design, testing, and market launch.</p>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-6 col-lg-4 mt-5">
                <div class="box-content animation-element slide-right">
                  <div class="outer-section">
                    <div class="section3-img">
                      <img
                        id="solution-img-5"
                        class="img-size"
                        alt="Customization"
                        
                      />
                    </div>
                  </div>
                  <div class="">
                    <h6 class="text-center title-text">
                      Investment Potential
                    </h6>
                    <p class="text-white">Opening new revenue streams by venturing into digital goods. Unlock new revenue streams in the Metaverse by pioneering the digital jewelry marketplace.</p>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-6 col-lg-4 mt-5">
                <div class="box-content animation-element slide-right">
                  <div class="outer-section">
                    <div class="section3-img">
                      <img
                        id="solution-img-6"
                        class="img-size"
                        alt="Customization"
                        
                      />
                    </div>
                  </div>
                  <div class="">
                    <h6 class="text-center title-text">
                      Interactive Shopping
                    </h6>
                    <p class="text-white">Delivering an engaging and immersive retail experience online. Engage customers with virtual stores, crafting an immersive and memorable brand experience.</p>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-6 col-lg-4 mt-5">
                <div class="box-content animation-element slide-right">
                  <div class="outer-section">
                    <div class="section3-img">
                      <img
                        id="solution-img-7"
                        class="img-size"
                        alt="Customization"
                        
                      />
                    </div>
                  </div>
                  <div class="">
                    <h6 class="text-center title-text">
                      Global Reach
                    </h6>
                    <p class="text-white">Expanding market presence without geographical barriers. Access a global customer base with Metaverse stores, transcending physical and geographical limitations.</p>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-6 col-lg-4 mt-5">
                <div class="box-content animation-element slide-right">
                  <div class="outer-section">
                    <div class="section3-img">
                      <img
                        id="solution-img-8"
                        class="img-size"
                        alt="Customization"
                        
                      />
                    </div>
                  </div>
                  <div class="">
                    <h6 class="text-center title-text">
                      Customization
                    </h6>
                    <p class="text-white">Allowing customers to personalize jewelry store designs to suit their preferences. Tailor store infrastructure in the Metaverse to reflect personal styles, offering an unmatched, personalized shopping adventure.</p>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-6 col-lg-4 mt-5">
                <div class="box-content animation-element slide-right">
                  <div class="outer-section">
                    <div class="section3-img">
                      <img
                        id="solution-img-9"
                        class="img-size"
                        alt="Customization"
                        
                      />
                    </div>
                  </div>
                  <div class="">
                    <h6 class="text-center title-text">
                      Customer Insight
                    </h6>
                    <p class="text-white">Gaining valuable feedback through interactive experiences. Use Metaverse interactions for valuable customer insights, tailoring offerings to preferences and trends.</p>
                  </div>
                </div>
              </div>


              {/* 
                data.metaverseJewelryShopping.data.attributes.jewelry_benefits_dev_lists.data.map(
                  (each: any, index: number) => {
                    return (
                      <div class="col-12 col-md-6 col-lg-4 mt-5">
                        <div class="box-content animation-element slide-right">
                          <div class="outer-section">
                            <div class="section3-img">
                              <img
                                class="img-size"
                                alt="Customization"
                                src={each.attributes.image}
                              />
                            </div>
                          </div>
                          <div class="">
                            <h6 class="text-center title-text">
                              {each.attributes.title}
                            </h6>
                            <p class="text-white">{each.attributes.content}</p>
                          </div>
                        </div>
                      </div>
                    );
                  },
                )
              */}
            </div>
          </div>
        </section>

        <div class="section4">
          <img
            class="section4-img animation-element slide-left"
            id="img-after-solutions"
          />
        </div>
        <div class="section5-outer">
          <div class="section5 ">
            <div id="carouselExample" class="carousel">
              <a
                class="carousel-control-prev"
                role="button"
                data-slide="prev"
                onclick="carouselPrev()"
              >
                <span class="carousel-control-prev-icon" aria-hidden="true"
                ></span>
              </a>
              <div class="carousel-inner">
                
                <div class="section5-carousel">
                  <div id="carousel-context" class="section5-frame animation-element slide-left">
                    <!-- <img
                      id="carousel-img"
                      class="section5-left"
                      src="assets/images/jewellery/ImageSequence_007_0100@4x.webp" /> -->
                    <div class="section5-right">
                      <div id="carousel-title" class="section5-title">
                        Robust Technology
                      </div>
                      <div id="carousel-content" class="section5-content">
                        We integrate various robust and interactive technologies into the metaverse for jewelry stores, such as haptic feedback, motion sensors, and digital replicas. 
                        These technologies and their features will help you have a realistic experience within the metaverse. Venturing into the metaverse will give your jewelry a new 
                        dimension and allow you to create a surrealistic experience.
                      </div>
                    </div>
                  </div>
                </div>
                
                {/*
                  data.metaverseJewelryShopping.data.attributes.jewelry_virtual_store_lists.data.map(
                    (each: any, index: number) => {
                      return (
                        <div
                          class={`carousel-item ${index === 0 ? "active" : ""}`}
                        >
                          <div class="section5-carousel">
                            <div class="section5-frame animation-element slide-left">
                              <img
                                class="section5-left"
                                src={each.attributes.image}
                              />
                              <div class="section5-right">
                                <div class="section5-title">
                                  {each.attributes.title}
                                </div>
                                <div class="section5-content">
                                  {each.attributes.content}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        // <div class="carousel-item">
                        //   <div class="section5-carousel">
                        //     <div class="section5-frame">
                        //       <img
                        //         class="section5-left"
                        //         src={each.attributes.image}
                        //       />
                        //       <div class="section5-right">
                        //         <div class="section5-title">{each.attributes.title}</div>
                        //         <div class="section5-content">
                        //           {each.attributes.content}
                        //         </div>
                        //       </div>
                        //     </div>
                        //   </div>
                        // </div>
                      );
                    },
                  )
                  */
                }
              </div>

              <a
                class="carousel-control-next"
                role="button"
                data-slide="next"
                onclick="carouselNext()"
              >
                <span class="carousel-control-next-icon" aria-hidden="true"
                ></span>
              </a>
            </div>
          </div>
        </div>

        <div class="section6">
          <div class="section6-frame">
            <div class="section6-left animation-element slide-left">
              <div class="section6-img-section">
                <div class="">
                  <img
                    id="store-img-1"
                    class="section6-image1"
                   
                  />
                </div>
                <div class="">
                  <img
                    id="store-img-2"
                    class="section6-image2"
                    
                  />
                </div>
              </div>
              <div class="section6-img2-section">
                <div class="">
                  <img
                    id="store-img-3"
                    class="section6-image3"
                    
                  />
                </div>
                <div class="">
                  <img
                    id="store-img-4"
                    class="section6-image4"
                    
                  />
                </div>
              </div>
            </div>
            <div class="section6-right animation-element slide-right">
              <div class="section6-title">
                {
                  data.metaverseJewelryShopping.data.attributes
                    .jewelry_virtual_store_title
                }
              </div>
              <div class="section6-content">
                {
                  data.metaverseJewelryShopping.data.attributes
                    .jewelry_virtual_store_content
                }
              </div>
            </div>
          </div>
        </div>

        <div class="section7-outer-section">
          <div class="section7-banner">
            <div class="section7 animation-element slide-left">
              <div class="section7-title">
                {
                  data.metaverseJewelryShopping.data.attributes
                    .jewelry_business_title
                }
              </div>
              <div class="section7-button request-demo">
                You can be nowhere but here!
              </div>
            </div>
          </div>
        </div>
      </div>

      <style>
        .carousel {
          position: relative;
        }
        .carousel-inner {
          display: flex;
          overflow: hidden;
        }
        .carousel-item {
          min-width: 100%;
          transition: transform 0.5s ease-in-out;
        }
        .carousel-control-prev,
        .carousel-control-next {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          background: none;
          border: none;
          font-size: 2rem;
          cursor: pointer;
        }
        .carousel-control-prev {
          left: 0;
        }
        .carousel-control-next {
          right: 0;
        }
      </style>
    </div>




    <script type="text/javascript">

      

      let currentCarouselIndex = 0;
      let carouselContext = [
        {img : "assets/images/jewellery/Develop_Your_Own_Metaverse_Jewelry_Shop.webp", title: "Virtual Store", context: "Metaverse allows you to build a virtual jewelry store. It can be the duplicate or virtual version of their in-house products or physical store. The same designs and infrastructure can be copied to the virtual world in Metaverse. It will help the customer to explore their desired products, even try it out using their avatar, and they can even purchase it from the same virtual store."},
        {img : "assets/images/jewellery/ImageSequence_007_0100@4x.webp", title: "Robust Technology", context: "We integrate various robust and interactive technologies into the metaverse for jewelry stores, such as haptic feedback, motion sensors, and digital replicas. These technologies and their features will help you have a realistic experience within the metaverse. Venturing into the metaverse will give your jewelry a new dimension and allow you to create a surrealistic experience."},
        {img : "assets/images/jewellery/CostCutting.webp", title: "Cost Cutting", context: "Metaverse virtual jewelry store will help you develop the same kind of physical store in virtual reality. This will cut down the real construction cost, time, and energy. Retailers can also save up their rental costs, electrical bills, utilities, operating expenses etc."}


      ]


      const solutionImg1 = document.getElementById("solution-img-1");
      const solutionImg2 = document.getElementById("solution-img-2");
      const solutionImg3 = document.getElementById("solution-img-3");
      const solutionImg4 = document.getElementById("solution-img-4");
      const solutionImg5 = document.getElementById("solution-img-5");
      const solutionImg6 = document.getElementById("solution-img-6");
      const solutionImg7 = document.getElementById("solution-img-7");
      const solutionImg8 = document.getElementById("solution-img-8");
      const solutionImg9 = document.getElementById("solution-img-9");


      const CarouseContextContainer = document.getElementById('carousel-context');
      
      const CarouselTitle = document.getElementById('carousel-title');
      const CarouselContent = document.getElementById('carousel-content');




      const imageAfterSolutions = document.getElementById("img-after-solutions");


      const storeImg1 = document.getElementById('store-img-1');
      const storeImg2 = document.getElementById('store-img-2');
      const storeImg3 = document.getElementById('store-img-3');
      const storeImg4 = document.getElementById('store-img-4');


      //loading solutions images ons scroll

      let isScrolled = false;
      window.addEventListener('wheel', function(event){
        
        // event.preventDefault();
        console.log(isScrolled);
        if(!isScrolled){
          
          solutionImg1.setAttribute('src', '/assets/images/jewellery/BrandPresence-01@4x.webp');
          solutionImg2.setAttribute('src', '/assets/images/jewellery/StreamlinedOperations-01@4x.webp');
          solutionImg3.setAttribute('src', '/assets/images/jewellery/VirtualTry-Ons-01@4x.webp');
          solutionImg4.setAttribute('src', '/assets/images/jewellery/Trendsetting-01@4x.webp');
          solutionImg5.setAttribute('src', '/assets/images/jewellery/InvestmentPotential-01@4x.webp');
          solutionImg6.setAttribute('src', '/assets/images/jewellery/InteractiveShopping-01@4x.webp');
          solutionImg7.setAttribute('src', '/assets/images/jewellery/GlobalReach-01@4x.webp');
          solutionImg8.setAttribute('src', '/assets/images/jewellery/Customization-01@4x.webp');
          solutionImg9.setAttribute('src', '/assets/images/jewellery/CustomerInsight-01@4x.webp');

          renderCarouselImg()




          storeImg1.setAttribute('src', 'assets/images/jewellery/3d-avatar-inside-metaverse-jewelry(1)@4x.webp');
          storeImg2.setAttribute('src', 'assets/images/jewellery/3d-avatar-inside-metaverse-jewelry(3)@4x.webp');
          storeImg3.setAttribute('src', 'assets/images/jewellery/3d-avatar-inside-metaverse-jewelry(2)@4x.webp');
          storeImg4.setAttribute('src', 'assets/images/jewellery/2151034059@4x.webp');
          console.log('here')
          isScrolled = true;
          }
          
      });


    
      function renderCarouselImg(){
          const carouselImg = document.createElement('img');
          carouselImg.src = 'assets/images/jewellery/ImageSequence_007_0100@4x.webp';
          carouselImg.id = 'carousel-img';
          carouselImg.className = 'section5-left';
          
          CarouseContextContainer.appendChild(carouselImg);

          imageAfterSolutions.setAttribute('src', "assets/images/jewellery/puchachingImage.webp");

      };


      function switchCarouselCard(event){
        var CarouselImg = document.getElementById('carousel-img');
        if(event == "next"){
          if(currentCarouselIndex >= 2){
            currentCarouselIndex = 0;
          }else{
            currentCarouselIndex += 1;
          }
        }else if(event == "prev"){
          if(currentCarouselIndex <= 0){
            currentCarouselIndex = 2;
          }else{
            currentCarouselIndex -= 1;
          }
        }

        CarouselImg.setAttribute('src', carouselContext[currentCarouselIndex].img);
        CarouselContent.innerText = carouselContext[currentCarouselIndex].context;
        CarouselTitle.innerText = carouselContext[currentCarouselIndex].title;
        console.log(currentCarouselIndex);
      }

      function carouselNext(){
        switchCarouselCard('next');
      }

      function carouselPrev(){
        switchCarouselCard('prev');
      }

      var $animation_elements = $(".animation-element");
      var $window = $(window);

      function check_if_in_view() {
        var window_height = $window.height();
        var window_top_position = $window.scrollTop();
        var window_bottom_position = window_top_position + window_height;

        $.each($animation_elements, function () {
          var $element = $(this);
          var element_height = $element.outerHeight();
          var element_top_position = $element.offset().top;
          var element_bottom_position = element_top_position + element_height;

          //check to see if this current container is within viewport
          if (
            element_bottom_position >= window_top_position &&
            element_top_position <= window_bottom_position
          ) {
            $element.addClass("in-view");
          }
          // else {
          //   $element.removeClass('in-view');
          // }
        });
      }

      $window.on("scroll resize", check_if_in_view);
      $window.trigger("scroll", check_if_in_view);
    </script>
  </html>
</Layout>
