---
import Layout from "../layouts/Layout.astro";
import MetaverseDevelopmentTools from "../components/MetaverseDevelopmentTools.astro";

const response = await fetch(`${import.meta.env.PUBLIC_STRAPI_URL}`, {
    method: "POST",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify({
        query: `
        query{
            metaverseForIndustrie{
  data {
    attributes{
      industry_project_details{
        data {
          attributes {
            title
            count
            image
          }
        }
      }
      industries_metaverse_title
      industries_metaverse_content
      industries_various_title
      industries_various_content
      industries_various_lists{
        data{
          attributes{
            title
            content
            image
          }
        }
      }
      industry_reshaping_diverse_title
      industry_reshaping_diverse_content
      industry_reshaping_diverse_lists {
        data{
          attributes{
            text
            image
          }
        }
      }
      industry_advance_risk_mang_title
      industry_advance_risk_mang_title1
      industry_advance_risk_mang_content
      industry_fire_safety_title
      industry_fire_safety_content
      industry_safety_confined_title
      industry_safety_confined_content
      industry_crafting_centric_title
      industry_crafting_centric_content
      industry_faq_title
      industry_faq_lists{
        data{
          attributes{
            question
            answer
          }
        }
      }
      
    }
  }
}
        }
        `,
    }),
});

const { data } = await response.json();
---

<Layout
    title="metaverseForIndustrie"
>
    <html lang="en">
        <div class="home-container industries-page meta-product">
            <link rel="stylesheet" href="/styles/css/retailShowroom.css" />
            <!-- <script
                is:inline
                src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
            ></script> -->
            <link
                id="bootstrap-href"
                rel="stylesheet"
            />
            <link id="style-href" rel="stylesheet" />
            <link id="blogstyle-href" rel="stylesheet" />

            <script is:inline>
                function lazyLoadStyleSheet(){
                    const bootStrapLink = document.getElementById('bootstrap-href');
                    const styleLink = document.getElementById('style-href');
                    const blogLink = document.getElementById('blogstyle-href');

                    bootStrapLink.setAttribute('href', '/vendor/bootstrap/css/bootstrap.min.css');
                    styleLink.setAttribute('href', '/styles/css/style.css');
                    blogLink.setAttribute('href', '/styles/blog/css/owl.css');


                };

                lazyLoadStyleSheet();
                

            </script>


            <script is:inline>
                $(document).ready(function () {
                    $(".question1").click(function () {
                        console.log("clicked questions");
                        var answer = $(this).next(".answer");
                        $(".answer").not(answer).slideUp();
                        answer.slideToggle();
                    });
                });

                function toggleAnswer(event) {
                    const question = event.currentTarget;
                    const answer = question.nextElementSibling;

                    $(answer).slideToggle();
                    $(question).toggleClass("active");
                    $(".faq-question")
                        .not(question)
                        .removeClass("active")
                        .next(".faq-answer")
                        .slideUp();

                    // Toggle the icon between plus and minus
                    const icon = question.querySelector(".faq-toggle-icon");
                    icon.textContent = icon.textContent === "+" ? "-" : "+";
                }

                $(document).ready(function () {
                    $(".talk-btn").click(function () {
                        $("html, body").animate(
                            {
                                scrollTop: $("#footer").offset().top,
                            },
                            300,
                        ); // Adjust the duration as per your requirement
                    });
                });
                document.addEventListener("DOMContentLoaded", function () {
                    const tabLinks = document.querySelectorAll(".tab-link");
                    const tabContents =
                        document.querySelectorAll(".tab-content");

                    tabLinks.forEach((link) => {
                        link.addEventListener("click", function (event) {
                            event.preventDefault();

                            const targetId =
                                this.getAttribute("href").substring(1);

                            tabLinks.forEach((link) =>
                                link.classList.remove("active"),
                            );
                            tabContents.forEach((content) =>
                                content.classList.remove("active"),
                            );

                            this.classList.add("active");
                            document
                                .getElementById(targetId)
                                .classList.add("active");
                        });
                    });
                });
                // $("#content").hide().show("slide", { direction: "left" }, 1500);
            </script>
<script is:inline>
    document.addEventListener("DOMContentLoaded", function () {
        let currentIndex = 0;
        const slides = document.querySelectorAll(".carousel-item");
        const totalSlides = slides.length;

        document
            .querySelector(".carousel-control-next")
            .addEventListener("click", () => {
                slides[currentIndex].classList.remove("active");
                currentIndex = (currentIndex + 1) % totalSlides;
                slides[currentIndex].classList.add("active");
            });

        document
            .querySelector(".carousel-control-prev")
            .addEventListener("click", () => {
                slides[currentIndex].classList.remove("active");
                currentIndex =
                    (currentIndex - 1 + totalSlides) % totalSlides;
                slides[currentIndex].classList.add("active");
            });
    });

    document.addEventListener("DOMContentLoaded", () => {
        const prevButton = document.querySelector(".slider_nav .prev");
        const nextButton = document.querySelector(".slider_nav .next");
        const items = document.querySelectorAll(".slider_top ul li");
        let currentIndex = 0; // Start from the first item

        function updateCarousel() {
            items.forEach((item, index) => {
                item.classList.remove(
                    "prev",
                    "prev2",
                    "active",
                    "next",
                    "next2",
                );
            });

            const prevIndex =
                (currentIndex - 1 + items.length) % items.length;
            const nextIndex = (currentIndex + 1) % items.length;
            const prev2Index =
                (currentIndex - 2 + items.length) % items.length;
            const next2Index = (currentIndex + 2) % items.length;

            items[prev2Index].classList.add("prev2");
            items[prevIndex].classList.add("prev");
            items[currentIndex].classList.add("active");
            items[nextIndex].classList.add("next");
            items[next2Index].classList.add("next2");
        }

        function nextSlide() {
            currentIndex = (currentIndex + 1) % items.length;
            updateCarousel();
        }

        // Automatically advance to the next slide every 5 seconds
        setInterval(nextSlide, 3000);

        updateCarousel(); // Initial call to set the classes
    });

    document.addEventListener("DOMContentLoaded", function () {
        $(".owl-carousel").owlCarousel({
            items: 1, // Display one item-row at a time
            margin: 20, // Space between items
            loop: true, // Loop through items
            autoplay: true, // Enable auto-play
            autoplayTimeout: 3000, // Auto-play interval (in ms)
            autoplayHoverPause: true, // Pause on hover
            responsive: {
                0: {
                    items: 1, // Display one item-row at a time on small screens
                },
                600: {
                    items: 2, // Display one item-row at a time on medium screens
                },
                800: {
                    items: 2, // Display one item-row at a time on medium screens
                },
                1000: {
                    items: 2, // Display one item-row at a time on large screens
                },
                1200:{
                  items: 3
                }
            },
        });
    });
</script>
            <div class="">
                <section
                    class="section main-banner audit-videos casino-ms-banner-section"
                    id="top"
                    data-section="section1"
                >
                    <video autoplay="" muted="" loop="" id="bg-video">
                        <source
                            src="assets/images/industries/banner-bg.mp4"
                            type="video/mp4"
                        />
                    </video>
                    <div class="video-overlay header-text main-banner-cont">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="caption"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="under-banner-index ub">
                    <div class="container">
                        <div
                            class="under-banner-values-section animation-element slide-left"
                        >
                            <div class="row">
                                {
                                    data.metaverseForIndustrie.data.attributes.industry_project_details.data.map(
                                        (each: any, index: number) => {
                                            return (
                                                <div class="col-lg-3">
                                                    <div class="svs-main d-flex count-area-content pluss">
                                                        <div class="svs-l">
                                                            <img
                                                                src={
                                                                    each
                                                                        .attributes
                                                                        .image
                                                                }
                                                                alt="icon1"
                                                            />
                                                        </div>
                                                        <div class="svs-r">
                                                            <h6 class="text-green numbers-top">
                                                                {
                                                                    each
                                                                        .attributes
                                                                        .title
                                                                }
                                                            </h6>
                                                            <div class="count-digit numbers-bot">
                                                                {
                                                                    each
                                                                        .attributes
                                                                        .count
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            );
                                        },
                                    )
                                }
                            </div>
                        </div>
                        <div
                            class="under-banner-carousel-section animation-element slide-left"
                        >
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="d-flex">
                                        <div class="item">
                                            <div class="icon">
                                                <img
                                                    src="assets/images/icons1/aiko.png"
                                                    alt="Image icon"
                                                />
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="icon">
                                                <img
                                                    src="assets/images/icons1/back-stage2.png"
                                                    alt="Image icon"
                                                />
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="icon">
                                                <img
                                                    src="assets/images/icons1/bitcci.png"
                                                    alt="Image icon"
                                                />
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="icon">
                                                <img
                                                    src="assets/images/icons1/bitrpive.png"
                                                    alt="Image icon"
                                                />
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="icon">
                                                <img
                                                    src="assets/images/icons1/crazy-goat2.png"
                                                    alt="Image icon"
                                                />
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="icon">
                                                <img
                                                    src="assets/images/icons1/elysium.png"
                                                    alt="Image icon"
                                                />
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="icon">
                                                <img
                                                    src="assets/images/icons1/graphiclink.png"
                                                    alt="Image icon"
                                                />
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="icon">
                                                <img
                                                    src="assets/images/icons1/lovely-inu.png"
                                                    alt="Image icon"
                                                />
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="icon">
                                                <img
                                                    src="assets/images/icons1/nugen.png"
                                                    alt="Image icon"
                                                />
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="icon">
                                                <img
                                                    src="assets/images/icons1/redcab.png"
                                                    alt="Image icon"
                                                />
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="icon">
                                                <img
                                                    src="assets/images/icons1/sdc-logo.png"
                                                    alt="Image icon"
                                                />
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="icon">
                                                <img
                                                    src="assets/images/icons1/skilchain.png"
                                                    alt="Image icon"
                                                />
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="icon">
                                                <img
                                                    src="assets/images/icons1/star-walkers.png"
                                                    alt="Image icon"
                                                />
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="icon">
                                                <img
                                                    src="assets/images/icons1/superfarm.png"
                                                    alt="Image icon"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Metaverse for Industries -->
                <section class="aboutmeta about-main abt-1 topmeta-dev-company">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-7">
                                <div
                                    class="about-ms animation-element slide-right"
                                >
                                    <h1 class="text-black top-t">
                                        <b class="text-blue">
                                            {
                                                data.metaverseForIndustrie.data
                                                    .attributes
                                                    .industries_metaverse_title
                                            }
                                        </b>
                                    </h1>
                                    <p class="text-gray2">
                                        {
                                            data.metaverseForIndustrie.data
                                                .attributes
                                                .industries_metaverse_content
                                        }
                                    </p>
                                    <div class="unlock-btn-sec my-3">
                                        <a
                                            href="#contact"
                                            class="btn btn-primary"
                                            >Get Quote Now</a
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div
                                    class="about-ms-r text-right animation-element slide-left"
                                >
                                    <div class="about-ms-img ams2">
                                        <img
                                            src="assets/images/industries/s-transforming-business.png"
                                            alt="About"
                                            class=""
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Metaverse for Various Industries -->
                <section
                    class="our-courses product-our-courses msd-box1 feature-val-p casino-ms-four-section ccs"
                >
                    <div class="container c-features">
                        <div class="row">
                            <div class="col-lg-12">
                                <div
                                    class="section-heading animation-element slide-left"
                                >
                                    <h2
                                        class="text-white text-center h3-under-bar2 hub2 hub-mutual4 pt-0 fw-700 mt-0 mb-4"
                                    >
                                        {
                                            data.metaverseForIndustrie.data
                                                .attributes
                                                .industries_various_title
                                        }
                                    </h2>
                                    <p class="text-center">
                                        {
                                            data.metaverseForIndustrie.data
                                                .attributes
                                                .industries_various_content
                                        }
                                    </p>
                                    <div class="owl-carousel" id="industries-carousel">
                                        {
                                            data.metaverseForIndustrie.data.attributes.industries_various_lists.data.map(
                                                (each: any, index: number) => {
                                                    return (
                                                        <div
                                                            class="owl-experts-item"
                                                        >
                                                            <div class="icon">
                                                                <div class="expert-txt2">
                                                                    <div
                                                                        class="box-img"
                                                                    >
                                                                        <img
                                                                            src={
                                                                                each
                                                                                    .attributes
                                                                                    .image
                                                                            }
                                                                            alt="Features Image"
                                                                        />
                                                                    </div>
                                                                    <div class="box-img-inn">
                                                                        <h6 class="fma">
                                                                            {
                                                                                each
                                                                                    .attributes
                                                                                    .title
                                                                            }
                                                                        </h6>
                                                                        <p class="text-last-left">
                                                                            {
                                                                                each
                                                                                    .attributes
                                                                                    .content
                                                                            }
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    );
                                                },
                                            )
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <!-- Reshaping Diverse Industry Landscapes -->
            <section class="our-courses top-your-domain" id="industries">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-heading">
                                <h5
                                    class="text-black text-center h3-under-bar text-uppercase animation-element slide-left"
                                >
                                    <b class="text-blue"
                                        >{
                                            data.metaverseForIndustrie.data
                                                .attributes
                                                .industry_reshaping_diverse_title
                                        }</b
                                    ><br />{
                                        data.metaverseForIndustrie.data
                                            .attributes
                                            .industry_reshaping_diverse_content
                                    }
                                </h5>
                            </div>
                            <div
                                class="owl-experts-item owl-carousel animation-element slide-left d-flex flex-wrap justify-content-between"
                            >
                                <div class="item">
                                    <div class="icon">
                                        <img id="logistics-carousel-img" alt="LOGISTICS" />
                                        <div class="expert-txt">
                                            <p class="top-your-head">
                                                LOGISTICS
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="icon">
                                        <img id="mining-carousel-img" alt="MINING" />
                                        <div class="expert-txt">
                                            <p class="top-your-head">
                                                MINING
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="icon">
                                        <img id="mining-oil-img" alt="OIL & GAS" />
                                        <div class="expert-txt">
                                            <p class="top-your-head">
                                                OIL & GAS
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="icon">
                                        <img id="mining-estate-img" alt="REAL ESTATE" />
                                        <div class="expert-txt">
                                            <p class="top-your-head">
                                                REAL ESTATE
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="icon">
                                        <img id="mining-manufacturing-img" alt="MANUFACTURING" />
                                        <div class="expert-txt">
                                            <p class="top-your-head">
                                                MANUFACTURING
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="icon">
                                        <img id="mining-energy-img" alt="ENERGY AND UTILITIES" />
                                        <div class="expert-txt">
                                            <p class="top-your-head">
                                                ENERGY AND UTILITIES
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="icon">
                                        <img id="mining-construction-img" alt="CONSTRUCTION" />
                                        <div class="expert-txt">
                                            <p class="top-your-head">
                                                CONSTRUCTION
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="icon">
                                        <img id="mining-automotive-img" alt="AUTOMOTIVE" />
                                        <div class="expert-txt">
                                            <p class="top-your-head">
                                                AUTOMOTIVE
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="icon">
                                        <img id="mining-aerospace-img" alt="AEROSPACE" />
                                        <div class="expert-txt">
                                            <p class="top-your-head">
                                                AEROSPACE
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="icon">
                                        <img id="mining-health-img" alt="HEALTHCARE" />
                                        <div class="expert-txt">
                                            <p class="top-your-head">
                                                HEALTHCARE
                                            </p>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="home-container inner-container game-dev-page">
                    <section
                        class="why-metaprolane whym2 product-why-sec casino-ms-Six-section"
                    >
                        <div class="container py-0">
                            <div id="tabs" class="game-dev-tab">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div
                                            id="tabs-1"
                                            class="tab-content active"
                                        >
                                            <img
                                                src="assets/images/industries/m-confined-spaces2.png"
                                                alt="Features Image"
                                                class="w-100"
                                            />
                                            <p class="ms42">
                                                {
                                                    data.metaverseForIndustrie
                                                        .data.attributes
                                                        .industry_safety_confined_content
                                                }
                                            </p>
                                        </div>
                                        <div id="tabs-2" class="tab-content">
                                            <img
                                                src="assets/images/industries/s-metaverse-industry.png"
                                                alt="Features Image"
                                                class="w-100"
                                            />
                                            <p class="ms43">
                                                {
                                                    data.metaverseForIndustrie
                                                        .data.attributes
                                                        .industry_fire_safety_content
                                                }
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div
                                            class="why-metaprolane-l animation-element slide-right"
                                        >
                                            <h3
                                                class="text-white text-left h3-under-bar2 mb-2 pt-1 pb-0 fw-700"
                                            >
                                                <b class="text-blue"
                                                    >{
                                                        data
                                                            .metaverseForIndustrie
                                                            .data.attributes
                                                            .industry_advance_risk_mang_title
                                                    }</b
                                                ><br />{
                                                    data.metaverseForIndustrie
                                                        .data.attributes
                                                        .industry_advance_risk_mang_title1
                                                }
                                            </h3>
                                            <div class="mi-advance">
                                                {
                                                    data.metaverseForIndustrie
                                                        .data.attributes
                                                        .industry_advance_risk_mang_content
                                                }
                                            </div>
                                            <div
                                                class="text-last-left my-3 mt-4 pt-2"
                                            >
                                                <ul class="nav nav-tabs">
                                                    <li class="nav-item">
                                                        <a
                                                            href="#tabs-2"
                                                            class="nav-link tab-link"
                                                        >
                                                            {
                                                                data
                                                                    .metaverseForIndustrie
                                                                    .data
                                                                    .attributes
                                                                    .industry_fire_safety_title
                                                            }
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a
                                                            href="#tabs-1"
                                                            class="nav-link tab-link"
                                                        >
                                                            {
                                                                data
                                                                    .metaverseForIndustrie
                                                                    .data
                                                                    .attributes
                                                                    .industry_safety_confined_title
                                                            }
                                                        </a>
                                                    </li>
                                                </ul>
                                                <div id="tabs-1"></div>
                                                <div id="tabs-2"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

                <style>
                    .tab-content {
                        display: none;
                    }
                    .tab-content.active {
                        display: block;
                    }
                    .nav-link.active {
                        background-color: #007bff;
                        color: white;
                        border-color: #007bff;
                    }
                    .nav-link {
                        color: #000;
                        background-color: #fff;
                    }
                </style>

                <!-- <div class="home-container inner-container game-dev-page">
                    <section
                        class="why-metaprolane whym2 product-why-sec casino-ms-Six-section"
                    >
                        <div class="container py-0">
                            <div id="tabs" class="game-dev-tab">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div id="tabs-1">
                                            <img
                                                src="assets/images/industries/m-confined-spaces2.png"
                                                alt="Features Image"
                                                class="w-100"
                                            />
                                            <p class="ms42">
                                                {
                                                    data.metaverseForIndustrie.data
                                                        .attributes
                                                        .industry_safety_confined_content
                                                }
                                            </p>
                                        </div>
                                        <div id="tabs-2">
                                            <img
                                                src="assets/images/industries/s-metaverse-industry.png"
                                                alt="Features Image"
                                                class="w-100"
                                            />
                                            <p class="ms43">
                                                {
                                                    data.metaverseForIndustrie.data
                                                        .attributes
                                                        .industry_fire_safety_content
                                                }
                                            </p>
                                        </div>
                                       
                                    </div>
                                    <div class="col-lg-6">
                                        <div
                                            class="why-metaprolane-l animation-element slide-right"
                                        >
                                            <h3
                                                class="text-white text-left h3-under-bar2 mb-2 pt-1 pb-0 fw-700"
                                            >
                                                <b class="text-blue">{
                                                    data.metaverseForIndustrie.data
                                                        .attributes
                                                        .industry_advance_risk_mang_title
                                                }</b
                                                ><br />{
                                                    data.metaverseForIndustrie.data
                                                        .attributes
                                                        .industry_advance_risk_mang_title1
                                                }
                                            </h3>
                                            <div class="mi-advance">
                                                {
                                                    data.metaverseForIndustrie.data
                                                        .attributes
                                                        .industry_advance_risk_mang_content
                                                }
                                            </div>
                                            <div
                                                class="text-last-left my-3 mt-4 pt-2"
                                            >
                                                <ul>
                                                    <li>
                                                        <a href="#tabs-2"
                                                            >{
                                                                data.metaverseForIndustrie.data
                                                                    .attributes
                                                                    .industry_fire_safety_title
                                                            }</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="#tabs-1"
                                                            >{
                                                                data.metaverseForIndustrie.data
                                                                    .attributes
                                                                    .industry_safety_confined_title
                                                            }</a
                                                        >
                                                    </li>
                                                </ul>
                                                <div id="tabs-1"></div>
                                                <div id="tabs-2"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div> -->

                <!-- Your Partner in Crafting Industry-Centric Metaverse Solutions -->
                <section
                    class="meta-development-services product-our-services casino-ms-five-section"
                >
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <div class="under-banner">
                                        <div
                                            class="under-banner-carousel-section"
                                        >
                                            <h4
                                                class="text-black h3-under-bar2 fw-700 animation-element slide-left"
                                            >
                                                {
                                                    data.metaverseForIndustrie
                                                        .data.attributes
                                                        .industry_crafting_centric_title
                                                }
                                            </h4>
                                            <p>
                                                {
                                                    data.metaverseForIndustrie
                                                        .data.attributes
                                                        .industry_crafting_centric_content
                                                }
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- metaverse development tools -->
                <MetaverseDevelopmentTools />

                <section
                    class="why-metaprolane whym2 product-why-sec apply-now casino-ms-FAQ-section"
                >
                    <div class="container py-0">
                        <div class="row">
                            <div class="col-lg-12">
                                <div
                                    class="why-metaprolane-l mt-2 animation-element slide-left"
                                >
                                    <h5
                                        class="text-white h3-under-bar2 mb-5 fw-600"
                                    >
                                        {
                                            data.metaverseForIndustrie.data
                                                .attributes.industry_faq_title
                                        }
                                    </h5>
                                </div>
                                {
                                    data.metaverseForIndustrie.data.attributes.industry_faq_lists.data.map(
                                        (item: any, index: number) => (
                                            <div class="faq-card">
                                                <div
                                                    class="faq-question"
                                                    onclick="toggleAnswer(event)"
                                                >
                                                    {item.attributes.question}
                                                    <span class="faq-toggle-icon">
                                                        +
                                                    </span>
                                                </div>
                                                <div class="faq-answer">
                                                    {item.attributes.answer}
                                                </div>
                                            </div>
                                        ),
                                    )
                                }
                                <!-- {
                                    data.metaverseForIndustrie.data.attributes.industry_faq_lists.data.map(
                                      (item: any) => (
                                        <div class="FAQ-card faq">
                                          <div class="FAQ-qstn-section question1">
                                            <div class="FAQ-question">
                                              {item.attributes.question}
                                            </div>
                                            <img
                                              class="dropdown-arrow"
                                              src="assets/images/retail-showroom/Keyboard arrow down.webp"
                                            />
                                          </div>
                                          <div class="answer answer1">{item.attributes.answer}</div>
                                        </div>
                                      ),
                                    )
                                  } -->
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </div>
        <script type="text/javascript">
            //carousel images
            const logisticsImg  = document.getElementById('logistics-carousel-img');
            const miningImg = document.getElementById('mining-carousel-img');
            const oilImg = document.getElementById('mining-oil-img');
            const estateImg = document.getElementById('mining-estate-img');
            const manufacturingImg = document.getElementById('mining-manufacturing-img');
            const energyImg = document.getElementById('mining-energy-img');
            const constructionImg = document.getElementById('mining-construction-img');
            const automotiveImg = document.getElementById('mining-automotive-img');
            const aerospaceImg = document.getElementById('mining-aerospace-img');
            const healthCare = document.getElementById('mining-health-img');

            window.addEventListener('wheel', function(){
                logisticsImg.setAttribute('src', 'assets/images/industries/logistics.jpg');
                miningImg.setAttribute('src', 'assets/images/industries/mining.jpg');
                oilImg.setAttribute('src', 'assets/images/industries/oil-gas.jpg');
                estateImg.setAttribute('src', 'assets/images/industries/real-estate.png');
                manufacturingImg.setAttribute('src', 'assets/images/industries/manufacturing.png');
                energyImg.setAttribute('src', 'assets/images/industries/energy-and-utilities.jpg');
                constructionImg.setAttribute('src', 'assets/images/industries/construction.jpg');
                automotiveImg.setAttribute('src', 'assets/images/industries/automotive.jpg');
                aerospaceImg.setAttribute('src', 'assets/images/industries/aerospace.jpg');
                healthCare.setAttribute('src', 'assets/images/industries/H-care.jpg');
            });

            



            

            











            var $animation_elements = $('.animation-element');
            var $window = $(window);
      
            function check_if_in_view() {
                var window_height = $window.height();
                var window_top_position = $window.scrollTop();
                var window_bottom_position = (window_top_position + window_height);
      
                $.each($animation_elements, function () {
                    var $element = $(this);
                    var element_height = $element.outerHeight();
                    var element_top_position = $element.offset().top;
                    var element_bottom_position = (element_top_position + element_height);
      
                    //check to see if this current container is within viewport
                    if ((element_bottom_position >= window_top_position) &&
                        (element_top_position <= window_bottom_position)) {
                        $element.addClass('in-view');
                    }
                    // else {
                    //   $element.removeClass('in-view');
                    // }
      
                });
            }
      
            $window.on('scroll resize', check_if_in_view);
            $window.trigger('scroll', check_if_in_view);
        </script>
    </html>
</Layout>
