---
import Layout from "../layouts/Layout.astro";

const response = await fetch(`${import.meta.env.PUBLIC_STRAPI_URL}`, {
  method: "POST",
  headers: { "Content-Type": "application/json" },
  body: JSON.stringify({
    query: `
          query{
            cryptoVegasPrivacyPolicy{
              data {
                attributes {
                privacy_notice_title
                  privacy_notice_content
                  privacy_overview_title
                  privacy_overview_content
                  privacy_service_title
                  privacy_service_user_title
                  privacy_service_user_content
                  privacy_service_bank_title
                  privacy_service_bank_content
                  privacy_deposit_metacasino_title
                  privacy_deposit_metacasino_content
                  chip_exchange_title
                  chip_exchange_content
                  chip_exchange_ratio_title
                  deposit_process_title
                  blackjack_game_title
                  blackjack_payout_title
                  blackjack_payout_content
                  game_conditions_title
                  game_conditions_content
                  dealer_card_draw_title
                  dealer_card_draw_content
                  dealer_card_draw_content1
                  regulatory_obligation_title
                  regulatory_customer_title
                  regulatory_customer_content
                  verifiction_process_title
                  verifiction_process_content
                  introduction_title
                  introduction_content
                  additional_title
                  additional_content
                  data_collect_blackjack_title
                  data_collect_blackjack_content
                  information_collection_title
                  information_collection_content
                  information_third_party_title
                  revealing_personal_info_title
                  cookies_title
                  data_processing_title
                  data_processing_content
                  data_processing_content1
                  data_processing_content2
                  use_personal_data_blackjack_title
                  use_personal_data_blackjack_content
                  legal_bases_personal_data_title
                  legal_bases_personal_data_content
                  fulfillment_consent_title
                  fulfillment_consent_content
                  compliance_applicable_title
                  compliance_applicable_content
                  legitimate_interest_title
                  legitimate_interest_content
                  fulfillment_contact_obligation_title
                  fulfillment_contact_obligation_content
                  protection_safety_title
                  protection_safety_content
                  consistent_user_title
                  consistent_user_content
                  disclosure_practice_title
                  disclosure_practice_content
                  data_security_subject_title
                  data_security_measure_title
                  data_security_measure_content
                  encryption_tech_title
                  encryption_tech_content
                  data_retention_title
                  data_retention_content
                  disposal_measure_title
                  disposal_measure_content
                  internal_transamission_title
                  internal_transamission_content
                  privacy_settings_title
                  privacy_settings_content
                  data_subject_right_title
                  data_subject_right_content
                  confirmation_access_title
                  confirmation_access_content
                  correction_updates_title
                  correction_updates_content
                  deletion_forgetting_title
                  deletion_forgetting_content
                  objectionuse_disclosure_title
                  objectionuse_disclosure_content
                  limitation_process_title
                  limitation_process_content
                  consent_withdraw_title
                  consent_withdraw_content
                  contacting_use_title
                  contacting_use_content
                  complaints_supervisory_title
                  complaints_supervisory_content
                  chnages_privacy_meta_title
                  chnages_privacy_meta_content
                  policy_update_process_title
                  frequency_updated_title
                  frequency_updated_content
                  notification_channel_title
                  notification_channel_content
                  email_notify_title
                  email_notify_content
                  your_responsibility_title
                  review_frequency_title
                  review_frequency_content
                  policy_accebility_title
                  policy_accebility_content
                  email_updates_title
                  email_updates_content
                  revision_date_title
                  revision_date_content
                  user_responsibility_title
                  user_responsibility_content
                  user_responsibility_content1
                  processing_fee_cal_title
                  deposit_process_example_title
                  chip_exchange_ratio_lists{
                    data{
                      attributes{
                        title
                        content
                      }
                    }
                  }
             deposit_process_titles{
              data{
                attributes{
                  title
                  content
                }
              }
            }
                 privacy_blackjack_payout_lists{
                  data{
                    attributes{
                      title
                      content
                    }
                  }
                }
                  privacy_dealer_card_draw_lists{
                  data{
                    attributes{
                      logic
                      condition
                    }
                  }
                }
                privacy_information_third_party_lists{
                  data{
                    attributes{
                      text
                    }
                  }
                }
                 privacy_revealing_personal_info_lists{
                  data{
                    attributes{
                      text
                    }
                  }
                }
                 privacy_cookies_lists{
                  data{
                    attributes{
                      text
                    }
                  }
                }
                privacy_legitimate_interest_lists{
                  data{
                    attributes{
                      text
                    }
                  }
                }
                 privacy_consistent_user_lists{
                  data{
                    attributes{
                      text
                    }
                  }
                }
                   privacy_disclosure_practice_lists{
                  data{
                    attributes{
                      text
                    }
                  }
                }
                privacy_processing_fee_cal_lists{
                  data{
                    attributes{
                      title
                      content
                    }
                  }
                }
                privacy_deposit_process_example_lists{
                  data{
                    attributes{
                      title
                      value
                    }
                  }
                }  
                } 
                }
              }
    
                } 
        `,
  }),
});

const { data } = await response.json();
---

<Layout
  title="CryptoVegas-privacy-policy"
>
  <html lang="en">
    <div class="home-container inner-container privacy-policy-main">
      <link rel="stylesheet" href="/styles/css/retailShowroom.css" />
      <script
        is:inline
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
      ></script>
      <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
      <link rel="stylesheet" href="/styles/css/style.css" />

      <script is:inline>
        $(document).ready(function () {
          $(".question1").click(function () {
            console.log("clicked questions");
            var answer = $(this).next(".answer");
            $(".answer").not(answer).slideUp();
            answer.slideToggle();
          });
        });

        // $("#content").hide().show("slide", { direction: "left" }, 1500);
      </script>

      <div class="meta-product">
        <section class="section main-banner" data-section="section1">
          <video autoplay muted loop id="bg-video">
            <source src="assets/images/privacypolicy.mp4" type="video/mp4" />
          </video>
          <div class="bg-vectors bgv-white">
            <img src="assets/images/products/bg1.webp" alt="BG Image" />
          </div>
        </section>

        <section class="under-banner our-technologies product-tech-sec">
          <div class="container">
            <div class="pp-inn ">
              <h2 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .privacy_notice_title
                }
              </h2>
              <p class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .privacy_notice_content
                }
              </p>

              <h2 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .privacy_overview_title
                }
              </h2>
              <p class="animation-element slide-left" >
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .privacy_overview_content
                }
              </p>

              <h2 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .privacy_service_title
                }
              </h2>
              <h4 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .privacy_service_user_title
                }
              </h4>
              <p class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .privacy_service_user_content
                }
              </p>
              <h4 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .privacy_service_bank_title
                }
              </h4>
              <p class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .privacy_service_bank_content
                }
              </p>

              <h2 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .privacy_deposit_metacasino_title
                }
              </h2>
              <p class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .privacy_deposit_metacasino_content
                }
              </p>
              <h4 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .chip_exchange_title
                }
              </h4>
              <p class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .chip_exchange_content
                }
              </p>
              <h4 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .chip_exchange_ratio_title
                }
              </h4>
              <ul>
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes.chip_exchange_ratio_lists.data.map(
                    (each: any, index: number) => {
                      return (
                        <li class="animation-element slide-left">
                          {each.attributes.title}: {each.attributes.content}
                        </li>
                      );
                    },
                  )
                }
              </ul>

              <h4 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .deposit_process_title
                }
              </h4>
              {
                data.cryptoVegasPrivacyPolicy.data.attributes.deposit_process_titles.data.map(
                  (each: any, index: number) => {
                    return (
                      <p class="animation-element slide-left">
                        <b> {each.attributes.title}:</b>{" "}
                        {each.attributes.content}
                      </p>
                    );
                  },
                )
              }

              <p class="animation-element slide-left">
                <b 
                  >{
                    data.cryptoVegasPrivacyPolicy.data.attributes
                      .processing_fee_cal_title
                  }</b
                >
              </p>

              <ul class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes.privacy_processing_fee_cal_lists.data.map(
                    (each: any, index: number) => {
                      return (
                        <li >
                          {each.attributes.title}: {each.attributes.content}
                        </li>
                      );
                    },
                  )
                }
              </ul>

              <!-- <p>
                <b>7.Average Minimum Deposit:</b> The minimum deposit amount averages
                to a rounded value of $5, of which the user receives a minimum of
                $4 after excluding all service charges, taxes, and gas fees.
              </p> -->
              <h4 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .deposit_process_example_title
                }
              </h4>

              <ul>
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes.privacy_deposit_process_example_lists.data.map(
                    (each: any, index: number) => {
                      return (
                        <li class="animation-element slide-left">
                          {each.attributes.title}: {each.attributes.value}
                        </li>
                      );
                    },
                  )
                }
              </ul>

              <p class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .deposit_process_average_content
                }
              </p>
              <h4 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .blackjack_game_title
                }
              </h4>

              <h4 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .blackjack_payout_title
                }
              </h4>
              <p class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .blackjack_payout_content
                }
              </p>
              <ul class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes.privacy_blackjack_payout_lists.data.map(
                    (each: any, index: number) => {
                      return (
                        <li>
                          {each.attributes.title} : {each.attributes.content}
                        </li>
                      );
                    },
                  )
                }
              </ul>
              <h4 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .game_conditions_title
                }
              </h4>
              <p class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .game_conditions_content
                }
              </p>
              <h4 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .dealer_card_draw_title
                }
              </h4>
              <p class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .dealer_card_draw_content
                }
              </p>
              <table class="animation-element slide-left">
                <tr >
                  <th>Dealer Draw Logic</th>
                  <th>Condition</th>
                </tr>
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes.privacy_dealer_card_draw_lists.data.map(
                    (each: any, index: number) => {
                      return (
                        <tr>
                          <td>{each.attributes.logic}</td>
                          <td>{each.attributes.condition}</td>
                        </tr>
                      );
                    },
                  )
                }
              </table>
              <p class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .dealer_card_draw_content1
                }
              </p>

              <h2 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .regulatory_obligation_title
                }
              </h2>
              <h4 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .regulatory_customer_title
                }
              </h4>
              <p class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .regulatory_customer_content
                }
              </p>
              <h4 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .verifiction_process_title
                }
              </h4>
              <p class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .verifiction_process_content
                }
              </p>
              <h4 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .introduction_title
                }
              </h4>
              <p class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .introduction_content
                }
              </p>
              <h4 class="animation-element slide-left">
                {data.cryptoVegasPrivacyPolicy.data.attributes.additional_title}
              </h4>
              <p class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .additional_content
                }
              </p>

              <h2 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .data_collect_blackjack_title
                }
              </h2>
              <p class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .data_collect_blackjack_content
                }
              </p>
              <h4 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .information_collection_title
                }
              </h4>
              <p class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .information_collection_content
                }
              </p>
              <h4 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .information_third_party_title
                }
              </h4>
              <ul class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes.privacy_information_third_party_lists.data.map(
                    (each: any, index: number) => {
                      return <li>{each.attributes.text}</li>;
                    },
                  )
                }
              </ul>
              <h4 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .revealing_personal_info_title
                }
              </h4>
              <ul class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes.privacy_revealing_personal_info_lists.data.map(
                    (each: any, index: number) => {
                      return <li>{each.attributes.text}</li>;
                    },
                  )
                }
              </ul>
              <h4 class="animation-element slide-left">
                {data.cryptoVegasPrivacyPolicy.data.attributes.cookies_title}
              </h4>
              <ul class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes.privacy_cookies_lists.data.map(
                    (each: any, index: number) => {
                      return <li>{each.attributes.text}</li>;
                    },
                  )
                }
              </ul>
              <h4 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .data_processing_title
                }
              </h4>
              <p class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .data_processing_content
                }
              </p>
              <p class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .data_processing_content1
                }
              </p>
              <p class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .data_processing_content2
                }
              </p>
              <h2 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .use_personal_data_blackjack_title
                }
              </h2>
              <p class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .use_personal_data_blackjack_content
                }
              </p>
              <h4 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .legal_bases_personal_data_title
                }
              </h4>
              <p class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .legal_bases_personal_data_content
                }
              </p>
              <h4 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .fulfillment_consent_title
                }
              </h4>
              <ul class="animation-element slide-left">
                <li>
                  {
                    data.cryptoVegasPrivacyPolicy.data.attributes
                      .fulfillment_consent_content
                  }
                </li>
              </ul>
              <h4 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .compliance_applicable_title
                }
              </h4>
              <ul class="animation-element slide-left">
                <li>
                  {
                    data.cryptoVegasPrivacyPolicy.data.attributes
                      .compliance_applicable_content
                  }
                </li>
              </ul>
              <h4 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .legitimate_interest_title
                }
              </h4>
              <p class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .legitimate_interest_content
                }
              </p>
              <ul class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes.privacy_legitimate_interest_lists.data.map(
                    (each: any, index: number) => {
                      return <li>{each.attributes.text}</li>;
                    },
                  )
                }
              </ul>
              <h4 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .fulfillment_contact_obligation_title
                }
              </h4>
              <ul class="animation-element slide-left">
                <li>
                  {
                    data.cryptoVegasPrivacyPolicy.data.attributes
                      .fulfillment_contact_obligation_content
                  }
                </li>
              </ul>
              <h4 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .protection_safety_title
                }
              </h4>
              <ul class="animation-element slide-left">
                <li>
                  {
                    data.cryptoVegasPrivacyPolicy.data.attributes
                      .protection_safety_content
                  }
                </li>
              </ul>

              <h2 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .consistent_user_title
                }
              </h2>
              <p class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .consistent_user_content
                }
              </p>
              <ul class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes.privacy_consistent_user_lists.data.map(
                    (each: any, index: number) => {
                      return <li>{each.attributes.text}</li>;
                    },
                  )
                }
              </ul>
              <h4 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .disclosure_practice_title
                }
              </h4>
              <p class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .disclosure_practice_content
                }
              </p>
              <ul class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes.privacy_disclosure_practice_lists.data.map(
                    (each: any, index: number) => {
                      return <li>{each.attributes.text}</li>;
                    },
                  )
                }
              </ul>
              <h2 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .data_security_subject_title
                }
              </h2>
              <h4 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .data_security_measure_title
                }
              </h4>
              <p class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .data_security_measure_content
                }
              </p>
              <h4 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .encryption_tech_title
                }
              </h4>
              <ul class="animation-element slide-left">
                <li>
                  {
                    data.cryptoVegasPrivacyPolicy.data.attributes
                      .encryption_tech_content
                  }
                </li>
              </ul>
              <h4 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .data_retention_title
                }
              </h4>
              <ul class="animation-element slide-left">
                <li>
                  {
                    data.cryptoVegasPrivacyPolicy.data.attributes
                      .data_retention_content
                  }
                </li>
              </ul>
              <h4 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .disposal_measure_title
                }
              </h4>
              <ul class="animation-element slide-left">
                <li>
                  {
                    data.cryptoVegasPrivacyPolicy.data.attributes
                      .disposal_measure_content
                  }
                </li>
              </ul>
              <h4 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .internal_transamission_title
                }
              </h4>
              <ul class="animation-element slide-left">
                <li>
                  {
                    data.cryptoVegasPrivacyPolicy.data.attributes
                      .internal_transamission_content
                  }
                </li>
              </ul>
              <h4 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .privacy_settings_title
                }
              </h4>
              <ul class="animation-element slide-left">
                <li>
                  {
                    data.cryptoVegasPrivacyPolicy.data.attributes
                      .privacy_settings_content
                  }
                </li>
              </ul>
              <h2 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .data_subject_right_title
                }
              </h2>
              <p class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .data_subject_right_content
                }
              </p>
              <h4 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .confirmation_access_title
                }
              </h4>
              <ul class="animation-element slide-left">
                <li>
                  {
                    data.cryptoVegasPrivacyPolicy.data.attributes
                      .confirmation_access_content
                  }
                </li>
              </ul>
              <h4 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .correction_updates_title
                }
              </h4>
              <ul class="animation-element slide-left">
                <li>
                  {
                    data.cryptoVegasPrivacyPolicy.data.attributes
                      .correction_updates_content
                  }
                </li>
              </ul>
              <h4 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .deletion_forgetting_title
                }
              </h4>
              <ul class="animation-element slide-left">
                <li>
                  {
                    data.cryptoVegasPrivacyPolicy.data.attributes
                      .deletion_forgetting_content
                  }
                </li>
              </ul>
              <h4 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .objectionuse_disclosure_title
                }
              </h4>
              <ul class="animation-element slide-left">
                <li>
                  {
                    data.cryptoVegasPrivacyPolicy.data.attributes
                      .objectionuse_disclosure_content
                  }
                </li>
              </ul>
              <h4 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .limitation_process_title
                }
              </h4>
              <ul class="animation-element slide-left">
                <li>
                  {
                    data.cryptoVegasPrivacyPolicy.data.attributes
                      .limitation_process_content
                  }
                </li>
              </ul>
              <h4 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .consent_withdraw_title
                }
              </h4>
              <ul class="animation-element slide-left">
                <li>
                  {
                    data.cryptoVegasPrivacyPolicy.data.attributes
                      .consent_withdraw_content
                  }
                </li>
              </ul>

              <h2 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .contacting_use_title
                }
              </h2>
              <p class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .contacting_use_content
                }
              </p>
              <!-- <p>
                To exercise any of the data subject rights or address privacy
                concerns, users can contact us via email at <b
                  >please provide mail <a
                    href="mailto:info@metaprolane.com"
                    class="main-info">info@metaprolane.com</a
                  ></b
                > For identity verification, we may use your personal information
                before acting on your request.
              </p> -->

              <h2 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .complaints_supervisory_title
                }
              </h2>
              <p class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .complaints_supervisory_content
                }
              </p>
              <h4 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .chnages_privacy_meta_title
                }
              </h4>
              <p class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .chnages_privacy_meta_content
                }
              </p>

              <h2 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .policy_update_process_title
                }
              </h2>
              <h4 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .frequency_updated_title
                }
              </h4>
              <p class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .frequency_updated_content
                }
              </p>
              <h4 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .notification_channel_title
                }
              </h4>
              <p class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .notification_channel_content
                }
              </p>
              <h4 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .email_notify_title
                }
              </h4>
              <p class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .email_notify_content
                }
              </p>
              <h4 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .your_responsibility_title
                }
              </h4>
              <h4 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .review_frequency_title
                }
              </h4>
              <p class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .review_frequency_content
                }
              </p>
              <h4 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .policy_accebility_title
                }
              </h4>
              <p class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .policy_accebility_content
                }
              </p>
              <h4 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .email_updates_title
                }
              </h4>
              <p class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .email_updates_content
                }
              </p>
              <h4 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .revision_date_title
                }
              </h4>
              <p class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .revision_date_content
                }
              </p>
              <h4 class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .user_responsibility_title
                }
              </h4>
              <p class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .user_responsibility_content
                }
              </p>
              <p class="animation-element slide-left">
                {
                  data.cryptoVegasPrivacyPolicy.data.attributes
                    .user_responsibility_content1
                }
              </p>
              <!-- <p>
                We appreciate your diligence in reviewing our privacy policy and
                your continued trust in MetaCasino Blackjack. If you have any
                questions or concerns about the privacy policy or its updates,
                please feel free to contact us at <b
                  >please provide mail <a
                    href="mailto:info@metaprolane.com"
                    class="main-info">info@metaprolane.com</a
                  ></b
                >
              </p> -->
            </div>
          </div>
        </section>
      </div>
    </div>
    <script type="text/javascript">
      var $animation_elements = $(".animation-element");
      var $window = $(window);

      function check_if_in_view() {
        var window_height = $window.height();
        var window_top_position = $window.scrollTop();
        var window_bottom_position = window_top_position + window_height;

        $.each($animation_elements, function () {
          var $element = $(this);
          var element_height = $element.outerHeight();
          var element_top_position = $element.offset().top;
          var element_bottom_position = element_top_position + element_height;

          //check to see if this current container is within viewport
          if (
            element_bottom_position >= window_top_position &&
            element_top_position <= window_bottom_position
          ) {
            $element.addClass("in-view");
          }
          // else {
          //   $element.removeClass('in-view');
          // }
        });
      }

      $window.on("scroll resize", check_if_in_view);
      $window.trigger("scroll", check_if_in_view);
    </script>
  </html>
</Layout>
