---
const { title } = Astro.props;
---

<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/country-select-js/2.1.1/css/countrySelect.min.css"
    integrity="sha512-HHSUgqDtmyVfGT0pdLVRKcktf9PfLMfFzoiBjh9NPBzw94YFTS5DIwZ12Md/aDPcrkOstXBp9uSAOCl5W2/AOQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
/>
<!-- <link
    rel="stylesheet"
    href="/vendor/countrySelect.min.css"
    integrity="sha512-HHSUgqDtmyVfGT0pdLVRKcktf9PfLMfFzoiBjh9NPBzw94YFTS5DIwZ12Md/aDPcrkOstXBp9uSAOCl5W2/AOQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
/> -->
<!-- <script type="text/javascript">
    $(document).ready(() => {
        $("form").submit((event) => {
            alert("check");
        });
    });
</script> -->

<section class="contact-us">
    <div class="bg-vectors">
        <img src="assets/images/bg-vector2.webp" alt="vector image" />
    </div>
    <div class="container cus-main">
        <div class="text-center slide-left">
            <div class="py-2 flex justify-center">
                <img
                    src="assets/images/let-telegram.webp"
                    alt="Telegram"
                    class="lets-telegram"
                />
            </div>
            <h5 class="text-white">LET'S TALK</h5>
        </div>
        <div class="row">
            <div class="col-lg-4 slide-left">
                <h4 class="text-white pt-5 pb-3">Have A Project?</h4>
                <p>
                    We assist you with your Metaverse project and help make your
                    vision into reality. We always focus on meeting & exceeding
                    clients' expectations, delivering solutions on time and
                    within budget while maintaining quality.
                </p>
                <div class="calendly-inline-widget"  data-processed="true">
                    <iframe id="calendar-section"
                        src="https://calendly.com/meta_pro_lane/15min"
                        title="Calendly"></iframe>
                </div>
            </div>

            <div class="col-lg-8 slide-right">
                <div id="alerts"></div>
                <form id="contact" method="post">
                    <div class="row">
                        <div class="col-lg-6">
                            <p>
                                Your Name <span
                                    id="name-error"
                                    style="color:yellow;float:right"></span>
                            </p>
                            <fieldset class="bottom-space">
                                <input
                                    name="name"
                                    type="text"
                                    id="name"
                                    placeholder=""
                                    class="ms-l"
                                    required
                                />
                            </fieldset>
                        </div>
                        <div class="col-lg-6">
                            <p>
                                Your Mail <span
                                    id="email-error"
                                    style="color:yellow;float:right"></span>
                            </p>
                            <fieldset class="bottom-space">
                                <input
                                    name="email"
                                    type="text"
                                    id="email"
                                    placeholder=""
                                    class="ms-r"
                                    required
                                />
                            </fieldset>
                        </div>
                        <div class="col-lg-6">
                            <p>Your Country</p>
                            <fieldset>
                                <div class="form-item">
                                    <input
                                        id="country_selector"
                                        type="text"
                                        required=""
                                        class="ms-l"
                                    />
                                    <label
                                        for="country_selector"
                                        style="display:none;"
                                        >Select a country here...</label
                                    >
                                </div>
                                <div class="form-item" style="display: none;">
                                    <input
                                        type="text"
                                        id="country_selector_code"
                                        name="country_selector_code"
                                        data-countrycodeinput="1"
                                        readonly="readonly"
                                        placeholder="Selected country code will appear here"
                                    />
                                    <label for="country_selector_code"
                                        >...and the selected country code will
                                        be updated here</label
                                    >
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-lg-6">
                            <p>
                                Phone Number <span
                                    id="phone-error"
                                    style="color:yellow;float:right"></span>
                            </p>
                            <fieldset class="bottom-space">
                                <input
                                    name="phone"
                                    type="number"
                                    id="phone"
                                    placeholder=""
                                    class="ms-r"
                                    required
                                />
                            </fieldset>
                        </div>
                        <div class="col-lg-6">
                            <p>
                                Company <span
                                    id="company-error"
                                    style="color:yellow;float:right"></span>
                            </p>
                            <fieldset class="bottom-space">
                                <input
                                    name="company"
                                    type="text"
                                    id="company"
                                    placeholder=""
                                    class="ms-l"
                                    required
                                />
                            </fieldset>
                        </div>
                        <div class="col-lg-6">
                            <p>
                                Ask for <span
                                    id="askfor-error"
                                    style="color:yellow;float:right"></span>
                            </p>
                            <fieldset class="bottom-space">
                                <select
                                    class="ask-select"
                                    name="askfor"
                                    id="askfor"
                                    required
                                >
                                    <option value="">Please Select</option>
                                    <option value="Metaverse Virtual Office"
                                        >Metaverse Virtual Office</option
                                    >
                                    <option value="Metaverse Event"
                                        >Metaverse Event</option
                                    >
                                    <option value="Metaverse Virtual City"
                                        >Metaverse Virtual City</option
                                    >
                                    <option value="Metaverse Shopping Mall"
                                        >Metaverse Shopping Mall</option
                                    >
                                    <option value="Metaverse Casino Game"
                                        >Metaverse Casino Game</option
                                    >
                                    <option
                                        value="Metaverse Development Company"
                                        >Metaverse Development Company</option
                                    >
                                    <option
                                        value="Metaverse Game Development Services"
                                        >Metaverse Game Development Services</option
                                    >
                                    <option value="Metaverse for Industries"
                                        >Metaverse for Industries</option
                                    >
                                    <option value="Metaverse Virtual Showroom"
                                        >Metaverse Virtual Showroom</option
                                    >
                                    <option
                                        value="Metaverse Real Estate Solutions"
                                        >Metaverse Real Estate Solutions</option
                                    >
                                    <option value="Metaverse jwelery shopping"
                                        >Metaverse jewelry shopping</option
                                    >
                                </select>
                            </fieldset>
                        </div>
                        <div class="col-lg-12">
                            <p>
                                Your Message <span
                                    id="message-error"
                                    style="color:yellow;float:right"></span>
                            </p>
                            <fieldset class="bottom-space">
                                <textarea
                                    name="message"
                                    class="form-control"
                                    id="message"
                                    placeholder=""
                                    required></textarea>
                            </fieldset>
                        </div>

                        <div class="col-lg-12 pb-4">
                            <fieldset>
                                <div
                                    id="recaptcha"
                                    class="g-recaptcha"
                                    data-sitekey="6LfJs_cpAAAAAKoOOQx5WywYqpt-Smqv-yDU6ZDm"
                                >
                                </div>
                                <div
                                    class="mandatory-text"
                                    id="recaptcha-error"
                                >
                                </div>
                            </fieldset>
                            <div class="col-lg-12 mh-last">
                                <fieldset>
                                    <button
                                        type="submit"
                                        id="submit-btn"
                                        class="btn btn-transparent"
                                        style="width: 120px;
                                    height: 50px;display:flex;justify-content:center;"
                                        >Send Form</button
                                    >
                                    <button
                                        id="submit-loader"
                                        class="contact-btn contact-btn-primary default-btn"
                                        style="width: 120px;
                                            height: 50px; display:flex;justify-content:center;"
                                    >
                                        <div
                                            style="display: flex;
                                            justify-content: center;"
                                        >
                                            <div
                                                class="loader-inner ball-clip-rotate"
                                            >
                                                <div></div>
                                            </div>
                                        </div>
                                    </button>
                                </fieldset>
                                <br /><br />
                                <span
                                    id="msgbl"
                                    style="color:yellow;font-size:20px"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div id="snackbar">Submitted successfully</div>
        </div>
        <script>
            document.getElementById("submit-btn")!.style.display = "block";
            document.getElementById("submit-loader")!.style.display = "none";
            document
                .getElementById("contact")
                ?.addEventListener("submit", async (event) => {
                    console.log("event", event);
                    event.preventDefault();
                    const formData = new FormData(event.target as any);
                    console.log(formData, "formData");
                    const data: { [key: string]: any } = {};
                    formData.forEach((value, key) => {
                        data[key] = value;
                    });
                    console.log(data, "data");
                    let validData = true;
                    if (!data.name) {
                        document.getElementById("name-error")!.innerText =
                            "Enter your Name";
                        validData = false;
                    } else {
                        if (data.name.length < 3) {
                            document.getElementById("name-error")!.innerText =
                                "Name must be atleast 3 characters";
                            validData = false;
                        } else {
                            document.getElementById("name-error")!.innerText =
                                "";
                        }
                    }

                    if (!data.email) {
                        document.getElementById("email-error")!.innerText =
                            "Enter your Email";
                        validData = false;
                    } else if (!validateEmail(data.email)) {
                        document.getElementById("email-error")!.innerText =
                            "Invalid Email Id";
                        validData = false;
                    } else {
                        document.getElementById("email-error")!.innerText = "";
                    }

                    function validateEmail(email: string) {
                        var emailPattern =
                            /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
                        return emailPattern.test(email);
                    }

                    if (!data.phone) {
                        document.getElementById("phone-error")!.innerText =
                            "Enter your Phone Number";
                        validData = false;
                    } else {
                        if (data.phone.length < 10) {
                            document.getElementById("phone-error")!.innerText =
                                "Phone Number must have atleast 10 digits";
                            validData = false;
                        } else {
                            document.getElementById("phone-error")!.innerText =
                                "";
                        }
                    }

                    if (!data.company) {
                        document.getElementById("company-error")!.innerText =
                            "Enter your Company";
                        validData = false;
                    } else {
                        document.getElementById("company-error")!.innerText =
                            "";
                    }

                    if (!data.askfor) {
                        document.getElementById("askfor-error")!.innerText =
                            "Choose Ask For";
                        validData = false;
                    } else {
                        document.getElementById("askfor-error")!.innerText = "";
                    }

                    if (!data.message) {
                        document.getElementById("message-error")!.innerText =
                            "Enter your message";
                        validData = false;
                    } else {
                        document.getElementById("message-error")!.innerText =
                            "";
                    }
                    if (!data["g-recaptcha-response"]) {
                        document.getElementById("recaptcha-error")!.innerText =
                            "Recaptcha is Required";
                        validData = false;
                    } else {
                        document.getElementById("recaptcha-error")!.innerText =
                            "";
                    }
                    if (validData) {
                        document.getElementById("submit-btn")!.style.display =
                            "none";
                        document.getElementById(
                            "submit-loader",
                        )!.style.display = "block";
                        event.preventDefault();
                        const response = await fetch(
                            `${import.meta.env.PUBLIC_STRAPI_URL}`,
                            {
                                method: "POST",
                                headers: { "Content-Type": "application/json" },
                                body: JSON.stringify({
                                    query: `
                            mutation{
                                createContactUs(
                                    data:{
                                        name:${JSON.stringify(data.name)},
                                        email:${JSON.stringify(data.email)},
                                        country:${JSON.stringify(data["country_selector_code"])},
                                        phone:${JSON.stringify(data.phone)},
                                        company:${JSON.stringify(data.company)},
                                        askfor:${JSON.stringify(data.askfor)},
                                        message:${JSON.stringify(data.message)}
                                    }
                                ){
                                    data{
                                        attributes{
                                            name
                                            email
                                            country
                                            phone
                                            company
                                            askfor
                                            message
                                        }
                                    }
                                }
                            }
                            `,
                                }),
                            },
                        );
                        const tempResponse = await response.json();
                        console.log(tempResponse, "tempResponse");
                        if (tempResponse && tempResponse.data) {
                            setTimeout(() => {
                                document.getElementById(
                                    "submit-loader",
                                )!.style.display = "none";
                                document.getElementById(
                                    "submit-btn",
                                )!.style.display = "block";
                            }, 2000);

                            var temp = document.getElementById("snackbar");
                            temp!.className = "show";
                            setTimeout(() => {
                                temp!.className = temp!.className.replace(
                                    "show",
                                    "",
                                );
                                window.location.href =
                                    "/thankyou?name=" +
                                    data?.name +
                                    "&email=" +
                                    data?.email +
                                    "&title=" +
                                    data?.askfor;
                            }, 2000);
                            console.log("submitted succesfully");
                        } else {
                            console.log("failed submit");
                        }
                    }
                });
        </script>
        
        <script>
            setTimeout(() => {
                console.log("check calendar");
                document.getElementById("calendar-section")!.style.display = "block";
            }, 20000);
        </script>
        <script type="text/javascript">
            var $animation_elements = $(".animation-element");
            var $window = $(window);

            function check_if_in_view() {
                var window_height = $window.height();
                var window_top_position = $window.scrollTop();
                var window_bottom_position =
                    window_top_position + window_height;

                $.each($animation_elements, function () {
                    var $element = $(this);
                    var element_height = $element.outerHeight();
                    var element_top_position = $element.offset().top;
                    var element_bottom_position =
                        element_top_position + element_height;

                    //check to see if this current container is within viewport
                    if (
                        element_bottom_position >= window_top_position &&
                        element_top_position <= window_bottom_position
                    ) {
                        $element.addClass("in-view");
                    }
                    // else {
                    //   $element.removeClass('in-view');
                    // }
                });
            }

            $window.on("scroll resize", check_if_in_view);
            $window.trigger("scroll", check_if_in_view);
        </script>
        <script is:inline src="/assets/js/countrySelect.min.js"></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/country-select-js/2.1.1/js/countrySelect.min.js" integrity="sha512-criuU34pNQDOIx2XSSIhHSvjfQcek130Y9fivItZPVfH7paZDEdtAMtwZxyPq/r2pyr9QpctipDFetLpUdKY4g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
        <script is:inline>
            $("#country_selector").countrySelect({
                defaultCountry: "in",
                // onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
                // responsiveDropdown: true,
                //    preferredCountries: ['ca', 'gb', 'us']
            });

            console.log("scriptcheck");
        </script>
        <script>
            document.getElementById("recaptcha")!.style.display = "none";
            document.getElementById("name")!.onclick = () => {
                var script = document.createElement("script");
                script.src = "https://www.google.com/recaptcha/api.js";
                script.async = true;
                script.defer = true;
                document.head.appendChild(script);
                document.getElementById("recaptcha")!.style.display = "block";
                document.getElementById("recaptcha")!.style.marginBottom =
                    "28px";
            };
            // Adjust timeout delay in milliseconds as needed
        </script>
        <!-- <script>
            setTimeout(function () {
                var link = document.createElement("link");
                link.rel = "stylesheet";
                link.href =
                    "https://cdnjs.cloudflare.com/ajax/libs/country-select-js/2.1.1/css/countrySelect.min.css";
                link.integrity =
                    "sha512-HHSUgqDtmyVfGT0pdLVRKcktf9PfLMfFzoiBjh9NPBzw94YFTS5DIwZ12Md/aDPcrkOstXBp9uSAOCl5W2/AOQ==";
                link.crossOrigin = "anonymous";
                link.referrerPolicy = "no-referrer";

                document.head.appendChild(link);
            }, 10000); // Adjust timeout delay in milliseconds as needed
        </script> -->
        <!-- <script>
            setTimeout(function () {
                var script = document.createElement("script");
                script.src = "/assets/js/countrySelect.min.js";
                script.async = true;
                script.defer = true;
                document.head.appendChild(script);
            }, 5000); // Adjust timeout delay in milliseconds as needed
        </script> -->
        <!-- <script is:inline src="https://www.google.com/recaptcha/api.js" async defer
    ></script> -->
    </div>
</section>
